##Atodiad A: Seiber fel rhan o agenda ehangach y llywodraeth

Bwriad y Strategaeth Seiber Genedlaethol yw cefnogi a datblygu amrywiaeth o flaenoriaethau eraill ar gyfer y Llywodraeth ym maes diogelwch, amddiffyn, polisi tramor a’n hagenda economaidd. Yn ei thro, bydd y strategaeth hon yn dibynnu ar y galluoedd ehangach a ddatblygwyd drwy ein system addysg a sgiliau a’n dull gweithredu cenedlaethol o ran polisi diwydiannol digidol a thechnoleg, ymchwil a thwf busnes. Dyma rai o’r prif strategaethau a chynlluniau perthnasol:

- <strong>Yr Adolygiad Integredig</strong>, gan gynnwys ymdrechion cenedlaethol i wella cadernid, mynd i’r afael â bygythiadau i’r wladwriaeth, troseddu cyfundrefnol difrifol a therfysgaeth, cynnal ein mantais strategol drwy wyddoniaeth a thechnoleg, a siapio’r drefn ryngwladol

- Mae’r <strong>Strategaeth Ddata Genedlaethol</strong> yn nodi ein gweledigaeth i harneisio pŵer defnyddio data yn gyfrifol i roi hwb i gynhyrchiant, creu busnesau a swyddi newydd, gwella gwasanaethau cyhoeddus, cefnogi cymdeithas decach, a sbarduno darganfyddiadau gwyddonol, gan roi’r DU ar flaen y gad y don nesaf o arloesi. Mae hyn yn cynnwys trawsnewid defnydd y llywodraeth o ddata er mwyn gwella effeithlonrwydd a gwella gwasanaethau cyhoeddus drwy fynd i’r afael â’r rhwystrau i rannu data rhwng adrannau a gwella ansawdd y data sydd ganddynt. Bydd hyn yn hanfodol i gefnogi ein hagenda seiber drwy sicrhau ein bod yn gallu casglu a defnyddio data o ansawdd da am ddigwyddiadau seiber

- <strong>Y cynllun ar gyfer twf</strong>, sy’n ein helpu i <strong>Ailgodi’n Gryfach</strong> drwy gymorth a buddsoddiad ychwanegol ar gyfer seilwaith, sgiliau ac arloesedd, a’r Strategaeth Arloesi sy’n gosod ein dyheadau ar gyfer economi sy’n cael ei harwain gan arloesedd

- <strong>Y Cynllun ar gyfer Rheoleiddio Digidol</strong>, sy’n nodi ein dull rhagweithiol o reoleiddio technolegau digidol mewn ffordd sy’n ysgogi ffyniant ac yn meithrin ymddiriedaeth yn eu defnydd

- <strong>Y Strategaeth Deallusrwydd Artiffisial Genedlaethol</strong>, sy’n ceisio paratoi’r DU ar gyfer y degawd trawsnewidiol nesaf mewn AI drwy fuddsoddi yn anghenion hirdymor yr ecosystem AI, cefnogi’r broses o drawsnewid i economi sy’n manteisio ar AI, a sicrhau bod y DU yn llywodraethu technolegau AI yn gywir yn genedlaethol ac yn rhyngwladol. Mae hyn hefyd yn cynnwys mesurau i gefnogi arloesedd seiberddiogelwch mewn systemau a alluogir gan AI ar yr un pryd â diogelu’r cyhoedd a meithrin ymddiriedaeth yn ei ddefnydd

- Bydd y <strong>Strategaeth Cadernid Genedlaethol</strong>, sydd ar y gweill yn rhoi rhywfaint o sylw i sut bydd y DU yn aros ar flaen y gad o ran bygythiadau technolegol ac yn aros yn gadarn yn y seiberofod

- Bydd y <strong>Strategaeth Ddigidol</strong> sydd ar y gweill yn gosod gweledigaeth glir o uchelgais y llywodraeth i harneisio awydd newydd am drawsnewid digidol, sbarduno twf, a pharhau i adeiladu economi ddigidol fwy cynhwysol, cystadleuol ac arloesol ar gyfer y dyfodol; a fydd yn adeiladu ar Ddeg Blaenoriaeth Technoleg yr Adran dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon (DCMS) i fanylu ymhellach ar uchelgeisiau’r llywodraeth yn y sector digidol

- <strong>Y Strategaeth Sero Net</strong> i sicrhau bod ein heconomi ffyniannus sy’n cael ei harwain gan arloesedd yn un carbon isel

- <strong>Y Cynllun Gorchfygu Troseddu</strong>, sy’n nodi sut y byddwn yn adfer hyder yn y system cyfiawnder troseddol ac yn gwireddu ein gweledigaeth gyffredin o gael Prydain fwy diogel gyda llai o droseddu a llai o ddioddefwyr<a href="CCS0122233366-001_National_Cyber_Strategy_006_Annex.html#footnote-001">38</a>

Wrth gefn y Strategaeth Seiber Genedlaethol mae dau gyhoeddiad arall sy’n nodi sut y bydd rhannau unigol o’r strategaeth yn cael eu cyflawni. 

- Bydd <strong>Strategaeth Seiberddiogelwch y Llywodraeth</strong> sydd ar y gweill yn manylu ar y cynlluniau ar gyfer gwella diogelwch y llywodraeth a’r sector cyhoeddus, gan gefnogi’r strategaeth genedlaethol hon

- Bydd <strong>Adolygiad o Gymhellion a Rheoliadau 2021</strong> sydd ar y gweill yn nodi ein canfyddiadau ynghylch pa mor effeithiol mae ein gwaith o gymell gwelliannau mewn seiberddiogelwch yn yr economi ehangach wedi bod, a sut rydym yn bwriadu rhoi ar waith elfennau busnes a sefydliadol y golofn cadernid

##Atodiad B: Rheoliadau NIS – Strategaeth Genedlaethol

###Cyflwyniad

####Strategaeth Genedlaethol NIS

1. Y Strategaeth Seiber Genedlaethol yw strategaeth genedlaethol y DU at ddibenion Rheoliad 2 o Reoliadau Rhwydweithiau a Systemau Gwybodaeth (NIS) y DU 2018.

2. Mae’r atodiad hwn yn rhoi rhagor o wybodaeth gan gynnwys:

- rolau a chyfrifoldebau’r awdurdodau allweddol sy’n gyfrifol am weithredu NIS yn y DU; a

- rhestr o’r awdurdodau allweddol perthnasol. 

####Rheoliadau NIS y DU

3\. Yn 2016, cytunodd y Comisiwn Ewropeaidd ar Gyfarwyddeb gyda&apos;r nod o gynyddu diogelwch Systemau Rhwydwaith a Gwybodaeth yn yr Undeb Ewropeaidd (UE). Cefnogwyd hyn gan Lywodraeth y DU.

4\. Ar 20 Ebrill 2018, cyflwynodd y Llywodraeth gyfres newydd o reoliadau, sef <a href="https://www.legislation.gov.uk/uksi/2018/506/made">Rheoliadau Rhwydweithiau a Systemau Gwybodaeth 2018</a> gerbron y Senedd. Daeth y Rheoliadau hyn i rym ar 10 Mai 2018.

5\. Sefydlodd y Rheoliadau NIS drefn reoleiddio newydd yn y DU sy’n mynnu bod gweithredwyr dynodedig gwasanaethau hanfodol a darparwyr gwasanaethau digidol perthnasol yn rhoi mesurau technegol a sefydliadol ar waith i ddiogelu eu rhwydwaith a’u systemau gwybodaeth.

6\. Mae’n berthnasol i sectorau sy’n hanfodol i’n heconomi a’n cymdeithas ac sy’n dibynnu’n drwm ar systemau gwybodaeth a rhwydweithiau; megis ynni, trafnidiaeth, dŵr yfed, gofal iechyd a seilwaith digidol. 

7\. Mae darparwyr gwasanaethau digidol allweddol (megis peiriannau chwilio, gwasanaethau cyfrifiadura yn y cwmwl a marchnadoedd ar-lein) hefyd wedi’u cynnwys.

8\. Mae’r Rheoliadau NIS yn sefydlu:

- fframwaith cenedlaethol i gefnogi’r gweithredu, gan gynnwys strategaeth genedlaethol;

- awdurdodau cymwys sy’n benodol i sectorau yn gweithredu fel rheoleiddwyr;

- y Ganolfan Seiberddiogelwch Genedlaethol (NCSC) fel Un Pwynt Cyswllt a’r Tîm Ymateb i Ddigwyddiadau Diogelwch Cyfrifiadurol (CSIRT). 

9\. Asesir cynnydd drwy gynnal Adolygiadau Ôl-weithredu bob 2-5 mlynedd.

###Prif rolau a chyfrifoldebau 

####Y Fframwaith Cenedlaethol

10\. Swyddfa’r Cabinet sy’n gyfrifol am y Strategaeth Seiber Genedlaethol, ac mae’r Strategaeth Genedlaethol NIS yn rhan o hynny. Mae gan Swyddfa’r Cabinet hefyd gyfrifoldeb cyffredinol dros wella diogelwch a chadernid seilweithiau cenedlaethol hanfodol.

11\. Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon (DCMS) sy’n gyfrifol am weithredu’r Rheoliadau NIS yn gyffredinol, gan gynnwys cydlynu’r awdurdodau perthnasol a’r NCSC. Mae’r Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon yn cyhoeddi canllawiau i awdurdodau cymwys er mwyn cefnogi’r gwaith ehangach o roi’r NIS ar waith ledled y DU.

####Un Pwynt Cyswllt

12\. Y pwynt cyswllt cenedlaethol ar gyfer ymgysylltu â phartneriaid rhyngwladol [yr Undeb Ewropeaidd] ar NIS, cydlynu ceisiadau am weithredu neu am wybodaeth, a chyflwyno ystadegau blynyddol am ddigwyddiadau. Y Ganolfan Seiberddiogelwch Genedlaethol yw Un Pwynt Cyswllt y DU.

####Tîm Ymateb i Ddigwyddiadau Diogelwch Cyfrifiadurol (CSIRT)

13\. Y Ganolfan Seiberddiogelwch Genedlaethol yw CSIRT y DU. Mae’n gyfrifol am fonitro digwyddiadau seiberddiogelwch ar lefel genedlaethol; darparu dadansoddiad amser-real o fygythiadau, amddiffyn rhag ymosodiadau seiber cenedlaethol, darparu cyngor technegol, ac ymateb i ddigwyddiadau seiber mawr i helpu i leihau niwed.

14\. Mae’r Ganolfan yn cynnal y Fframwaith Asesu Seiber seiliedig ar ganlyniadau ac yn darparu canllawiau helaeth ar faterion seiberddiogelwch fel yr Awdurdod Technegol Cenedlaethol.

####Awdurdodau Cymwys 

15\. Mae’r rhain yn gyfrifol am oruchwylio a gorfodi Rheoliadau NIS yn eu sectorau, gan ddynodi ac asesu i ba raddau mae gweithredwyr gwasanaethau hanfodol a darparwyr gwasanaethau digidol perthnasol yn cydymffurfio â gofynion Rheoliadau NIS. Nodir y rhain yn Atodlen 1 Rheoliadau NIS ac mae rhestr yn adran 3.

####Gweithredwyr Gwasanaethau Hanfodol a Darparwyr Gwasanaethau Digidol Perthnasol

16\. Rhaid i’r Gweithredwyr a’r Darparwyr hyn sy’n croesi trothwyon dynodi y sector hwnnw, neu sydd wedi cael eu dynodi gan yr awdurdod perthnasol o dan Reoliad 8(3) o Reoliadau NIS, gydymffurfio â gofynion Rheoliadau NIS.

17\. Mae’r rhain yn cynnwys:

- cymryd mesurau technegol a sefydliadol priodol a chymesur i reoli’r risgiau i ddiogelwch y rhwydwaith a’r systemau gwybodaeth; 

- cymryd camau priodol a chymesur i atal a lleihau dylanwad digwyddiadau sy’n effeithio ar ddiogelwch y rhwydwaith a’r systemau gwybodaeth; 

- hysbysu&apos;r awdurdod cymwys perthnasol am unrhyw ddigwyddiad sy&apos;n cael effaith sylweddol ar ei wasanaethau; 

- bodloni&apos;r gofynion arolygu o dan Reoliadau NIS; a 

- cydymffurfio â hysbysiadau gwybodaeth, gorfodi a chosb.

- Mae’n rhaid i Ddarparwyr Gwasanaethau Digidol Perthnasol hefyd gofrestru gyda Swyddfa’r Comisiynydd Gwybodaeth. 

####Awdurdodau perthnasol eraill:

18\. Mae Llywodraeth y DU yn gweithio’n agos gyda’r Gweinyddiaethau Datganoledig ac awdurdodau perthnasol eraill, gan gynnwys Adrannau Arweiniol y Llywodraeth, ar weithredu Rheoliadau NIS.

19\. Mae’r Ganolfan Diogelu Seilwaith Cenedlaethol (CPNI) yn rhoi cyngor ar ddiogelwch personél a ffisegol cysylltiedig.

###Rhestr o’r awdurdodau allweddol ar gyfer gweithredu NIS

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="2">Awdurdodau Cenedlaethol</th>
</tr>
</thead>
<tbody>
<tr>
<td>Rheoliadau NIS y DU</td>
<td>Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon</td>
</tr>
<tr>
<td>Strategaeth Seiber Genedlaethol y DU</td>
<td>Swyddfa&rsquo;r Cabinet</td>
</tr>
<tr>
<td>Un Pwynt Cyswllt y DU</td>
<td>Y Ganolfan Seiberddiogelwch Genedlaethol</td>
</tr>
<tr>
<td>T&icirc;m Ymateb i Ddigwyddiadau Diogelwch Cyfrifiadurol y DU (CSIRT)</td>
<td>Y Ganolfan Seiberddiogelwch Genedlaethol</td>
</tr>
</tbody>
</table>

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="6">Awdurdodau Cymwys</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Sector</strong></th>
<th><strong>Is-sector</strong></th>
<th><strong>Lloegr</strong></th>
<th><strong>Cymru</strong></th>
<th><strong>Yr Alban</strong></th>
<th><strong>Gogledd Iwerddon</strong></th>
</tr>
<tr>
<th rowspan="3"><strong>Ynni</strong></th>
<td>Trydan</td>
<td colspan="3">Ar y cyd: Yr Adran Busnes, Ynni a Strategaeth Ddiwydiannol a&rsquo;r Awdurdod Marchnadoedd Nwy a Thrydan (Ofgem)</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<td>Olew</td>
<td colspan="3">Yr Adran Busnes, Ynni a Strategaeth Ddiwydiannol</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<td>Nwy</td>
<td colspan="3">Ar y cyd: Yr Adran Busnes, Ynni a Strategaeth Ddiwydiannol a&rsquo;r Awdurdod Marchnadoedd Nwy a Thrydan (Ofgem)39</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<th rowspan="4"><strong>Trafnidiaeth</strong></th>
<td>Awyr</td>
<td colspan="4">Ar y cyd: Yr Adran Drafnidiaeth a'r Awdurdod Hedfan Sifil (CAA)</td>
</tr>
<tr>
<td>Tr&ecirc;n</td>
<td colspan="3">Yr Adran Drafnidiaeth</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<td>Dŵr</td>
<td colspan="4">Yr Adran Drafnidiaeth</td>
</tr>
<tr>
<td>Ffordd</td>
<td colspan="2">Yr Adran Drafnidiaeth</td>
<td>Gweinidogionyr Alban</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<th><strong>Gofal iechyd</strong></th>
<td>Lleoliadaugofal iechyd</td>
<td>Yr Adran Iechyd a Gofal Cymdeithasol</td>
<td>GweinidogionCymru</td>
<td>Gweinidogionyr Alban</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<th><strong>Dŵr Yfed</strong></th>
<td>Dŵr Yfed</td>
<td>Adran yr Amgylchedd, Bwyd a MaterionGwledig</td>
<td>GweinidogionCymru</td>
<td>RheoleiddiwrAnsawdd DŵrYfed yr Alban</td>
<td>Yr Adran Gyllid</td>
</tr>
<tr>
<th><strong>SeilwaithDigidol</strong></th>
<td>SeilwaithDigidol</td>
<td colspan="4">Y Swyddfa Gyfathrebiadau (Ofcom)</td>
</tr>
</tbody>
</table>

##Atodiad C: Geirfa

<strong>Action Fraud –</strong> canolfan riportio ar gyfer twyll a seiberdroseddu lle gall dinasyddion a sefydliadau gysylltu i riportio twyll os ydynt wedi cael eu twyllo neu wedi profi seiberdroseddu yng Nghymru, Lloegr a Gogledd Iwerddon. Yn yr Alban, caiff y rhain eu cyfeirio at Heddlu’r Alban.

<strong>Active Cyber Defence (ACD) –</strong> yn helpu sefydliadau i ddod o hyd i wendidau a’u datrys, rheoli digwyddiadau neu darfu’n awtomataidd ar ymosodiadau seiber. Mae rhai gwasanaethau wedi’u bwriadu ar gyfer y sector cyhoeddus yn bennaf, ac mae eraill ar gael yn fwy eang i’r sector preifat neu ddinasyddion, yn ôl y graddau y maent yn gymwys neu’n ddichonol.

<strong>Adolygiad Integredig –</strong> mae ‘Global Britain in a Competitive Age, the Integrated Review of Security, Defence, Development and From Policy’, yn disgrifio gweledigaeth y llywodraeth ar gyfer rôl y DU yn y byd dros y degawd nesaf a’r camau y bydd y llywodraeth yn eu cymryd hyd at 2025.

<strong>Awdurdodau Cymwys –</strong> cyrff rheoleiddio fel y’u disgrifir yn Rheoliadau Rhwydweithiau a Systemau Gwybodaeth (NIS) 2018. Mae nifer o awdurdodau cymwys yn gyfrifol am wahanol sectorau sy’n cael eu cwmpasu gan NIS.

<strong>Bygythiad seiber –</strong> unrhyw beth sy’n gallu peryglu diogelwch systemau gwybodaeth a dyfeisiau sydd wedi’u cysylltu â’r rhyngrwyd, neu achosi niwed iddynt (gan gynnwys caledwedd, meddalwedd a seilwaith cysylltiedig), y data sydd arnynt a’r gwasanaethau maen nhw’n eu darparu, yn bennaf drwy ddulliau seiber. 

<strong>Canolfan Cydlynu Seiber y Llywodraeth (GCCC) –</strong> Menter arfaethedig ar y cyd rhwng GSG, CDDO a NCSC sy’n dod â’u priod swyddogaethau a meysydd arbenigedd at ei gilydd i gydlynu ymdrechion seiberddiogelwch gweithredol yn well ar draws y llywodraeth, trawsnewid sut mae data seiberddiogelwch a chudd-wybodaeth bygythiadau yn cael eu defnyddio ar draws y llywodraeth, a gwella gallu’r llywodraeth i ‘amddiffyn fel un’.

<strong>COBR –</strong> Ystafell Friffio Swyddfa’r Cabinet. Mae ymateb llywodraeth ganolog y DU i argyfyngau yn seiliedig ar brosesau COBR; dyma’r lleoliad ffisegol, fel arfer yn San Steffan, lle mae’r ymateb canolog yn cael ei weithredu, ei fonitro a’i gydlynu ac mae’n ganolbwynt i ymateb y llywodraeth a ffynhonnell awdurdodol o gyngor i ymatebwyr lleol.

<strong>Corff Gwybodaeth Diogelwch Seiber (CyBOK) –</strong> Adnodd unigryw sy’n darparu, am y tro cyntaf, sylfaen o wybodaeth sy’n cwmpasu ehangder a dyfnder seiberddiogelwch, gan ddangos bod seiberddiogelwch yn cwmpasu ystod eang o ddisgyblaethau.

<strong>Crypt-Allwedd (CK) –</strong> y term sy’n cael ei ddefnyddio i ddisgrifio sut mae’r DU yn defnyddio cryptograffeg i ddiogelu’r wybodaeth a’r gwasanaethau hanfodol y mae cymuned diogelwch genedlaethol a milwrol y DU yn dibynnu arnynt, gan gynnwys rhag ymosodiad gan ein gwrthwynebwyr mwyaf galluog. 

<strong>Cryptoarian –</strong> math o arian digidol a system dalu, e.e. Bitcoin.

<strong>Cryptograffeg –</strong> y wyddoniaeth neu’r astudiaeth sy’n dadansoddi a dehongli codau a seifferau; crypto-ddadansoddi. 

<strong>Cynllun ar gyfer Rheoleiddio Digidol –</strong> mae’n nodi dull gweithredu cyffredinol y llywodraeth ar gyfer rheoli technolegau digidol er mwyn sbarduno twf ac arloesedd. 

<strong>Darparwyr Gwasanaeth a Reolir –</strong> trydydd partïon sy’n darparu set o wasanaethau diffiniedig i gwsmer ac sy’n ysgwyddo’r cyfrifoldeb dros redeg, cynnal a sicrhau’r gwasanaethau hynny.

<strong>Deallusrwydd Artiffisial (AI) –</strong> technoleg lle mae system gyfrifiadurol yn cael ei chodio “i feddwl dros ei hun”, gan addasu a gweithredu’n annibynnol. Gwneir defnydd cynyddol o AI ar gyfer tasgau mwy cymhleth, fel diagnosis meddygol, darganfod cyffuriau, a gwaith cynnal prosesau rhagfynegi.

<strong>Digwyddiad seiber –</strong> digwyddiad a all fod neu sydd yn fygythiad i gyfrifiadur, dyfais sydd wedi’i chysylltu â’r rhyngrwyd, neu rwydwaith – neu ddata sy’n cael ei brosesu, ei storio, neu ei drosglwyddo ar y systemau hynny – a lle bydd efallai angen ymateb i liniaru’r canlyniadau. 

<strong>Dilysu –</strong> proses o wirio hunaniaeth neu briodoleddau eraill defnyddiwr, proses neu ddyfais. 

<strong>Diogel drwy Ddylunio –</strong> meddalwedd, caledwedd a systemau sydd wedi cael eu dylunio o’r cychwyn i fod yn ddiogel.

<strong>Ecosystem seiber –</strong> yr holl seilwaith, unigolion, prosesau, data, gwybodaeth a thechnolegau cyfathrebu sy’n gysylltiedig â’i gilydd, ynghyd â’r amgylchedd a’r amodau sy’n dylanwadu ar y rhyngweithio hynny. 

<strong>Fframwaith Asesu Seiber (CAF) –</strong> mae’n darparu dull systematig a chynhwysfawr o asesu’r graddau y mae risgiau seiber i swyddogaethau hanfodol yn cael eu rheoli gan y sefydliad cyfrifol. 

<strong>Five Eyes –</strong> enw’r gynghrair gudd-wybodaeth rhwng UDA, y DU, Canada, Awstralia a Seland Newydd sy’n helpu i rannu gwybodaeth er mwyn cadw ei dinasyddion mor ddiogel â phosibl rhag bygythiadau.

<strong>Gefaill digidol –</strong> replica rhithiol neu gynrychiolaeth o asedau, prosesau, systemau neu sefydliadau yn yr amgylcheddau adeiledig, cymdeithasol neu naturiol sy’n rhoi cipolwg ar sut mae asedau ffisegol cymhleth a dinasyddion yn ymddwyn, gan helpu sefydliadau i wella’r broses o wneud penderfyniadau a gwneud y gorau o brosesau. Mae newidiadau yn y byd go iawn yn cael eu hadlewyrchu yn y gefaill digidol, a gellir dyblygu newidiadau yn y gefaill digidol yn awtomatig yn y byd go iawn.

<strong>GFCE –</strong> Fforwm Byd-eang ar Arbenigedd Seiber.

<strong>Gwasanaeth Riportio Gwendidau –</strong> mecanwaith y gellir ei ddefnyddio i hysbysu sefydliad am ddiffygion diogelwch cyn iddynt gael eu hecsbloetio gan ymosodwyr.

<strong>Gweithredwyr Gwasanaethau Hanfodol –</strong> sefydliadau mewn sectorau hanfodol sy’n dibynnu’n drwm ar rwydweithiau gwybodaeth, er enghraifft cyfleustodau, gofal iechyd, trafnidiaeth a seilwaith digidol fel y nodir yn y meini prawf yn Rheoliadau Rhwydweithiau a Systemau Gwybodaeth (NIS) 2018.

<strong>Gwendidau –</strong> chwilod mewn rhaglenni meddalwedd sydd â’r potensial i gael eu hecsbloetio gan ymosodwyr. 

<strong>Hen TG </strong>– Mae hen TG yn cyfeirio at systemau sydd â chaledwedd a meddalwedd lle mae’r gwasanaethau cymorth gan y gwerthwr, y cymorth estynedig a/neu’r trefniadau cymorth penodol wedi dod i ben.

<strong>ICANN –</strong> Corfforaeth y Rhyngrwyd ar gyfer Enwau a Rhifau a Neilltuir. Mae’n cydlynu enwau gwefannau a chyfeiriadau IP.

<strong>Lleoedd Cysylltiedig –</strong> cymuned sy’n integreiddio technolegau gwybodaeth a chyfathrebu a dyfeisiau y Rhyngrwyd Pethau (IoT) i gasglu a dadansoddi data er mwyn darparu gwasanaethau newydd i’r amgylchedd adeiledig, a gwella ansawdd bywyd i ddinasyddion.

<strong>Llywodraeth ddatganoledig neu weinyddiaeth ddatganoledig –</strong> Y deddfwrfeydd a’r gweithrediaethau ar wahân yng Nghymru, yr Alban a Gogledd Iwerddon ar ôl datganoli, sy’n gyfrifol am lawer o faterion polisi domestig gyda’r pŵer i lunio deddfau yn y meysydd hyn.

<strong>Meddalwedd wystlo –</strong> meddalwedd maleisus sy’n rhwystro’r defnyddiwr rhag cael mynediad i’w ffeiliau, ei gyfrifiadur neu ei ddyfais nes bydd yn talu pridwerth.  

<strong>Microgynhyrchu –</strong> cynhyrchu ynni ar raddfa fach gan gartrefi, busnesau bach a chymunedau.

<strong>NATO –</strong> Sefydliad Cytundeb Gogledd Iwerydd.

<strong>NCA –</strong> Yr Asiantaeth Troseddu Cenedlaethol.

<strong>OECD –</strong> Y Sefydliad ar gyfer Cydweithrediad a Datblygiad Economaidd. Sefydliad economaidd rhynglywodraethol.

<strong>Parth –</strong> mae enw parth yn dangos lleoliad sefydliad neu endid arall ar y rhyngrwyd ac mae’n cyfateb i gyfeiriad Protocol Rhyngrwyd (IP). 

<strong>Pencadlys Cyfathrebu’r Llywodraeth (GCHQ) –</strong> y ganolfan ar gyfer gweithgareddau casglu cudd-wybodaeth signalau’r Llywodraeth a chartref yr Awdurdod Technegol Cenedlaethol ar gyfer Seiber (NTA).

<strong>Rheoliadau Rhwydweithiau a Systemau Gwybodaeth (NIS) 2018 –</strong> rheoliadau’r DU sy’n darparu mesurau cyfreithiol i roi hwb i ddiogelwch (cadernid ffisegol a seiber) systemau rhwydwaith a gwybodaeth ar gyfer darparu gwasanaethau hanfodol a gwasanaethau digidol.

<strong>Rheoli Digwyddiadau –</strong> rheoli a chydlynu gweithgareddau i ymchwilio ac adfer sgil-effeithiau gwirioneddol neu bosibl o ddigwyddiad seiber niweidiol a allai beryglu neu achosi niwed i system neu rwydwaith. 

<strong>Rhyngrwyd –</strong> rhwydwaith cyfrifiadurol byd-eang, sy’n darparu amrywiaeth o gyfleusterau gwybodaeth a chyfathrebu, yn cynnwys rhwydweithiau rhyng-gysylltiedig gan ddefnyddio protocolau cyfathrebu safonol. 

<strong>Risg seiber –</strong> posibilrwydd y bydd bygythiad seiber penodol yn ecsbloetio gwendidau system wybodaeth ac yn achosi niwed. 

<strong>Seiberddiogelwch –</strong> diogelu systemau sydd wedi’u cysylltu â’r rhyngrwyd (gan gynnwys caledwedd, meddalwedd a seilwaith cysylltiedig), y data sydd arnynt, a’r gwasanaethau maent yn eu darparu, rhag mynediad heb awdurdod, niwed neu gamddefnydd. Mae hyn yn cynnwys niwed a achosir yn fwriadol gan weithredwr y system, neu’n ddamweiniol o ganlyniad i fethu â dilyn gweithdrefnau diogelwch neu gael ei gamarwain i wneud hynny. 

<strong>Seiberdroseddau –</strong> troseddau sy’n seiliedig ar seiber (y gellir eu cyflawni dim ond drwy ddefnyddio dyfeisiau TGCh, lle mae dyfeisiau technolegol yn gyfrwng ar gyfer cyflawni’r trosedd yn ogystal â’r targed hefyd); neu droseddau sy’n cael eu galluogi ar sail seiber (troseddau y gellir eu cyflawni heb ddyfeisiau TGCh, fel twyll ariannol, ond sy’n gallu ehangu’n sylweddol o ran difrifoldeb a chyrhaeddiad drwy ddefnyddio TGCh). 

<strong>Seibergadernid –</strong> gallu cyffredinol systemau, sefydliadau a dinasyddion i wrthsefyll digwyddiadau seiber a, lle mae niwed yn cael ei achosi, ymadfer ohonynt.

<strong>Seiber ymosodol –</strong> ychwanegu, dileu neu gamddefnyddio data ar systemau neu rwydweithiau i gael effaith gorfforol, rithwir neu wybyddol. Yn aml bydd gweithrediadau seiber ymosodol yn camfanteisio ar wendidau technegol, yn defnyddio systemau neu rwydweithiau mewn ffyrdd na fyddai eu perchnogion a’u gweithredwyr yn eu bwriadu neu’n eu cymeradwyo, ac maent yn aml yn ddibynnol ar dwyll neu gamgynrychiolaeth. 

<strong>Seilwaith Cenedlaethol Hanfodol –</strong> Yr elfennau hanfodol hynny o seilwaith (sef asedau, cyfleusterau, systemau, rhwydweithiau neu brosesau a’r gweithwyr hanfodol sy’n eu gweithredu a’u hwyluso), a allai arwain at y canlynol:

a. effaith negyddol ddifrifol ar argaeledd, cywirdeb neu gyflenwad gwasanaethau hanfodol – gan gynnwys y gwasanaethau hynny, os ydynt yn cael eu peryglu, a all arwain at bobl yn cael eu hanafu neu eu lladd ar raddfa fawr – gan ystyried effeithiau economaidd neu gymdeithasol sylweddol; a/neu

b. effaith sylweddol ar ddiogelwch gwladol, amddiffyn gwladol neu weithrediad y wladwriaeth.

<strong>Sganio’r gorwel –</strong> archwiliad systematig o wybodaeth i ganfod bygythiadau, risgiau, materion sy’n dod i’r amlwg a chyfleoedd. Mae’n caniatáu paratoi’n well ac ymgorffori mesurau lliniaru yn y broses o lunio polisïau. 

<strong>System Annibynnol –</strong> casgliad o rwydweithiau IP lle mae’r llwybro dan reolaeth endid neu barth penodol. 

<strong>System Rheoli Diwydiannol (ICS) –</strong> system wybodaeth sy’n cael ei defnyddio i reoli prosesau diwydiannol, fel gweithgynhyrchu, trin cynnyrch, cynhyrchu a dosbarthu, neu i reoli asedau seilwaith. 

<strong>Technolegau cwantwm –</strong> Mae technoleg cwantwm yn dibynnu ar egwyddorion ffiseg cwantwm. Mae’r ddealltwriaeth gynyddol a’r rheolaeth o’r hyn a elwir yn ‘effeithiau cwantwm’ yn arwain at don newydd o ddatblygiadau a fydd yn sail i’n heconomi a’n cymdeithas: synhwyro, trosglwyddo data ac amgryptio, amseru a chyfrifiadura.

<strong>Technolegau Gweithredol (OT) –</strong> cyfuno caledwedd a meddalwedd i fonitro, rheoli ac awtomeiddio prosesau ffisegol, yn enwedig mewn sectorau diwydiannol fel ynni, gweithgynhyrchu, dŵr a thrafnidiaeth.

<strong>Technoleg Cadwyn Atal –</strong> ffordd benodol o storio data. Mae cadwyn atal yn enghraifft o gofnodi dosbarthedig – math o dechnoleg storio lle mae dim ond modd atodi ac na ellir tarfu ag ef.

<strong>Torri diogelwch data –</strong> symud neu ddatgelu gwybodaeth ar rwydwaith heb ganiatâd i barti nad yw wedi’i awdurdodi i gael mynediad at y wybodaeth, na’i gweld. 

<strong>Uniondeb –</strong> ym maes diogelwch gwybodaeth, mae uniondeb yn golygu nad yw gwybodaeth wedi cael ei newid yn ddamweiniol, nac yn fwriadol, a’i bod yn gywir ac yn gyflawn. 

<strong>Y Ganolfan Seiberddiogelwch Genedlaethol (NCSC) –</strong> awdurdod technegol y DU ar gyfer bygythiadau seiber, gan ddarparu ymateb cenedlaethol unedig i ddigwyddiadau seiber er mwyn lleihau niwed, helpu gydag adferiad a dysgu gwersi ar gyfer y dyfodol.

<strong>Ymateb i ddigwyddiadau –</strong> y gweithgareddau sy’n mynd i’r afael ag effeithiau uniongyrchol tymor byr digwyddiad, a allai hefyd gefnogi adferiad tymor byr. 

<strong>Ymosodiad Seiber –</strong> camfanteisio’n fwriadol ar systemau cyfrifiadurol, rhwydweithiau a sefydliadau sy’n dibynnu ar dechnoleg ddigidol i achosi niwed.

<strong>Y rhyngrwyd pethau –</strong> yr holl ddyfeisiau, cerbydau, adeiladau ac eitemau eraill sydd wedi’u plannu gydag electroneg, meddalwedd a synwyryddion sy’n cyfathrebu ac yn cyfnewid data dros y rhyngrwyd.
