##Colofn 2:Seibergadernid

(image)

###Adeiladu DU ddigidol gadarn a ffyniannus

Mae seiberddiogelwch a seibergadernid yn sylfaenol i’n nodau strategol ehangach fel pŵer seiber: hebddynt, ni allwn obeithio manteisio i’r eithaf ar botensial trawsnewidiol technolegau digidol i adeiladu’n ôl yn well, yn decach ac yn gryfach, ac i ddiogelu mantais strategol y DU mewn seiberofod a drwyddo. Rhaid i ni barhau i feithrin amddiffyniadau seiber cryf, gan gymryd camau i ddiogelu rhwydweithiau digidol, gwybodaeth ac asedau’r DU ar lefel genedlaethol, leol ac unigol a sicrhau eu bod yn gadarn pan fydd digwyddiadau’n codi.

Ac er ein bod yn canolbwyntio yn y bennod hon ar seibergadernid, er mwyn bod yn gwbl effeithiol, bydd angen i hyn fod yn rhan o ymdrech gyfannol a chymdeithas gyfan i wella cadernid y DU. Bydd y Strategaeth Cadernid Genedlaethol sydd ar y gweill, un o brif ymrwymiadau’r Adolygiad Integredig, yn nodi’r dull gweithredu cyffredinol ar gyfer cadernid cenedlaethol.

Mae cynnydd sylweddol wedi cael ei wneud yn ystod y degawd diwethaf o ran gwella ein gwytnwch seiber, gyda sefydlu’r Ganolfan Seiberddiogelwch Genedlaethol (NCSC), mae mwy o gyngor, arweiniad ac adnoddau eraill ar gael, a gweithredu deddfwriaeth gan gynnwys Rheoliadau Rhwydweithiau a Systemau Gwybodaeth (Rheoliadau NIS), y Rheoliad Diogelu Data Cyffredinol a Deddf Diogelu Data 2018. Ond mae bylchau difrifol yn dal i fodoli. Mae achosion o dorri diogelwch seiber yn effeithio ar y llywodraeth, busnesau, sefydliadau ac unigolion; mae llawer o sefydliadau’n dal i roi gwybod am nifer fawr o ymosodiadau neu achosion o dorri diogelwch seiber.

Rydym yn adeiladu ar sylfeini’r strategaeth flaenorol, yn esblygu ein dull gweithredu ac yn symud yn gyflymach ar seibergadernid y DU – gan roi pwyslais penodol ar y canlynol: 

- cynyddu ein gwaith i wneud y rhyngrwyd yn fwy diogel yn awtomatig, atal ymosodiadau, cynnwys mesurau diogelu sylfaenol er budd holl fusnesau, sefydliadau a dinasyddion y DU, a chynyddu’r cymorth sydd ar gael i’r rheini sydd leiaf abl i amddiffyn eu hunain ar-lein

- gosod uchelgais i’r llywodraeth weithredu fel esiampl o arfer gorau ym maes seiberddiogelwch

- gwreiddio seiberddiogelwch fel rhan greiddiol o fusnes da drwy ddefnyddio rheoleiddio a chymhellion eraill yn well, a harneisio pŵer ein dealltwriaeth o fygythiadau i adeiladu cymunedau sy’n gallu amddiffyn eu hunain

- ategu hyn i gyd gyda safonau gwrthrychol, tystiolaeth a data a symud o gasglu i weithredu ar y data hwnnw

Yn y strategaeth hon, mae tair agwedd allweddol i’r cysyniad o seibergadernid. Yn gyntaf, mae angen deall natur y <strong>risg</strong>. Yn ail, mae angen gweithredu i <strong>sicrhau</strong> systemau i atal a gwrthsefyll ymosodiadau seiber. Yn drydydd, gan gydnabod y bydd rhai ymosodiadau’n dal i ddigwydd, mae angen i ni baratoi ar gyfer y rhain, bod yn ddigon <strong>cadarn</strong> i leihau eu heffaith a gallu adfer.

Bydd ein dull yn cael ei deilwra ar gyfer pob cynulleidfa, wedi’i gefnogi gan alluoedd cenedlaethol sy’n ein galluogi i fynd i’r afael â risgiau systemig. Y cynulleidfaoedd rydym yn ceisio eu diogelu a dylanwadu arnynt yw dinasyddion, busnesau a sefydliadau’r DU, y llywodraeth a’r sector cyhoeddus, a’r rheini sy’n gweithredu ein seilwaith cenedlaethol hanfodol (gan ddarparu’r gwasanaethau allweddol fel dŵr yfed, trydan, cyllid, trafnidiaeth a thelathrebu - pethau rydym i gyd yn dibynnu arnynt).

Byddwn yn canolbwyntio’n gyntaf ar gamau i ddiogelu’r amgylchedd digidol ar gyfer pawb yn y DU sy’n defnyddio’r rhyngrwyd, atal ymosodiadau, adeiladu diogelwch sylfaenol mewn cynnyrch a gwasanaethau, a helpu unigolion a busnesau bach a sefydliadau gyda chamau gweithredu sylfaenol i wella seiberddiogelwch. Wrth i ni symud ymlaen at y rheini sydd â mwy o gyfrifoldeb a gallu i sefydlu haenau ychwanegol o ddiogelwch a chadernid sy’n gymesur i’r risg, bydd hyn yn arwain at y lefel uchaf o ddiogelwch a ddisgwylir ar gyfer y gwasanaethau cyhoeddus a hanfodol allweddol y mae ein pobl a’n heconomi yn dibynnu arnynt. 

Rhaid i hyn fod yn ymdrech ar y cyd rhwng y llywodraeth a phob rhan o’r economi a chymdeithas. Cyfrifoldeb byrddau busnesau a sefydliadau yw rheoli eu risg seiber eu hunain. Ein nod yw gosod disgwyliadau clir wedi’u hategu gan y fframwaith cywir o gymhellion, cymorth a rheoleiddio i alluogi gwelliannau a throsglwyddo baich risg seiberddiogelwch oddi wrth ddefnyddwyr a thuag at y rhai sydd yn y sefyllfa orau i’w rheoli. 

Rydym yn mynnu bod adrannau’r llywodraeth, y sector cyhoeddus ehangach a gweithredwyr seilwaith cenedlaethol hanfodol sy’n cael eu rheoleiddio (CNI), yn codi eu safonau ac yn rheoli eu risg yn fwy rhagweithiol. Rydym yn disgwyl i fusnesau a sefydliadau mawr, gan gynnwys darparwyr gwasanaethau a phlatfformau digidol, fod yn fwy atebol am ddiogelu eu systemau, eu gwasanaethau a’u cwsmeriaid fel rhan greiddiol o redeg eu busnes. Yn gyfnewid am hynny, bydd y llywodraeth yn gwneud mwy i ddiogelu’r amgylchedd digidol a mynd i’r afael â risgiau systemig a darparu cymorth drwy gyngor, offer, achrediad yn y farchnad, a datblygu’r sgiliau sy’n galluogi gwelliannau.

Rhaid i’n hymdrechion i hyrwyddo seibergadernid yn y DU hefyd fod yn rhan o’n hymgysylltiad rhyngwladol. Mae globaleiddio cynyddol cadwyni cyflenwi, platfformau TG, busnesau rhyngwladol, a’r rhyngrwyd ei hun, yn golygu na allwn wella seiberddiogelwch y DU ar ei ben ei hun. Er mwyn ymateb i’r her hon, bydd angen i ni barhau i feithrin gwell dealltwriaeth o’r cysylltiadau rhwng seibergadernid y DU a’r byd, gan fynd i’r afael â meysydd risg uchel a gweithio gyda phartneriaid rhyngwladol i feithrin gwytnwch sy’n hwyluso trawsnewid digidol, diogelwch a masnach, er budd y naill a’r llall fel y nodir yng Ngholofn 4: Pennod Arweinyddiaeth Fyd-eang.

(image)

####Amcan 1: Gwella dealltwriaeth o risg seiber er mwyn sbarduno gweithredu mwy effeithiol ar seiberddiogelwch a seibergadernid

Byddwn yn darparu partneriaeth llawer agosach rhwng y llywodraeth, busnesau a sefydliadau er mwyn gwella cyd-ddealltwriaeth o’r risg, llywio’r gwaith blaenoriaethu a sefydlu’r achos dros weithredu. Byddwn yn cefnogi dinasyddion drwy weithio gyda busnesau a sefydliadau sy’n darparu gwasanaethau i ddefnyddwyr; ac yn cryfhau gallu’r llywodraeth i adnabod risgiau trawsbynciol ymhellach. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025: 

<strong>Mae gan y Llywodraeth ddealltwriaeth strategol gyfredol o seiberddiogelwch y wlad</strong> ac mae’n defnyddio’r ddealltwriaeth hon i nodi risgiau systemig, i gyfleu blaenoriaethau ac i sbarduno strategaeth a chyflawni. Byddwn yn cynnal ac yn ysgogi rhagor o werth o fuddsoddiadau sylweddol a wneir mewn ‘deall y bygythiad’ o’r Strategaeth Seiberddiogelwch Genedlaethol flaenorol; ac yn adeiladu ar yr ymdrechion presennol i ddeall risg mewn byd sy’n dod yn fwyfwy rhyng-gysylltiedig. Bydd hyn yn cynnwys nodi lle mae cadwyni cyflenwi digidol wedi’u crynhoi’n ormodol, a gweithio gyda phartneriaid rhyngwladol i reoli risgiau ar y cyd. Byddwn hefyd yn gwella sut rydym yn cofnodi troseddau Deddf Camddefnyddio Cyfrifiaduron (CMA), gan ddeall y cysylltiadau rhwng torri diogelwch data a throseddau sy’n deillio o hynny, a chynyddu ein gwybodaeth am sut mae troseddau CMA yn hwyluso mathau eraill o weithgarwch troseddol.

<strong>Mae’r Llywodraeth yn arwain drwy esiampl yn ei dealltwriaeth o risg seiber</strong>. Byddwn yn mabwysiadu Fframwaith Asesu Seiber yr NCSC fel y fframwaith sicrwydd ar gyfer holl adrannau’r llywodraeth, a bydd systemau critigol a chyflenwyr cyffredin yn cael eu mapio. Byddwn yn sefydlu Canolfan Cydgysylltu Seiber newydd y Llywodraeth (GCCC) a Gwasanaeth Adrodd ar Wendidau (VRS) ar draws y Llywodraeth er mwyn galluogi’r llywodraeth i ‘amddiffyn fel un’ wrth reoli digwyddiadau, gwendidau a bygythiadau. Bydd y VRS yn ceisio meithrin cysylltiadau gwerthfawr a dibynadwy gyda’r gymuned ymchwilwyr diogelwch, gan arwain at ostyngiad mewn gwendidau ar draws ystad y llywodraeth. Byddwn hefyd yn parhau i gefnogi a chydlynu cynlluniau tebyg yn y llywodraethau datganoledig, fel y bwriad i sefydlu swyddogaeth gydlynu ganolog ar gyfer seibergadernid yn yr Alban. 

<strong>Ar draws CNI y DU, bydd gennym ddealltwriaeth fwy soffistigedig o risgiau seiber</strong>. Byddwn yn cynyddu faint sy’n mabwysiadu’r Fframwaith Asesu Seiber (CAF) neu gyfatebol ar draws sectorau CNI, ac yn gwella’r gallu i gymharu â fframweithiau adrodd ac asesu seiberddiogelwch eraill sy’n cael eu defnyddio. Byddwn yn cwblhau adolygiadau critigoldeb ac yn mapio dibyniaethau o fewn CNI a’i gadwyni cyflenwi. Byddwn yn adeiladu partneriaethau cryfach gyda pherchnogion a gweithredwyr CNI i wella mynediad at wybodaeth am fygythiadau a risg, a chytuno ar gyflwr risgiau. A byddwn yn gweithio i ddeall risgiau newydd neu lle mae CNI newydd yn dod i’r amlwg o ganlyniad i ddigideiddio a thechnolegau newydd, gan gynnwys fel rhan o flaenoriaethau ehangach fel y trawsnewid i Sero Net. 

<strong>Mae gan fusnesau a sefydliadau yn y DU well dealltwriaeth o risgiau seiber a’u cyfrifoldebau i’w rheoli</strong>. Byddwn yn helpu sefydliadau i ddeall y risg i’w cwsmeriaid yn well, gan gynnwys sut gellid defnyddio’r data sydd ganddynt i hwyluso troseddau fel twyll, dwyn hunaniaeth neu orfodaeth. A byddwn yn rhannu mwy o wybodaeth o ymchwil a data am ba mor gyffredin yw ymosodiadau seiber a’r cynnydd cymharol y mae sectorau yn ei wneud o ran gwella seiberddiogelwch. 

####Amcan 2: Atal a gwrthsefyll ymosodiadau seiber yn fwy effeithiol drwy wella’r gwaith o reoli risg seiber yn sefydliadau’r DU, a darparu mwy o amddiffyniad i ddinasyddion

Mae ein dull o atal a gwrthsefyll ymosodiadau seiber yn tybio: (i) bod gan sefydliadau gyfrifoldeb i gymryd camau i reoli eu risgiau seiber eu hunain ond mae angen fframweithiau atebolrwydd a llywodraethu da cryfach ar lefel bwrdd i wneud hyn yn flaenoriaeth; (ii) bod rôl i’r llywodraeth weithio gyda’r diwydiant i gymryd camau i leihau risg yn uniongyrchol ar raddfa lle mae mewn sefyllfa unigryw i wneud hynny; a (iii) rhaid i ni sicrhau bod cymorth ac arweiniad ar gael i helpu unigolion, masnachwyr unigol a busnesau bach a sefydliadau i reoli eu risgiau seiber. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025: 

<strong>Mae’r Llywodraeth wedi lleihau niwed i’r DU ar raddfa fawr ac wedi lleihau’r baich ar ddinasyddion y DU</strong>. Byddwn yn gweithredu fwyfwy ar lefel uwch ar ran holl ddefnyddwyr y rhyngrwyd yn y DU, gan ehangu ein mesurau Active Cyber Defence i gefnogi ystod ehangach o sectorau, gan gynnwys elusennau, y byd academaidd, dinasyddion a busnesau bach a chanolig eu maint. A byddwn yn cryfhau’r amddiffyniadau i wasanaethau ar-lein drwy ymgysylltu’n well a rhannu gwybodaeth â’r diwydiant. 

Mae’r gwaith hwn yn cyd-fynd â blaenoriaethau eraill y llywodraeth sydd wedi’u hanelu at ddiogelu dinasyddion y DU ar-lein, fel y Bil Diogelwch Ar-lein drafft a pholisi i wrthsefyll troseddau economaidd fel twyll.

Bydd yn golygu gweithio’n agosach gyda sectorau perthnasol gan gynnwys darparwyr gwasanaethau ar-lein, telegyfathrebu, technoleg, bancio ac adwerthu, i ddiogelu defnyddwyr rhyngrwyd y DU yn well, gan gynnwys: ei gwneud hi’n anoddach cofrestru gwefannau at ddibenion anghyfreithlon, rhwystro a dileu mwy o gynnwys maleisus ar-lein, gwella’r broses o adfer a dychwelyd manylion adnabod sydd wedi’u dwyn, a gwella diogelwch seilwaith telathrebu’r DU. Byddwn hefyd yn datblygu opsiynau i roi cefnogaeth statudol i warchod dinasyddion os bydd trefniadau gwirfoddol yn annigonol.

Bydd ein hymdrechion i leihau niwed ar raddfa fawr hefyd yn cynnwys mynd i’r afael â risgiau systemig o’r gadwyn gyflenwi ddigidol. Lle bo angen, byddwn yn ymyrryd i hyrwyddo arallgyfeirio yn y gadwyn gyflenwi, fel rydym yn ei wneud mewn telathrebu; byddwn yn cryfhau ein diogelwch economaidd ar y cyd drwy rannu gwybodaeth yn well a defnyddio dulliau cadarn, rhagweladwy a chymesur i sgrinio buddsoddiadau uniongyrchol o dramor (FDI) mewn sectorau allweddol, ac yn sefydlu gofynion clir ar gyfer cyflenwyr allweddol a chyffredin i’r llywodraeth.

<strong>Mae swyddogaethau hanfodol llywodraeth yn fwy cadarn o lawer i wrthsefyll ymosodiadau seiber a bydd holl sefydliadau’r llywodraeth – ar draws y sector cyhoeddus – yn gallu gwrthsefyll gwendidau a dulliau ymosod hysbys erbyn 2030</strong>. Ein nod yw sefydlu sector cyhoeddus y DU fel enghraifft o arfer gorau. I gefnogi’r canlyniad hwn, byddwn yn cyhoeddi Strategaeth Seiberddiogelwch bwrpasol gyntaf y Llywodraeth. Bydd hyn yn canolbwyntio ar brosesau rheoli risg, llywodraethu ac atebolrwydd mwy effeithiol; galluoedd sy’n cael eu datblygu a’u defnyddio’n ganolog (gan gynnwys Active Cyber Defence); monitro systemau, rhwydweithiau a gwasanaethau yn fwy cynhwysfawr; ymateb cyflym ac ar raddfa i ddigwyddiadau; a buddsoddi mewn sgiliau, gwybodaeth a diwylliant sy’n hyrwyddo newid cynaliadwy.

<strong>Mae risgiau seiber i seilwaith cenedlaethol hanfodol yn y DU yn cael eu rheoli’n fwy effeithiol</strong>. Gwasanaethau o’r fath yw’r rhai y mae’r wlad yn dibynnu arnynt fwyaf. Byddwn yn parhau i weithio’n agos gyda gweithredwyr i sicrhau cadernid yn erbyn dulliau ymosod cyffredin cyn gynted â phosibl a rhoi mesurau diogelu mwy datblygedig ar waith lle bo hynny’n briodol. Ar gyfer Gweithredwyr Gwasanaethau Hanfodol a ddynodir o dan reoliadau NIS, mae hyn o leiaf yn golygu cyrraedd y safon sylfaenol a bennir gan yr Awdurdodau Cymwys perthnasol ar gyfer pob sector. 

I gefnogi’r canlyniad hwn, byddwn yn adolygu gallu’r llywodraeth i ddal gweithredwyr CNI i gyfrif i sicrhau eu bod yn buddsoddi yn seiberddiogelwch systemau hanfodol ac yn rheoli eu risg yn effeithiol, gan gynnwys o’u cadwyni cyflenwi. Byddwn yn cryfhau’r fframwaith rheoleiddio, er mwyn gwella ei ddarpariaeth, ei bwerau a’i ystwythder i addasu, o fewn cyd-destun y risg diogelwch gwladol ehangach a’r bygythiad a’r dechnoleg sy’n newid yn gyflym. Bydd hyn yn dechrau gydag ymgynghoriad ar ddiwygiadau i reoliadau NIS, gweithredu’r fframwaith diogelwch newydd ar gyfer darparwyr telathrebu yn y DU a datblygu fframwaith rheoleiddio cymesur i sicrhau y bydd y system ynni clyfar a hyblyg y bydd ei hangen ar y DU i ddarparu Sero Net yn ddiogel ac yn gadarn yn erbyn bygythiadau seiber. 

Ochr yn ochr â hyn, byddwn yn: gwella gallu rheoleiddwyr; buddsoddi mewn sgiliau i wella gallu gweithredwyr CNI i ddenu, i ddatblygu ac i gadw gweithwyr seiber proffesiynol (gweler y bennod ar Ecosystem Seiber y DU); a chefnogi rheolwyr i reoli risg y gadwyn gyflenwi drwy ymgysylltu rhagor â chyflenwyr hanfodol ac archwilio’r ystod lawn o ysgogiadau, o ganllawiau i gynigion deddfwriaethol a chaffael.

<strong>Mae’r seilwaith rydym yn defnyddio data arno yn ddiogel ac yn gadarn</strong>. Mae’r seilwaith hwn yn ased cenedlaethol hanfodol – un sy’n cefnogi ein heconomi, yn darparu gwasanaethau cyhoeddus ac yn sbarduno twf. Byddwn yn chwarae mwy o ran yn y gwaith o sicrhau bod data’n cael ei ddiogelu’n ddigonol pan fydd yn cael ei brosesu, yn cael ei drosglwyddo neu’n cael ei storio ar raddfa fawr, er enghraifft mewn canolfannau data allanol. Byddwn yn adeiladu fframwaith rheoli risg cryfach i sicrhau safonau diogelwch a chadernid uwch ar draws y sector ac yn gweithredu darpariaethau Deddf Diogelwch a Buddsoddi Cenedlaethol 2021 i sgrinio buddsoddiadau’n gryfach. Byddwn yn cryfhau ein gwaith gyda phartneriaid rhyngwladol i sicrhau nad yw mwy o fynediad a llifoedd data byd-eangyn cynyddu’r risgiau diogelwch sy’n wynebu’r DU, a byddwn hefyd yn mynd i’r afael â’r heriau diogelwch sy’n gysylltiedig â chasglu data torfol. 

Byddwn hefyd yn ystyried pa mor hanfodol yw gwasanaethau seilwaith data’r DU o ran ategu’r economi a’i rôl mewn seilwaith cenedlaethol hollbwysig. Mae’r mesurau hyn yn cyd-fynd â’r ymrwymiadau a nodir yn y Strategaeth Data Genedlaethol a’r Adolygiad Integredig.

<strong>Mae mwy o fusnesau a sefydliadau yn y DU yn rheoli eu risgiau seiber yn rhagweithiol ac yn cymryd camau i wella eu seibergadernid</strong>. Byddwn yn darparu cymorth ac yn sbarduno newid mewn ymddygiad drwy ddatblygu cymhellion yn y farchnad sy’n hybu seiberddiogelwch effeithiol. Lle bo angen, bydd hyn yn cael ei ategu gan ddeddfwriaeth wedi’i thargedu i sicrhau bod risg seiber yn cael ei rheoli’n effeithiol gan y rheini sydd â’r cyfrifoldeb mwyaf i wneud hynny, a bod deddfwriaeth seiberddiogelwch y DU yn dal yn effeithiol yng ngoleuni risgiau a thechnolegau sy’n esblygu. 

I gefnogi’r nodau hyn, byddwn yn gweithio fwyfwy gyda dylanwadwyr y farchnad (caffaelwyr, sefydliadau ariannol, buddsoddwyr, archwilwyr ac yswirwyr) i gymell arferion seiberddiogelwch da ar draws yr economi. Byddwn yn cynnig gwelliannau i adroddiadau corfforaethol ar gadernid i risgiau, gan gynnwys risgiau seiber. Bydd hyn yn rhoi gwell dealltwriaeth i fuddsoddwyr ac i gyfranddalwyr o sut mae cwmnïau’n rheoli ac yn lliniaru risgiau perthnasol i’w busnes. A byddwn yn parhau i hyrwyddo’r defnydd o achrediadau a safonau fel y cynllun ardystio Cyber Essentials a hyrwyddo ymgysylltiad ar lefel bwrdd â rheoli risgiau seiber. 

Bydd deddfwriaeth a dargedir yn canolbwyntio’n bennaf ar sectorau lle mae effaith bosibl ymosodiadau seiber ar ei mwyaf, gan gynnwys darparwyr gwasanaethau hanfodol a digidol penodol, diogelu data yn yr economi ehangach, ac ar gyfer busnesau mwy. Bydd hyn yn ategu’r Cynllun ar gyfer Rheoleiddio Digidol, gan ganolbwyntio i ddechrau ar reoliadau sy’n llywodraethu diogelwch Rhwydweithiau a Systemau Gwybodaeth (NIS) – fel yr amlinellir uchod ac yn y bennod Technoleg a’r camau nesaf i ddiwygio trefn y DU ar gyfer diogelu data personol.

Bydd rhagor o fanylion sy’n amlinellu’r camau y byddwn yn eu cymryd i wella cadernid busnes a seiberddiogelwch ar draws busnesau a sefydliadau yn y DU yn cael eu nodi yn yr Adolygiad o Gymhellion a Rheoliadau Seiberddiogelwch.

<strong>Mae cyngor technegol, adnoddau hunan-gymorth a chynnyrch a gwasanaethau wedi&apos;u sicrhau i wella seibergadernid yn hawdd i’w canfod a’u gwella’n barhaus, gyda phwyslais arbennig ar helpu dinasyddion, masnachwyr unigol a sefydliadau bach</strong>. Byddwn yn parhau i ddatblygu canllawiau a dulliau hunan-gymorth sy’n dechnegol gywir, yn amserol ac y gellir eu gweithredu drwy’r NCSC. Byddwn yn sicrhau bod negeseuon yn gyson, yn glir ac yn cael eu darparu drwy’r sianeli mwyaf effeithiol, boed hynny drwy ymgyrch Cyber Aware, gwefan NCSC, y llywodraeth, rhwydweithiau gorfodi’r gyfraith neu bartneriaethau â’r diwydiant; a byddwn yn sicrhau bod mwy o gymorth ar gael ar lefel leol. Drwy’r ‘Hawl Ddigidol’, byddwn yn parhau i ariannu cymwysterau Sgiliau Digidol Hanfodol yn llawn ar gyfer oedolion sydd eu hangen, gan sicrhau bod dysgwyr yn meddu ar y sgiliau digidol sylfaenol sydd eu hangen arnynt i fod yn ddiogel ac yn gyfrifol ar-lein. A byddwn yn helpu busnesau a sefydliadau i lywio drwy’r farchnad seiberddiogelwch gymhleth, gan ymestyn ein fframweithiau ar gyfer cynnyrch a gwasanaethau wedi&apos;u sicrhau, a datblygu cynigion masnachol o amgylch Cyber Essentials a fydd yn ei gwneud yn haws i fusnesau bach gael gafael ar gyngor sylfaenol.

$CTA
####Elis Power, Swyddog Diogelu ac Atal Seiber, Uned Seiberdroseddau Rhanbarthol Tarian

Mae Uned Seiberdroseddau Rhanbarthol Tarian yn dîm amlddisgyblaethol o swyddogion heddlu a staff sydd ar secondiad o Heddluoedd Cymru. Eu nod yw cyfrannu at ddarparu amgylchedd seiber sy’n fwy diogel a saff yn Ne Cymru. 

Mae’r Swyddog Diogelu/Atal Seiber, Elis Power, yn gweithio i’r tîm ymgysylltu: 

“Mae’n ystrydeb ond does dim un diwrnod arferol ar yr uned. O ddydd i ddydd, gallwn fod yn gyfrifol am roi cyflwyniadau sy’n cynnwys cyngor i adrannau mewnol yr heddlu, neu sefydliadau allanol, i sicrhau eu bod yn deall yn iawn sut mae diogelu eu hunain a’u gweithle rhag bygythiadau seiber. Gallwn hefyd fod yn cyflwyno i bobl ifanc mewn ysgolion ar bynciau sy’n amrywio o ddiogelwch ar y rhyngrwyd i Ddeddf Camddefnyddio Cyfrifiaduron 1990. Rwy’n mynd i gyfarfodydd rheolaidd gydag asiantaethau partner a heddluoedd i drafod bygythiadau newydd a chanllawiau cysylltiedig i’n cynulleidfaoedd. Rwyf hefyd yn ymgysylltu â sefydliadau rydym wedi cael rhybuddion am wendidau ganddynt, yn cymryd rhan mewn ymgyrchoedd cenedlaethol, yn ymddangos mewn digwyddiadau a chynadleddau perthnasol, ac yn dod o hyd i amser i wella fy sgiliau, fy ngalluoedd a’m gwybodaeth yn gyson”.
$CTA

####Amcan 3: Cryfhau cadernid ar lefel genedlaethol a sefydliadol er mwyn paratoi ar gyfer ymosodiadau seiber, ymateb iddynt ac adfer ar eu hôl

Er gwaethaf ymdrechion i ddeall y risg a chymryd camau ataliol, bydd rhai digwyddiadau’n dal i ddigwydd. Mae angen i ni gryfhau’r gallu i reoli ac ymateb i ddigwyddiadau ar draws pob sefydliad, er mwyn lleihau’r niwed a achosir a darparu gwell cymorth i ddioddefwyr. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025: 

<strong>Mae’r ffordd mae’r DU yn rheoli ac yn cydlynu’r ymateb i ddigwyddiadau seiber sydd ag arwyddocâd cenedlaethol yn fwy effeithiol byth</strong>. Byddwn yn adeiladu ar brofiad y llywodraeth o ymateb i ddigwyddiadau seiber sylweddol, gan sicrhau bod y gwersi a nodir yn cael eu defnyddio i wella ein polisïau a’n prosesau. Byddwn yn rhannu ein profiad o reoli argyfyngau â phartneriaid rhyngwladol a’r diwydiant ac, yn ei dro, yn nodi arferion gorau o fannau eraill er mwyn gwella ein parodrwydd a’n prosesau. Byddwn yn sicrhau bod yr NCSC a thimau rheoli digwyddiadau asiantaethau gorfodi’r gyfraith yn meddu ar yr arbenigedd a’r adnoddau angenrheidiol i ymateb i’r ystod lawn o fathau o ddigwyddiadau sy’n esblygu a chydlynu ymateb cenedlaethol i fygythiadau blaenoriaeth.

<strong>Mae’n haws riportio digwyddiadau seiber ac mae dioddefwyr seiberdroseddau’n cael gwell cymorth</strong>. Bydd gwybodaeth riportio hefyd yn cael ei defnyddio i helpu i atal digwyddiadau yn y dyfodol a chefnogi asiantaethau gorfodi&apos;r gyfraith i ymchwilio i seiberdroseddwyr, amharu arnynt a’u herlyn. I gefnogi hyn, byddwn yn darparu gwasanaeth riportio a dadansoddi twyll a seiberdroseddau cenedlaethol newydd yn lle Action Fraud erbyn 2025. Byddwn yn annog mwy o bobl i riportio digwyddiadau seiber mewn ffyrdd eraill, gan gynnwys drwy allu riportio busnes newydd yn Heddlu Dinas Llundain. Mewn sectorau sy’n cael eu rheoleiddio, byddwn yn galluogi rheoleiddwyr i fynnu bod ystod ehangach o ddigwyddiadau’n cael eu riportio, gan gynnwys ‘digwyddiadau a fu bron â digwydd’. Bydd cyflwyno’r Uned Genedlaethol Gofal i Ddioddefwyr Troseddau Economaidd yn gwella’r gefnogaeth a’r arweiniad sydd ar gael i ddioddefwyr ar ôl profiad sy’n gallu achosi straen a niwed. 

<strong>Mae’r Llywodraeth a CNI yn fwy parod i ymateb i ddigwyddiadau ac adfer ar eu hôl, gan gynnwys drwy gynllunio digwyddiadau’n well ac ymarfer rheolaidd</strong>. Byddwn yn helpu llywodraeth y DU a gweithredwyr CNI i ddod o hyd i’r gwasanaethau ymarferion seiber a rheoli digwyddiadau sydd eu hangen arnynt o’r farchnad drwy ehangu cynllun achrededig NCSC ar gyfer Ymateb i Ddigwyddiadau Seiber a chyflwyno cynllun newydd ar gyfer ymarfer. 

Yn y llywodraeth, bydd galluoedd monitro a chanfod yn cael eu gwella mewn adrannau ac ar draws ystad ddigidol y llywodraeth. Byddwn yn sicrhau bod gwersi’n cael eu nodi a’u defnyddio i wella ein polisïau a’n prosesau; rhannu profiadau o reoli argyfyngau â phartneriaid rhyngwladol a diwydiant; a sicrhau bod gan ein timau rheoli digwyddiadau yr arbenigedd, y capasiti a’r gallu angenrheidiol i ymateb i’r ystod lawn o fathau o ddigwyddiadau sy’n esblygu.

Yn CNI byddwn yn nodi gofynion clir ar gyfer ymarfer a phrofi neu efelychu gwrthwynebwyr ar draws gweithredwyr CNI, ac yn ysgogi arloesedd a chydweithio mewn ymateb i ddigwyddiadau ac ymarfer, gan ystyried defnyddio modelau fel Canolfan Cydweithredu Seiber y Sector Ariannol. Ac fel rhan o’n huchelgeisiau ar dechnoleg (a amlinellir yn y bennod nesaf) byddwn yn sefydlu labordy cenedlaethol ar gyfer diogelwch technoleg weithredol fel canolfan ragoriaeth ar gyfer profi, ymarfer a hyfforddi ar dechnolegau diwydiannol hanfodol i feithrin gallu yn y maes hwn, ar y cyd â diwydiant, y byd academaidd a phartneriaid rhyngwladol.

<strong>Mae gan fusnesau a sefydliadau’r DU ddealltwriaeth gliriach o beth i’w wneud os bydd digwyddiad, pwy i’w ffonio, pwy all helpu a sut mae adfer</strong>. Byddwn yn gwella mynediad at hyfforddiant ac ymarferion, gyda chefnogaeth gwasanaethau’r diwydiant wedi’u sicrhau, gan gynnwys cynllun Ymateb i Ddigwyddiadau Seiber newydd a gwasanaeth Ymarfer Digwyddiadau Seiber. Byddwn yn sicrhau mynediad at gymorth gorfodi’r gyfraith cenedlaethol cyson i unigolion sy’n dioddef seiberdrosedd ac yn annog busnesau a sefydliadau bach i fanteisio ar gymorth lleol, fel eu Canolfan Seibergadernid ranbarthol.

$CTA
####Daniel Ng, Prif Swyddog Gweithredol, CyberOwl

Cafodd CyberOwl fudd o raglen datblygu seiber y llywodraeth. Rydym yn dadansoddi ac yn monitro seiberddiogelwch ar gyfer asedau gweithredol yn y sectorau morol a CNI. Mae’r ymgyrch at gynaliadwyedd yn galw am fwy o gysylltedd a digidoleiddio asedau maes, gan eu hamlygu i risgiau seiber. Mae CyberOwl yn helpu gweithredwyr i ganfod a mapio eu hasedau, cael rhybudd cynnar o risgiau seiber a phrofi i’w hunain a rheoleiddwyr eu bod wedi sicrhau hynny. Rydym yn gweithio gyda gweithredwyr asedau morol mwyaf y byd ar draws EMEA ac Asia a&apos;r Môr Tawel i wella cadernid y gadwyn gyflenwi logisteg llongau byd-eang. Yn 2021, rydym wedi cynyddu archebion 14 gwaith a dyblu ein gweithrediadau yn y DU a Singapore.
$CTA

$CTA
####Jen Ellis, Is-lywydd Cymuned a Materion Cyhoeddus, Rapid7

Mae fy ngwaith yn cynnwys siarad ag arweinwyr a gweithwyr proffesiynol ym maes diogelwch mewn sefydliadau o bob maint a sector er mwyn deall yr heriau maen nhw’n eu hwynebu a cheisio dod o hyd i atebion i’w helpu i ddatblygu eu seiberddiogelwch. Rwy’n clywed yn gyson bod sefydliadau’n cael eu llethu a ddim yn gwybod ble i ganolbwyntio, sut mae dechrau arni, na sut mae symud ymlaen. Mae hefyd yn gallu bod yn anodd i staff technegol gael cefnogaeth gan yr arweinwyr. Mae cael strategaeth seiber glir, dryloyw a chyson gan y llywodraeth yn gallu helpu i fynd i’r afael â hyn. Mae’n rhoi rhywbeth i staff technegol gyfeirio ato fel rhan o’u trafodaethau gyda’r arweinwyr. Mae hefyd yn nodi meysydd ffocws craidd a llwybr posibl at aeddfedrwydd. Mae seiberddiogelwch yn dal yn hynod gymhleth ac yn ddi-ben-draw, ond gyda’r strategaeth seiber eang, mae mwy o ddealltwriaeth o’i bwysigrwydd a theimlad ein bod i gyd yn rhan o hyn gyda’n gilydd.
$CTA