##Colofn 4:Arweinyddiaeth Fyd-eang

(image)

###Hyrwyddo arweinyddiaeth a dylanwad byd-eang yn y DU ar gyfer trefn ryngwladol ddiogel a ffyniannus

Mae seiberofod rhydd, agored, heddychlon a diogel yn dal yn hanfodol i’n diogelwch a’n ffyniant i gyd, a bydd ymgysylltu rhyngwladol yn parhau i fod yn hanfodol er mwyn cyflawni holl amcanion strategaeth seiber y DU. Fodd bynnag, er mwyn ymateb i gyfnod o gystadleuaeth systemig, bydd y DU nawr yn ymgymryd â rôl arweinyddiaeth ryngwladol fwy gweithredol i hyrwyddo ein buddiannau a’n gwerthoedd mewn seiberofod. Bydd gweithgarwch y DU mewn seiberofod a’n harbenigedd seiber hefyd yn ganolog i gyflawni agenda polisi tramor ehangach y llywodraeth: byddwn yn eu defnyddio’n rhagweithiol i helpu i sicrhau trefn ryngwladol agored, ddiogel a ffyniannus.

Byddwn yn atgyfnerthu ein cynghreiriau craidd, gan weithio gydag ystod ehangach o bartneriaid, gan gynnwys diwydiant, cyrff safonau technegol byd-eang, cymdeithas sifil a’r byd academaidd fel gwlad sy’n datrys problemau ac yn rhannu’r baich. Byddwn yn buddsoddi mewn perthnasoedd dyfnach gyda phartneriaid yn Affrica ac Ardal Cefnfor yr India a’r Môr Tawel ac yn manteisio ar gyfleoedd ar gyfer cynghreiriau newydd, mwy ystwyth. Byddwn hefyd yn dal i wella ein pecyn cymorth diplomyddol, gan gysylltu ein dylanwad tramor â’n cryfderau domestig, gan fanteisio ar ein harbenigedd gweithredol a strategol ym maes cyfathrebu, ein rhaglenni sgiliau a’n partneriaethau economaidd fel grym byd-eang er lles. Mae ein dull gweithredu er budd diogelwch a ffyniant byd-eang, nid dim ond ein diogelwch a’n ffyniant ein hunain. 

####Amcan 1: Cryfhau seiberddiogelwch a seibergadernid partneriaid rhyngwladol a chynyddu gweithredu ar y cyd i amharu ar a rhwystro gwrthwynebwyr

Mae gweithredu ar y cyd a chadernid rhwng y naill a’r llall yn hanfodol i fynd i’r afael â bygythiadau uwch, ar yr un pryd â lleihau’r cymhellion i weithredwyr bygythiadau seiber gyflawni ymosodiadau yn erbyn y DU a’i phartneriaid. Byddwn yn cyflawni’r canlynol erbyn 2025: 

<strong>Mae gan bartneriaid rhyngwladol y DU alluoedd cryfach, penderfyniad gwleidyddol, trefn lywodraethu, a systemau ar gyfer ymchwilio ac amharu ar fygythiadau seiber, yn ogystal ag ar gyfer meithrin gwytnwch</strong>. Bydd hyn wedi arwain at lai o fygythiad o dramor i ddinasyddion y DU. Byddwn yn rhoi blaenoriaeth i’n cymorth meithrin gallu seiber yn Nwyrain Ewrop, Affrica ac Ardal Cefnfor yr India a’r Môr Tawel, ac yn parhau i weithio gyda chynghreiriaid allweddol yn y Dwyrain Canol a Gogledd a De America. Byddwn yn datblygu cynnig technegol mwy integredig, llywodraeth gyfan, gyda mwy o fuddsoddiad mewn arbenigedd ym maes gorfodi’r gyfraith ac amddiffyn, gan fanteisio mwy ar ddiwydiant a’r byd academaidd yn y DU. Byddwn yn canolbwyntio ar ddiogelu seilwaith a chadwyni cyflenwi rhyngwladol hanfodol, hyrwyddo defnyddio technolegau digidol yn ddiogel a gweithio gyda phartneriaid yn y diwydiant i wneud hynny ar raddfa fawr. 

Byddwn hefyd yn gwneud mwy i feithrin gallu sefydliadau cymdeithas sifil, gan alluogi trafodaeth seiliedig ar werthoedd am dechnoleg a chymdeithas a chreu mecanweithiau atebolrwydd lleol. A byddwn yn parhau i weithio gyda sefydliadau a phartneriaethau amlochrog effeithiol gan gynnwys y Cenhedloedd Unedig, Five Eyes, NATO, G7, yr Undeb Ewropeaidd, y Gymanwlad, y Sefydliad ar gyfer Cydweithrediad a Datblygiad Economaidd, y Fforwm Byd-eang ar Arbenigedd Seiber (GFCE), Fforwm ASEAN, Undeb Affrica a Banc y Byd.

Er mwyn gwella ein diogelwch ar gyfer buddiannau’r DU a dinasyddion dramor, byddwn hefyd yn datblygu ac yn cyflwyno ymgyrch hylendid seiber ryngwladol ar gyfer teithiau tramor y DU a fydd yn cael eu teilwra a’u darparu’n lleol. Y nod fydd codi cost gweithgarwch maleisus, fel hacio, dwyn data a dwyn eiddo deallusol a meddalwedd wystlo. Cyflwynir yr ymgyrch drwy ein diplomyddion, staff o’r wlad, y gymuned fusnes Brydeinig leol a gweithredwyr rhaglenni datblygu’r DU. 

<strong>Cynghrair ryngwladol ehangach sy’n fodlon ac yn gallu rhoi canlyniadau mwy ystyrlon i wrthwynebwyr y DU</strong>. Byddwn yn gwella penderfyniad a gallu rhyngwladol drwy fwy o ymgysylltu diplomyddol, cydweithredu gweithredol, rhannu gwybodaeth ac ymarfer ar y cyd. Drwy weithio drwy sianeli polisi, gweithredol a gorfodi’r gyfraith, byddwn yn cynyddu effaith mesurau, fel sancsiynau seiber wedi’u targedu, yn ogystal â chanfod adnoddau newydd ar gyfer codi’r costau i’r rheini sy’n gyfrifol am fygythiadau seiber. Byddwn yn meithrin mwy o gyd-ddealltwriaeth ar draws grymoedd seiber y gwledydd allweddol cysylltiedig a’r gwledydd sy’n bartneriaid, ac yn integreiddio gweithrediadau seiber yn well i weithrediadau cysylltiedig ar draws pob maes: tir, môr, awyr, gofod a seiberofod. 

A byddwn yn parhau i gefnogi datblygiad galluoedd seiberddiogelwch cynghrair NATO ar gyfer gweithredu ar y cyd cryfach, gan gynnwys cefnogi&apos;r prosesau i integreiddio effeithiau seiber sofran a ddarperir yn wirfoddol gan y DU a rhai cynghreiriaid eraill, i weithrediadau ac ymgyrchoedd NATO.

####Amcan 2: Llunio trefn lywodraethu fyd-eang i hyrwyddo seiberofod agored, heddychlon a diogel am ddim

Mae gwladwriaethau nad ydynt yn rhannu gwerthoedd y DU yn manteisio ar yr heriau a gyflwynir gan ryngrwyd rhydd ac agored i fwrw ymlaen â’u gweledigaethau awdurdodaidd ar gyfer seiberofod, o dan gochl diogelwch. Bydd y DU yn fwy rhagweithiol, gan weithio gyda’n cynghreiriaid a’n partneriaid i sicrhau bod rheolau a fframweithiau rhyngwladol yn datblygu yn unol â’n gwerthoedd democrataidd. Ein nod yw cefnogi twf economaidd cenedlaethol a byd-eang, gwella diogelwch ar y cyd, hybu defnydd cyfrifol o offer seiber ymosodol a sicrhau canlyniadau go iawn ar gyfer gweithgareddau maleisus ac anghyfrifol. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025:

<strong>Mae llywodraethu seiberofod a’r rhyngrwyd yn fyd-eang yn diogelu buddiannau a gwerthoedd y DU, gyda’r DU a’n partneriaid yn cael mwy o ddylanwad</strong> dros ddatblygu a gweithredu fframweithiau safonau a llywodraethu rhyngwladol. Byddwn yn fwy blaengar a rhagweithiol wrth lunio’r fframweithiau sy’n rheoli seiberofod er mwyn hybu twf economaidd a diogelwch byd-eang. Byddwn yn dylunio ac yn cyflwyno camau ymarferol sy’n chwalu’r ddadl ryngwladol ar ddefnyddio rheolau, normau ac egwyddorion mewn seiberofod ac yn ei symud at gonsensws ar gyfyngiadau effeithiol ar weithgarwch dinistriol sy’n dadsefydlogi. Byddwn yn gwneud hyn drwy sefydliadau rhanbarthol ac arbenigol allweddol gan gynnwys OSCE, ASEAN a’r GFCE ac yn ymgysylltu’n adeiladol â phroses y Cenhedloedd Unedig i ddatblygu cytuniad seiberdroseddu rhyngwladol newydd sy’n cyd-fynd â Chonfensiwn Budapest, gan sicrhau ei fod yn cryfhau cydweithrediad rhyngwladol ac yn dal i amddiffyn hawliau dynol. 

Byddwn hefyd yn parhau i hyrwyddo Confensiwn Budapest ar seiberdroseddu, gan weithio gyda phartneriaid rhyngwladol i gyflwyno achos cryf iddo barhau i fod yn brif gytundeb rhyngwladol ar gyfer cydweithredu. A byddwn yn parhau i hyrwyddo a gwella prosesau sy’n cynnwys nifer o randdeiliaid ar gyfer llywodraethu’r rhyngrwyd, gan gynnwys ICANN ac yn Fforwm Llywodraethu’r Rhyngrwyd (IGF). Bydd yr ymdrechion hyn yn cael eu hategu gan ein gwaith i siapio safonau technegol digidol byd-eang (a ddisgrifir yn y bennod Technoleg) a’n gwaith i ehangu allforion seiberddiogelwch y DU (a nodir isod) a fydd hefyd yn helpu i wreiddio safonau’r DU yn ecosystemau seiber gwledydd eraill. 

<strong>Mae’r rhan fwyaf o wledydd ‘tir canol’ yn cefnogi ac yn hyrwyddo gweledigaeth y DU ar gyfer seiberofod a dyfodol y rhyngrwyd, gan fynd i’r afael yn fwy llwyddiannus â dylanwad gwladwriaethau awdurdodaidd dros y system sy’n cynnwys nifer o randdeiliaid</strong>. Byddwn yn dangos ei bod yn bosibl mynd i’r afael â heriau mewn seiberofod heb fabwysiadu dulliau awdurdodaidd ar yr un pryd â galluogi arloesedd, datblygiad a thwf. Byddwn yn cefnogi gwledydd sy’n ymlafnio gyda digidoleiddio i adeiladu’r ystod lawn o arbenigedd cyfreithiol a chyfathrebu strategol sydd ei hangen arnynt i ymgysylltu â’r drafodaeth ryngwladol ac i weithredu fframweithiau y cytunwyd arnynt. Byddwn yn parhau i amlygu defnydd anghyfrifol o alluoedd seiber, gan feithrin ymddiriedaeth yn rhyngwladol. A byddwn yn parhau i ddangos agwedd agored a thryloyw at ein defnydd o alluoedd seiber ymosodol lle bynnag y gallwn, gan atgyfnerthu enw da’r DU fel grym er lles.

####Amcan 3: Ysgogi ac allforio arbenigedd a galluoedd seiber y DU i roi hwb i’n mantais strategol a hyrwyddo ein buddiannau ehangach o ran polisi tramor a ffyniant.

Mewn ymateb i gystadleuaeth systemig a newid technolegol cyflym, bydd gweithgareddau a galluoedd seiber y DU yn cael eu hystyried ochr yn ochr â ffynonellau pŵer cenedlaethol eraill i gynyddu ein mantais strategol a hyrwyddo ein nodau o ran polisi tramor a ffyniant. Ein nod yw sicrhau trefn ryngwladol lle gall cymdeithasau ac economïau agored ffynnu ac amddiffyn hawliau dynol, ar yr un pryd â hybu ffyniant gartref. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025:

<strong>Mae ein gweithgarwch mewn seiberofod ac mewn perthynas ag ef wedi gwella sefydlogrwydd byd-eang ac wedi diogelu’r system ryngwladol sy’n seiliedig ar reolau, cymdeithasau agored a systemau democrataidd lle maen nhw’n cael eu tanseilio</strong>. Byddwn yn cyflwyno ymgyrch ryngwladol seiliedig ar werthoedd i hyrwyddo hawliau dynol, amrywiaeth a chydraddoldeb rhwng y rhywiau wrth ddylunio, datblygu a defnyddio seiberofod. Ymhlith pethau eraill bydd hyn yn cynnwys mynd i’r afael ag achosion o gau’r rhyngrwyd, rhagfarn mewn algorithmau Deallusrwydd Artiffisial a chynyddu diogelwch ar-lein. Byddwn yn cystadlu’n fwy effeithiol i ddiogelu gwerthoedd, systemau a phrosesau democrataidd ac yn cryfhau’r system ryngwladol sy’n seiliedig ar reolau (gan gynnwys y Cenhedloedd Unedig, Sefydliad Iechyd y Byd a’r system fasnachu fyd-eang) drwy fuddsoddi ymhellach yn ein rhwydwaith o swyddogion seiber sy’n ymestyn ar draws chwe chyfandir. Byddwn yn gwella ein defnydd o gyfathrebu strategol i hyrwyddo cydweithio ymchwil yn y DU a rhaglenni cyfnewid academaidd ac yn helpu i sicrhau bod syniadau’r DU yn cael eu trosi’n gymwysiadau ymarferol.

<strong>Mae’r DU yn un o’r 3 prif allforwr byd-eang sy’n cynnig datrysiadau seiber ac arbenigedd seiber</strong>, gyda’n diwydiant seiber yn cael ei ystyried fel y prif ddarparwr datrysiadau seiberddiogelwch ar gyfer llywodraethau tramor a chleientiaid masnachol mawr. Byddwn yn arddangos seiberddiogelwch gorau’r DU drwy ymgysylltu mwy gweithredol â llywodraethau’n rhyngwladol, dan nawdd Rhaglen Llysgenhadon Seiberddiogelwch y DU a’n rhwydwaith rhyngwladol. Byddwn yn cefnogi cwmnïau ledled y DU ar bob cam o’r llwybr arloesi ac allforio i ddod yn allforwyr cymwys a denu mewnfuddsoddiad a darparu mwy o gymorth i fusnesau bach a chanolig, gan gynnwys drwy Uwch-adran Allforio newydd.<a href="CCS0122233366-001_National_Cyber_Strategy_004_Pillar_4.html#footnote-001">32</a> <a href="CCS0122233366-001_National_Cyber_Strategy_004_Pillar_4.html#footnote-000">33</a> Ochr yn ochr â’n gwaith drwy’r Bartneriaeth Twf Seiber ac ymdrechion eraill a amlinellir yn y bennod ar Ecosystem Seiber y DU, byddwn hefyd yn datblygu Swyddfa Ymgyrch Gallu Seiber newydd i ddarparu cymorth mwy strwythuredig a chydlynol i ymgyrchoedd allforio mawr.

$CTA
####Charles Juma, Rhaglen Mynediad Digidol y DU yn Nairobi

Charles Wesonga Juma ydw i. Rwy’n arwain, yn siapio ac yn darparu seiberddiogelwch, datblygiad digidol, cynhwysiant ac entrepreneuriaeth fel rhan o Raglen fyd-eang a thrawslywodraethol Mynediad Digidol y DU yn Kenya. Rwyf hefyd yn cefnogi prosiectau ategol o dan Bortffolio Seiber y Gronfa Gwrthdaro, Sefydlogrwydd a Diogelwch (CSSF). Ni ellir gorbwysleisio pwysigrwydd diogelwch ar-lein, diogelwch, diogelu data a defnyddio seiberofod yn gyfrifol. Fel rydym wedi’i ddysgu o bandemig COVID-19, gall diogelwch a hylendid ar-lein fod yr un mor bwysig ag iechyd a hylendid y cyhoedd. Rwy’n frwd dros sicrhau bod pawb yn cael ei ddiogelu rhag bygythiadau a niwed ar-lein fel rhan o bŵer seiber cyffredinol llywodraeth y DU.
$CTA

$cta
####Sara Merchant, Swyddog Seiber yn Llysgenhadaeth Prydain, Tbilisi



Sara ydw i ac rwy’n gweithio yn Llysgenhadaeth Prydain fel Swyddog Seiber, gan weithio’n agos gyda Llywodraeth Georgia a NCSC y DU. Mae fy ngwaith o ddydd i ddydd yn amrywio o ymgysylltu gwleidyddol, i gefnogi’r gwaith o roi’r strategaeth seiber newydd ar waith, i ysgogi arbenigwyr y DU i gynyddu gallu technegol Georgia. Mae’n fraint cael bod ar flaen y gad o ran rhannu arbenigedd y DU a chefnogi Georgia i feithrin cadernid yn erbyn bygythiadau seiber. Fel gwlad sydd, yn anffodus, â llawer iawn o brofiad o ddioddef gweithgarwch gelyniaethus gwladwriaethol, mae llawer y gallwn ei ddysgu yma yn Georgia. Mae ein gwaith yn ein gwneud yn gryfach, yn fwy cadarn ac yn fwy gwybodus.
$CTA