##Rhan 2:Gweithredu

##Colofn 1:Ecosystem Seiber y DU

(image)

###Cryfhau ecosystem seiber y DU

Er mwyn i’r strategaeth hon lwyddo mae angen i ni sicrhau bod gan y DU y bobl, y wybodaeth a’r partneriaethau cywir. Mae’n rhaid i ni gael gweithlu amrywiol sy’n meddu ar sgiliau technegol, cymuned ymchwil fywiog, sector seiber sy’n gystadleuol yn rhyngwladol ac ecosystem arloesi ranbarthol ffyniannus sy’n ein galluogi i gymryd yr awenau gyda thechnolegau hanfodol, ac mae pob un yn seiliedig ar bartneriaethau cryfach rhwng y llywodraeth, y diwydiant a’r byd academaidd. 

Mae angen i dwf yr ecosystem seiber fod yn hunangynhaliol, nid yn ddibynnol ar ymyriadau’r llywodraeth. Yn ystod y strategaeth hon, byddwn yn symud o gyllido amrywiaeth o raglenni sgiliau ac arloesedd pwrpasol sy’n cael eu rheoli’n ganolog yn bennaf, i ddull gweithredu mwy cynaliadwy, systemig a rhanbarthol. Byddwn yn adeiladu ar ddiwygiadau ehangach y llywodraeth i’r systemau sgiliau ac addysg i gefnogi ac i ysbrydoli rhagor o bobl i ennill y sgiliau sydd eu hangen arnynt i ddilyn gyrfa seiber. A byddwn yn blaenoriaethu amrywiaeth o gamau gweithredu pendant i gynyddu amrywiaeth y gweithlu seiber. Mae hyn yn ymwneud â sicrhau bod y swyddi a’r gyrfaoedd hyn ar gael i bawb ond mae hefyd yn hanfodol i’n diogelwch cenedlaethol, gan sicrhau ein bod yn harneisio talent a sgiliau’r boblogaeth gyfan. Byddwn hefyd yn sicrhau bod twf y sector seiber o fudd i’r DU gyfan, nid dim ond Llundain a De Ddwyrain Lloegr. Amcangyfrifir bod 45% o gyflogaeth y sector a 85% o’r buddsoddiad allanol yn perthyn i’r un ardal hon.<a href="CCS0122233366-001_National_Cyber_Strategy_001_Pillar_1.html#footnote-003">22</a>

At ei gilydd, byddwn yn ymgymryd â rôl fwy strategol lle rydym yn hwyluso dod ag arweinwyr y diwydiant, academyddion, arloeswyr, asiantaethau gorfodi’r gyfraith, y gymuned ddiogelwch genedlaethol ac eraill at ei gilydd sydd eisiau cydweithio i wneud y DU yn fwy cadarn yn erbyn bygythiadau seiber. Byddwn yn cysoni holl ysgogiadau’r llywodraeth i gefnogi’r ecosystem seiber, o sut mae seiber yn cael ei ddysgu mewn ysgolion i sut mae rheoliadau economaidd yn codi safonau, i sicrhau bod y DU yn tyfu’r galluoedd hanfodol sydd eu hangen i ddiogelu ein hunain yn erbyn bygythiadau yn y dyfodol.

####Amcan 1: Cryfhau’r strwythurau, y partneriaethau a’r rhwydweithiau sy’n angenrheidiol i gefnogi dull gweithredu cymdeithas gyfan yng nghyswllt seiber

Mae pŵer seiber yn gofyn am ddull gweithredu cymdeithas gyfan. Bydd ein mantais gystadleuol yn deillio o’n gallu i feithrin a harneisio talent ledled y DU a chael y bobl iawn i weithio gyda’i gilydd yn y ffyrdd iawn ar draws y sector cyhoeddus cyfan, diwydiant a’r byd academaidd, gan ddod â’r holl gymuned seiber at ei gilydd. Bydd angen i ni greu partneriaeth gyflenwi integredig go iawn gyda’r diwydiant a sicrhau dull gweithredu daearyddol eang ar draws gwledydd a rhanbarthau’r DU, gan weithio’n agos gyda llywodraethau datganoledig Cymru, Gogledd Iwerddon a’r Alban a manteisio ar y cyfle i godi’r gwastad y mae pŵer seiber yn ei gynnig. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025:

<strong>Deialog seiber genedlaethol fwy cynhwysol a strategol</strong> gyda diwydiant, y byd academaidd a dinasyddion drwy sefydlu uwch Fwrdd Cynghori Cenedlaethol newydd ar Seiberddiogelwch, ac adeiladu ar y rhwydweithiau cadarn sydd eisoes yn bodoli o bartneriaethau cadernid a thwf seiber a’r canolfannau rhagoriaeth academaidd ar gyfer addysg ac ymchwil ym maes seiberddiogelwch.

<strong>Rhwydweithiau seiber rhanbarthol mwy integredig ac effeithiol ledled y DU</strong>, gan alluogi partneriaethau cryfach rhwng y llywodraeth, busnesau a’r byd academaidd i gefnogi twf sectorau a chadernid busnesau. Byddwn yn gweithio gyda chlystyrau seiber rhanbarthol a’r UK Cyber Cluster Collaboration (UKC3) a sefydlwyd yn ddiweddar, y nifer cynyddol o ganolfannau arloesi seiber rhanbarthol a Chanolfannau Seibergadernid, gan gryfhau’r cysylltiadau rhwng busnesau lleol, canolfannau rhagoriaeth academaidd ac asiantaethau gorfodi’r gyfraith.

Bydd y camau hyn yn adeiladu ar yr ystod o gysylltiadau presennol rhwng y Ganolfan Seiberddiogelwch Genedlaethol (NCSC) a’i rhanddeiliaid, rhwng adrannau’r llywodraeth, cyrff hyd braich a’r sectorau o’r economi maent yn eu cynrychioli, gan gynnwys CNI a rheoleiddwyr, a deialog ehangach y llywodraeth gyda’r diwydiant a’r sectorau digidol a thechnoleg.

$CTA
####Ciara Mitchell, Pennaeth Seiber yn ScotlandIS 

Mae Ciara hefyd yn rheolwr Clwstwr Seiber yr Alban ac yn aelod o fwrdd UKC3.

“Mae Clwstwr Seiber yr Alban wedi chwarae rhan allweddol yn y gwaith o gefnogi’r gymuned seiberddiogelwch yn yr Alban. Mae dealltwriaeth gynyddol o’r arbenigedd yn yr Alban ar reoli clystyrau a’r cyfle i adeiladu ar sector seiber ffyniannus. Wrth i werth clystyrau ddod yn fwy amlwg, rwyf wedi bod yn falch iawn o ymgymryd â rôl allweddol yn y UK Cyber Cluster Collaboration newydd fel Arweinydd Datblygu Ecosystemau. Drwy UKC3 bydd mwy o ffocws ar gydweithio, arloesi a datblygu sgiliau sy’n darparu llwyfan i dyfu sector seiberddiogelwch y DU.”
$CTA

####Sefydliadau Seiber (Mae’r lleoliadau’n gynrychioladol)

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="8">Clystyrau Seiber y DU<br /></th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>1</strong></th>
<td>Seiber Bryste a Chaerfaddon</td>
<th><strong>2</strong></th>
<td>Seiber Gogledd Lloegr</td>
<th><strong>3</strong></th>
<td>Seiber Cymru</td>
<th><strong>4</strong></th>
<td>CyNam (Cyber Cheltenham)</td>
</tr>
<tr>
<th><strong>5</strong></th>
<td>Clwstwr Seiberddiogelwch Dwyrain Lloegr</td>
<th><strong>6</strong></th>
<td>Seiber Canolbarth Lloegr</td>
<th><strong>7</strong></th>
<td>Seiber ScotlandIS</td>
<th><strong>8</strong></th>
<td>Clwstwr Seiberddiogelwch De Orllewin Lloegr</td>
</tr>
<tr>
<th><strong>9</strong></th>
<td>Clwstwr Seiberddiogelwch Swydd Efrog<br /></td>
<th><strong>10</strong></th>
<td>Seiber Gogledd Iwerddon<br /></td>
<th><strong>11</strong></th>
<td>Clwstwr Seiberddiogelwch Gogledd Orllewin Lloegr</td>
<th><strong>12</strong></th>
<td>Clwstwr Seiber Gorllewin Lloegr</td>
</tr>
</tbody>
</table>
<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="6">Canolfan Seibergadernid</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>1</strong></th>
<td>Canolfan Cadernid Busnes&nbsp;Gogledd Ddwyrain Lloegr</td>
<th><strong>2</strong></th>
<td>Canolfan Seibergadernid&nbsp;Gogledd Orllewin Lloegr</td>
<th><strong>3</strong></th>
<td>Canolfan Seibergadernid&nbsp;Dwyrain Canolbarth Lloegr</td>
</tr>
<tr>
<th><strong>4</strong></th>
<td>Canolfan Seibergadernid&nbsp;Gorllewin Canolbarth Lloegr</td>
<th><strong>5</strong></th>
<td>Canolfan Seibergadernid&nbsp;De Ddwyrain Lloegr</td>
<th><strong>6</strong></th>
<td>Canolfan Seibergadernid&nbsp;De Orllewin Lloegr</td>
</tr>
<tr>
<th><strong>7</strong></th>
<td>Canolfan Seibergadernid&nbsp;Cymru</td>
<th><strong>8</strong></th>
<td>Canolfan Seibergadernid&nbsp;Dwyrain Lloegr</td>
<th><strong>9</strong></th>
<td>Canolfan Seibergadernid Llundain</td>
</tr>
</tbody>
</table>

(image)

(image)

###Amcan 2: Gwella ac ehangu sgiliau seiber y genedl ar bob lefel, gan gynnwys drwy broffesiwn diogelwch seiber amrywiol o safon fyd-eang sy’n ysbrydoli ac yn arfogi talent ar gyfer y dyfodol

Yn ganolog i uchelgais y DU fydd datblygu cyflenwad cyson ac amrywiol o bobl fedrus iawn yn y gweithlu seiber, a fydd yn gallu sicrhau elfennau craidd yr economi ddigidol, yn ogystal ag arloesi a datblygu dulliau gweithredu newydd. Bydd hyn yn cefnogi ein nod o arwain drwy esiampl drwy gydnabod a chadw arbenigedd ar draws y sector cyhoeddus a chynyddu ein gallu mewn asiantaethau gorfodi’r gyfraith, amddiffyn a diogelwch, gan gynnwys y Llu Seiber Cenedlaethol (NCF). Yn yr un modd â rhannau eraill o’r strategaeth hon, byddwn yn gweithio gyda llywodraethau datganoledig Cymru, yr Alban a Gogledd Iwerddon i sicrhau bod dull cyson yn cael ei fabwysiadu ar draws y wlad ar fentrau llywodraeth y DU ar faterion datganoledig, fel addysg a sgiliau. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025:

Cynnydd sylweddol yn nifer y bobl sydd â’r sgiliau sydd eu hangen arnynt i ymuno â’r gweithlu seiber, gan adeiladu ar y gwaith sy’n digwydd ar draws pedair gwlad y DU i sicrhau bod y polisi addysg a sgiliau yn diwallu gofynion pobl a chyflogwyr. Byddwn yn gwneud hyn drwy nifer o fesurau gan gynnwys ehangu rhaglenni hyfforddiant ôl-16 yn unol ag anghenion y gweithlu seiber, ariannu amrywiaeth o bwtcamps sgiliau ym maes seiberddiogelwch, cyflwyno rhaglen y Sefydliad Technoleg yn genedlaethol, a pharhau â chynllun bwrsarïau CyberFirst ar gyfer israddedigion. Mae hyn yn adeiladu ar waith y llywodraeth i gysoni’r rhan fwyaf o addysg a hyfforddiant ôl-16 â safonau cryfach sy’n cael eu harwain gan gyflogwyr erbyn 2030. Bydd y rhain yn cael eu datblygu ar y cyd â Chyngor Seiberddiogelwch y DU ar gyfer y gymuned seiber ehangach ac yn sail i brentisiaethau, Lefelau T a chymwysterau technegol uwch newydd. Bydd hyn yn sicrhau bod gan gyflogwyr rôl ganolog yn y gwaith o gynllunio a datblygu cymwysterau a hyfforddiant.

<strong>Proffesiwn seiberddiogelwch o ansawdd gwell sy’n gadarnach ac yn fwy cydnabyddedig a strwythuredig</strong>. Yn seiliedig ar Siarter Frenhinol, bydd Cyngor Seiberddiogelwch y DU yn sefydlu safonau proffesiynol a llwybrau i yrfa seiber a thrwy yrfa seiber, wedi’u hadeiladu ar y Corff Gwybodaeth Diogelwch Seiber (CyBOK) sydd gyda’r gorau yn y byd. A byddwn yn archwilio holl ddulliau ysgogi’r llywodraeth, gan gynnwys deddfwriaeth, er mwyn gwreiddio’r safonau hyn ar draws y proffesiwn, gan sicrhau bod rhagoriaeth ac arbenigedd yn gallu cael eu cydnabod yn glir ac yn gyson ar draws y gweithlu seiber.

<strong>Gweithlu seiber mwy amrywiol</strong>, gyda grwpiau sy’n cael eu tangynrychioli a’r rheini o gymunedau difreintiedig ledled y DU yn cael cymorth mwy effeithiol i ddechrau a ffynnu mewn gyrfa ym maes seiber. Bydd ein hystod o fesurau’n cynnwys cymorth i ragor o fenywod ymuno â’r gweithlu seiber ac ymyriadau penodol i gefnogi grwpiau sy’n cael eu tangynrychioli i symud ymlaen i lefelau uwch. A byddwn yn adeiladu ar lwyddiannau gweithgareddau allgyrsiol a gyflwynir drwy ein rhaglen CyberFirst flaenllaw, gan gynnwys Cystadleuaeth Merched CyberFirst. Byddwn hefyd yn cynyddu mynediad at addysg a chyfleoedd gyrfa i bobl ifanc sydd mewn perygl drwy raglen Cyber Choices yr Asiantaeth Troseddu Cenedlaethol, gan eu dargyfeirio oddi wrth weithgarwch seiber anghyfreithlon tuag at gyfleoedd mwy cadarnhaol i ddefnyddio eu doniau a’u brwdfrydedd. 

<strong>Cyflenwad cyson ac amrywiol o bobl hyfedr yn dod drwy ein system addysg</strong>. Byddwn yn ysbrydoli ac yn cefnogi mwy o bobl ifanc i ddilyn llwybr technoleg drwy addysg, gan gynnwys cynnydd yn nifer yr ymgeiswyr sy’n dilyn TGAU Cyfrifiadureg a chymwysterau cyfatebol yn yr Alban, a mynd ymlaen i addysg bellach fel Lefelau T yn Lloegr a phrentisiaethau a chyfleoedd addysg uwch. Byddwn hefyd yn uwchsgilio mwy o athrawon yn Lloegr drwy’r Ganolfan Genedlaethol ar gyfer Addysg Cyfrifiadura (NCE), gan sicrhau eu bod yn gallu cael gafael ar yr adnoddau a’r cyfleoedd datblygu a fydd yn eu helpu i ysgogi diddordeb rhagor o fyfyrwyr.

<strong>Mae’r Llywodraeth mewn sefyllfa well i adnabod, i recriwtio, i hyfforddi ac i gadw’r gweithwyr seiber proffesiynol sydd eu hangen arni</strong>. Fel rhai sy’n cyflogi llawer o weithwyr seiber proffesiynol, bydd angen i’r llywodraeth a’r sector cyhoeddus arwain drwy esiampl, gan gefnogi ac adeiladu ar y mesurau a amlinellir uchod. Byddwn yn mabwysiadu dull gweithredu mwy cydlynol ac effeithiol ar draws y sector cyhoeddus, ar yr un pryd â theilwra mesurau penodol i wella sgiliau gweision sifil ac uwch arweinwyr, ac adeiladu ein gallu ym maes amddiffyn a diogelwch gan gynnwys yr NCF, yr NCSC ac asiantaethau gorfodi’r gyfraith. Bydd hyn yn cynnwys buddsoddi mewn doniau cynnar drwy ehangu’r Cyber Fast Stream a chynnig mwy o brentisiaethau seiberddiogelwch, cefnogi rhaglenni sgiliau arbenigol yn yr NCA gan gynnwys lleoliadau i raddedigion ac interniaid, rhaglenni niwroamrywiaeth pwrpasol a rhaglenni amrywiaeth yr haf. Bydd yn adeiladu ar lwyddiannau’r Ysgol Seiber Amddiffyn drwy ei hymestyn i’r Academi Seiber Amddiffyn gyda chynnig ehangach o hyfforddiant seiber amddiffynnol ac ymosodol, tra’n cydweithio â phartneriaid academaidd, diwydiant a rhyngwladol.

$CTA
###Cyngor Seiberddiogelwch y DU

Cafodd Cyngor Seiberddiogelwch y DU ei lansio ym mis Mawrth 2021 a dyma’r cyntaf yn y byd ar gyfer y proffesiwn seiberddiogelwch. Ei genhadaeth yw bod yn llais i’r proffesiwn, gan ddod ag eglurder a strwythur i’r gweithlu seiber sy’n tyfu a’r ystod o gymwysterau, ardystiadau a graddau sy’n bodoli ar draws y maes. Mae hwn yn gam hollbwysig, gan gydnabod bod y proffesiwn seiber yn cynnwys amrywiaeth eang o arbenigeddau ac arbenigaethau technegol ac annhechnegol ar draws yr economi, sy’n debyg o ran ehangder i broffesiynau mwy sefydledig fel meddygaeth a’r gyfraith. 

Mae gan y Cyngor bedwar nod: 

- Arwain agweddau a safonau proffesiynol: arwain y gwaith i ddatblygu a chytuno ar y safonau sy’n diffinio seiberddiogelwch

- Gyrfaoedd a dysgu: cefnogi cyflogwyr ac unigolion wrth iddynt wneud penderfyniadau am yrfaoedd, gyda chyngor ar sgiliau seiberddiogelwch, datblygiad proffesiynol a chydnabyddiaeth

- Moeseg broffesiynol: darparu egwyddorion arweiniol lle gall gweithwyr proffesiynol sy’n gweithio yn y maes a sefydliadau eu hunain ddangos arferion moesegol mewn seiberddiogelwch

- Amrywiaeth a chynhwysiant: hyrwyddo seiberddiogelwch fel cyfle gyrfa i bobl o bob oed a chefndir, gan ymdrechu i chwalu rhwystrau rhag mynediad a dilyniant yn y maes

Bydd y Cyngor yn ceisio tyfu a sefydlu ei hygrededd a’i gynaliadwyedd fel yr awdurdod proffesiynol gydol oes y strategaeth hon. Bydd yn dwyn ynghyd amrywiaeth o gyrff proffesiynol ac ardystio sy’n bodoli eisoes, gan nodi a grymuso sefydliadau arbenigol sy’n gallu darparu eglurder ynghylch gofynion dilyniant a chymhwysedd i newydd-ddyfodiaid, ymarferwyr presennol a chyflogwyr fel ei gilydd. 

Cymeradwyodd y Frenhines ddyfarnu Siarter Frenhinol i Gyngor Seiberddiogelwch y DU ym mis Tachwedd 2021. Am y tro cyntaf, mae hyn yn darparu cydnabyddiaeth siartredig bwrpasol yn benodol ar gyfer seiberddiogelwch, sy’n cwmpasu’r ystod o arbenigeddau sy’n bodoli yn y maes.

Rydym yn cydnabod bod mwy o waith i’w wneud i wreiddio safonau a llwybrau proffesiynol ar draws yr ecosystem seiber, gan gynnwys ar draws y llywodraeth, amddiffyn ac asiantaethau gorfodi’r gyfraith. Bydd y Cyngor yn chwarae rhan bwysig yn hyn, gan gefnogi pobl ifanc a phobl sy’n newid gyrfa i lywio eu gyrfa ym maes seiber.

####Simon Hepburn, Prif Swyddog Gweithredol, Cyngor Seiberddiogelwch y DU

Mae fy ngwaith yn cynnwys hyrwyddo Cyngor Seiberddiogelwch y DU fel “llais y proffesiwn seiberddiogelwch.” Y Cyngor yw’r corff hunanreoleiddiol ar gyfer proffesiwn seiberddiogelwch y DU, a’n nod yw uno’r diwydiant i ddatblygu, hyrwyddo a gwarchod safonau sy’n cael eu cydnabod yn genedlaethol ar gyfer seiber er mwyn gwneud y DU y lle mwyaf diogel i fyw a gweithio ar-lein. Cafodd y Cyngor ei lansio’n swyddogol ym mis Mawrth 2021 yn dilyn prosiect ffurfio llwyddiannus, ac rydym nawr yn derbyn ceisiadau am aelodaeth. Mae’r Strategaeth Seiber Genedlaethol yn elfen hanfodol i sicrhau bod unigolion a sefydliadau yn gallu gweithio mewn modd sy’n hyrwyddo’r proffesiwn, gyda’r Cyngor yn chwaraewr cydlynu allweddol.
$CTA

####Amcan 3: Meithrin twf sector seiberddiogelwch a diogelwch gwybodaeth cynaliadwy, arloesol a chystadleuol yn rhyngwladol, gan ddarparu cynnyrch a gwasanaethau o safon, sy’n diwallu anghenion y llywodraeth a’r economi ehangach

Er mwyn gwella ein pŵer seiber cenedlaethol a sbarduno twf ac allforion digidol, mae angen i’r DU gael sector seiber bywiog sy’n cynnwys cwmnïau o ansawdd uchel y gellir ymddiried ynddynt. Mae cwmnïau yn y DU yn darparu technolegau, hyfforddiant a chyngor o’r radd flaenaf i ddiwydiant a llywodraethau yn y DU ac yn fyd-eang. Ond i ddatblygu technolegau arloesol, mae rhai cwmnïau angen cefnogaeth a chysylltiadau i fuddsoddi er mwyn cyrraedd y cam lle gallant gynnig cynnyrch ymarferol. 

Mae angen i gwmnïau hefyd deimlo’n hyderus eu bod yn arloesi yn unol â pharamedrau cymeradwy’r llywodraeth y mae sefydliadau eraill hefyd yn eu dilyn. Ac mae mwy y gallwn ni ei wneud i helpu prynwyr i lywio drwy’r dirwedd gymhleth, gydag amrywiaeth enfawr o gynnyrch a gwasanaethau o ansawdd amrywiol. Bydd hyn, yn ei dro, yn ysgogi’r galw yn yr ecosystem ac yn cefnogi twf pellach. Byddwn yn cyflawni’r canlyniadau canlynol erbyn 2025:

<strong>Sector seiber sydd wedi cyflawni mwy na’r cyfartaledd o dwf byd-eang o un flwyddyn i’r llall</strong>, gan gynnwys drwy fasnach ac allforion seiber. Byddwn yn helpu busnesau seiber i gael mynediad at farchnadoedd newydd gartref a thramor drwy gefnogi digwyddiadau seiber blaenllaw sydd gyda’r gorau yn y byd yma yn y DU a gwahodd ein busnesau seiber mwyaf arloesol i gymryd rhan mewn teithiau masnach a ffeiriau seiber rhyngwladol. A byddwn yn defnyddio caffael yn y sector cyhoeddus yn fwy effeithiol ac yn sefydlu cyfeiriadur cynhwysfawr o ddarparwyr achrededig NCSC i hybu’r galw am gynnyrch a gwasanaethau seiberddiogelwch o ansawdd uchel. 

<strong>Sector seiber hyd yn oed mwy arloesol</strong> sydd wedi gweld cynnydd sylweddol mewn buddsoddiad yn y cyfnod cynnar a mwy o fusnesau seiber sydd wedi gallu lansio, tyfu a datblygu. Mae ein rhaglen newydd, Cyber Runway, yn rhoi un pwynt cyswllt i fusnesau ar gyfer cymorth, gan ddysgu gwersi o’n rhaglenni blaenorol fel Rhaglen Seiber Tech Nation, Cyber101 a Hut Zero. Byddwn yn trawsnewid Canolfan Arloesi Cheltenham, sy’n cynnwys y cyflymydd seiber ‘NCSC for Startups’, yn ganolfan arloesi ryngwladol go iawn: y Ganolfan Arloesi Seiber Genedlaethol. Byddwn yn defnyddio arbenigedd sefydliadau sy’n bodoli i hyrwyddo ac i alluogi cyd-greu, fel y Gyfnewidfa Technoleg ac Arloesi Diogelwch Cenedlaethol. A byddwn yn annog buddsoddiad risg uwch mewn busnesau seiber newydd, gan gynnwys drwy’r Gronfa Buddsoddi Strategol mewn Diogelwch Gwladol, mewn partneriaeth â Banc Busnes Prydain

<strong>Economi seiber yn y DU sydd wedi cael ei chysoni’n sylweddol</strong> gyda thwf cynyddol y tu allan i’r De Ddwyrain, gan gyfrannu at adferiad o bandemig y coronafeirws (COVID-19) a chefnogi gweithgarwch economaidd rhanbarthol ehangach. Byddwn yn sefydlu pencadlys parhaol NCF yn Samlesbury, yng Ngogledd Orllewin Lloegr, gan sbarduno twf yn y sectorau technoleg, digidol ac amddiffyn y tu allan i Lundain a helpu i greu partneriaethau newydd yn y rhanbarth. Byddwn yn cynyddu ein cefnogaeth i arloeswyr ac entrepreneuriaid y tu allan i Lundain a De Ddwyrain Lloegr i ddatblygu eu cynnyrch a’u gwasanaethau, i dyfu eu busnesau ac i recriwtio staff medrus. Mae hyn yn cynnwys campws Golden Valley dan arweiniad Cyngor Bwrdeistref Cheltenham sydd wedi ymrwymo i gefnogi twf busnesau technoleg sy’n gysylltiedig â seiberddiogelwch. A byddwn yn cynyddu gallu allforio cwmnïau seiber ar draws mwy o ranbarthau’r DU drwy ymgysylltu â’r clystyrau seiber rhanbarthol a digwyddiadau penodol i arddangos mwy o’n doniau yn y diwydiant seiber i brynwyr rhyngwladol.

<strong>Mae mwy o gwmnïau’n gallu cynnig technolegau, cynnyrch a gwasanaethau seiberddiogelwch sy’n cyrraedd safonau ansawdd sydd wedi’u dilysu’n annibynnol</strong>, gan godi hyder defnyddwyr. Byddwn yn cyflawni hyn yn unol â’r papur gwyn Dyfodol NCSC ar Sicrhau Technoleg a gyhoeddwyd gan y NCSC ym mis Medi 2021, gan ddefnyddio brand ac arbenigedd NCSC i greu marchnad y gellir ymddiried ynddi a fydd yn helpu defnyddwyr yn y DU i brynu gwasanaethau’n hyderus, gwella eu diogelwch a chodi’r bar yn genedlaethol o ran seiberddiogelwch.<a href="CCS0122233366-001_National_Cyber_Strategy_001_Pillar_1.html#footnote-002">23</a>

$CTA
####Berta Pappenheim, Prif Swyddog Gweithredol a sylfaenydd, Cyberfish Company

Cymerodd CyberFish ran mewn rhaglen cyflymydd seiber gan y llywodraeth. Ein nod yw helpu busnesau a thimau’r llywodraeth i baratoi i ddelio’n well â digwyddiadau sy’n amharu ar fusnes, fel digwyddiadau seiber. Rydym yn gwneud hyn drwy gynnal ymarferion efelychu digwyddiadau gyda nhw, arsylwi deinameg eu tîm o dan straen, a’u hyfforddi ar sut i wneud gwelliannau. Mae llawer o gynghorwyr yn dda am naill ai’r ochr dechnegol i ymateb i ddigwyddiadau, neu ochr ymddygiadol arweinyddiaeth a gwneud penderfyniadau. Rydyn ni’n gwneud y naill a’r llall, gyda’i gilydd, gyda gwybodaeth arbenigol o’r naill ochr a’r llall. Mae ein hymarferion wedi helpu bron i 500 o arweinwyr y diwydiant sy’n gweithio mewn timau hanfodol ar draws y byd i newid safbwyntiau, gwella eu gwaith tîm, gan arwain at ymateb yn well i argyfyngau a gwneud penderfyniadau gwell.
$CTA

$CTA
###Oes gennych chi awydd ymuno â’r gweithlu seiber neu gychwyn eich busnes eich hun?

Roedd ein strategaeth flaenorol yn rhoi pwyslais mawr ar dyfu’r sylfaen sgiliau seiber a’r sector gwasanaethau seiberddiogelwch yn y DU. Fel yr amlinellwyd yn y cyd-destun strategol, rydym wedi gwneud cynnydd sylweddol o ran <strong>tyfu’r sector ac allforion:</strong>

####Roedd y DU wedi allforio

Helpu busnesau seiber i ddod o hyd i farchnadoedd rhyngwladol. <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693989/CCS151_CCS0118810124-1_Cyber_Security_Export_Strategy_Brochure_Web_Accessible.pdf">Roedd y DU wedi allforio</a> £4.2 biliwn o wasanaethau seiber yn 2020.

####Cyber Exchange

<a href="https://cyberexchange.uk.net/">Cyber Exchange</a>, ein porth seiber ar-lein, sy’n dod â busnesau seiber at ei gilydd o bob rhanbarth yn y DU.

####Bartneriaeth Twf Seiber

Mae’r <a href="https://www.techuk.org/who-we-are/our-partners.html">Bartneriaeth Twf Seiber</a> wedi bod yn dod â llywodraeth a diwydiant at ei gilydd i chwalu’r rhwystrau sy’n atal twf.

<hr>

Rydyn ni wedi <strong>cefnogi arloeswyr i dyfu eu busnesau</strong>, gan sicrhau bod ecosystem seiber y DU wedi ffynnu dros y pum mlynedd diwethaf:

####NCSC for Startups

<a href="https://www.ncsc.gov.uk/section/ncsc-for-startups/overview">NCSC for Startups</a> sy’n cyfeirio arloeswyr at yr heriau strategol pwysicaf ac mae ei fusnesau a’i gwmnïau wedi cymryd rhan mewn dros 160 o dreialon corfforaethol newydd yn barod.

####LORCA

<a href="www.plexal.com/lorca">LORCA</a> sydd wedi helpu 72 o arloeswyr seiber i godi dros £200 miliwn o fuddsoddiad ac ennill dros £37 miliwn o refeniw.

####Cyber Runway

<a href="https://www.plexal.com/cyber-runway/">Cyber Runway</a> sy’n cefnogi arloeswyr i lansio ac i dyfu eu busnes – gan adeiladu ar lwyddiant Hutzero a Cyber101.

<hr>

Rydyn ni wedi bod yn gweithio i leihau’r diffyg blynyddol o 10,000 o weithwyr proffesiynol sy’n <strong>ymuno â’r gweithlu seiber:</strong><a href="CCS0122233366-001_National_Cyber_Strategy_001_Pillar_1.html#footnote-001">24</a>

####Cynllun bwrsari CyberFirst

<a href="https://www.ncsc.gov.uk/cyberfirst/bursary-and-degree-apprenticeship">Cynllun bwrsari CyberFirst</a> sy’n cefnogi myfyrwyr israddedig ac mae’n cynnig profiad gwaith i gannoedd o unigolion yn y gweithlu seiber bob blwyddyn.

####Mae pedair safon ar gyfer prentisiaethau seiber erbyn hyn

<a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/cyber-security-technician-v1-0">Mae pedair safon ar gyfer prentisiaethau seiber erbyn hyn</a> sydd wedi cael eu dylunio gan y diwydiant a thri chynnig seiber ar gyfer canlyniadau dysgu cychwynnol a gynigir drwy fenter ‘Courses for Jobs’ yr Adran Addysg.

####bwtcamp seiber

Cynhaliwyd naw <a href="https://www.gov.uk/guidance/national-skills-fund#skills-bootcamps">bwtcamp seiber</a> gyda chefnogaeth y Gronfa Sgiliau Genedlaethol ddiweddar, a oedd yn arwain pobl i yrfaoedd seiber cyffrous ac mae mwy o’r rhain ar y gweill ar gyfer pob blwyddyn o’r cyfnod gwario nesaf.

<hr>

Rydym wedi bod yn <strong>proffesiynoli’r gweithlu seiber</strong>, sy’n golygu ei bod hi’n symlach i sefydliadau ddeall pa sgiliau sydd eu hangen arnynt, a’i gwneud hi’n haws i unigolion lywio drwy’r hyn y mae angen iddynt ei wybod:

####Cyngor Seiberddiogelwch y DU

<a href="https://www.ukcybersecuritycouncil.org.uk/">Cyngor Seiberddiogelwch y DU</a> sy’n awdurdod proffesiynol cyntaf yn y byd ar gyfer seiberddiogelwch. Mae wedi dechrau gosod safonau proffesiynol clir a chyson, gan adeiladu ar yr holl waith y mae’r cyrff proffesiynol presennol wedi’i wneud hyd yma. Bydd y Cyngor yn ceisio nodi’n glir gymwysterau effeithiol o’r llu sydd ar gael ar hyn o bryd.

####Corff Gwybodaeth Diogelwch 

Mae <a href="www.cybok.org">Corff Gwybodaeth Diogelwch </a>Seiber (CyBOK) yn rhoi gwybodaeth a sylfaen ar gyfer addysg a hyfforddiant proffesiynol i’r sector seiberddiogelwch.

<hr>

Rydym wedi bod yn gweithio i <strong>sicrhau bod pawb yn gallu ymuno â’r gweithlu seiber</strong>, gan fynd i’r afael ag anghydraddoldeb yn y sector lle mai dim ond 16% o’r gweithlu sy’n fenywod, a dim ond 3% o’r uwch swyddi sy’n cael eu dal gan fenywod a lleiafrifoedd ethnig.<a href="CCS0122233366-001_National_Cyber_Strategy_001_Pillar_1.html#footnote-000">25</a>

####CyberFirst

Mae’r cyrsiau <a href="https://www.ncsc.gov.uk/cyberfirst/overview">CyberFirst</a> a’r rhaglen Discovery wedi ymgysylltu â bron i 300,000 o bobl ifanc 11-17 oed yn ystod y pum mlynedd diwethaf.

####Mae’r UK Cyber Cluster Collaboration

<a href="https://ukc3.co.uk/">Mae’r UK Cyber Cluster Collaboration</a> yn llunio partneriaethau rhwng diwydiant, ysgolion a cholegau i sicrhau bod cyfleoedd ac arbenigedd ar gael ar draws y rhanbarthau.

####Cyber Choices

Mae rhaglen <a href="https://nationalcrimeagency.gov.uk/what-we-do/crime-threats/cyber-crime/cyberchoices">Cyber Choices</a> yr NCA yn helpu pobl ifanc i wneud dewisiadau gwybodus a defnyddio eu sgiliau seiber mewn ffordd gyfreithiol, gan godi ymwybyddiaeth a darparu dewisiadau amgen fel prentisiaethau a lleoliadau gwaith
$CTA