[^1]:  Rydym yn ail ym Mynegai Seiberddiogelwch Byd-eang yr Undeb Telathrebu Rhyngwladol, yn drydydd ym Mynegai Seiberddiogelwch Canolfan Belfer Harvard ac yn ail haen asesiad gallu Seiberddiogelwch y Sefydliad Astudiaethau Strategol Rhyngwladol.

[^2]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Cyber security skills in the UK labour market 2021</a> (2021)

[^3]:  <a href="https://www.ncsc.gov.uk/collection/ncsc-annual-review-2021">NCSC, Arolwg Blynyddol NCSC Worldwide 2021(2021)</a> 

[^4]:  <a href="https://www.gov.uk/government/publications/code-of-practice-for-consumer-iot-security">Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, Code of Practice for Consumer IoT Security (2018)</a> 

[^5]:  <a href="https://www.gov.uk/government/publications/etsi-industry-standard-based-on-the-code-of-practice">Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, ETSI industry standard based on the Code of Practice (2019)</a> 

[^6]:  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/906691/Impact_of_GDPR_on_cyber_security_outcomes.pdf">Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon/RSM, The impact of GDPR on cyber security outcomes (2020); The General Data Protection Regulation (GDPR) that was introduced into UK law in 2018 has now been replaced by the UK GDPR)</a>  

[^7]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/972399/Cyber_Security_Breaches_Survey_2021_Statistical_Release.pdf">Cyber Security Breaches Survey 2021</a> (2021) 

[^8]:  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/960574/CCS207_CCS0320329850-001_Network_and_Information_Systems_Regulations_Post-Implementation_Review_Web_V2.pdf">Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, Post-Implementation Review of the Network and Information Systems Regulations 2018 (2020)</a>

[^9]:  A ddiffinnir fel troseddau Deddf Camddefnyddio Cyfrifiaduron

[^10]:  <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingjune2021">Y Swyddfa Ystadegau Gwladol, Troseddau yng Nghymru a Lloegr: y flwyddyn sy&apos;n gorffen ym Mehefin 2021 (2021)</a>

[^11]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/972399/Cyber_Security_Breaches_Survey_2021_Statistical_Release.pdf">Cyber Security Breaches Survey 2021</a> (2021)

[^12]:  <a href="https://www.ncsc.gov.uk/cyberaware/home">NCSC, CyberAware</a>

[^13]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://www.gov.uk/government/publications/uk-digital-identity-attributes-trust-framework-updated-version">UK digital identity and attributes trust framework</a> (2021)

[^14]:  <a href="https://www.ncsc.gov.uk/guidance/mitigating-malware-and-ransomware-attacks">NCSC, Mitigating malware and ransomware attacks (2021)</a> 

[^15]:  <a href="https://www.gov.uk/government/news/russia-uk-and-us-expose-global-campaigns-of-malign-activity-by-russian-intelligence-services">FCDO, Russia: UK and US expose global campaign of malign activity by Russian intelligence services (2021)</a> 

[^16]:  <a href="https://www.gov.uk/government/news/uk-and-allies-hold-chinese-state-responsible-for-a-pervasive-pattern-of-hacking">FCDO, UK and allies hold Chinese state responsible for a pervasive pattern of hacking (2021)</a>  

[^17]:  <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingjune2021">Y Swyddfa Ystadegau Gwladol, Troseddau yng Nghymru a Lloegr: y flwyddyn yn gorffen Mehefin 2021 (2021</a>) 

[^18]:  Llywodraeth Ei Mawrhydi<a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1020617/national-space-strategy.pdf">, National Space Strategy (2021)</a> 

[^19]:  Trysorlys Ei Mawrhydi, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1029973/Budget_AB2021_Print.pdf">Autumn Budget and Spending Review 2021</a> (2021) 

[^20]:  <a href="https://www.ncsc.gov.uk/cyberaware/home">Cyber Aware yw cyngor y llywodraeth ar sut i gadw&apos;n ddiogel ar-lein</a> 

[^21]:  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/567242/national_cyber_security_strategy_2016.pdf">Llywodraeth Ei Mawrhydi, National Cyber Security Strategy 2016 to 2021 (2016)</a>: paragraff 1.9

[^22]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/962413/UK_Cyber_Security_Sectoral_Analysis__2021_.pdf">Cyber Security Sectoral Analysis 2021</a> (2021)

[^23]:  NCSC, <a href="https://www.ncsc.gov.uk/collection/technology-assurance/future-technology-assurance">White paper: The future of NCSC Technology Assurance</a> (2021)

[^24]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Understanding the cyber security recruitment pool</a> (2021)

[^25]:  Llywodraeth Ei Mawrhydi, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Cyber security skillls in the UK labour market</a> (2021)

[^26]:  Microbrosesyddion yw ymennydd llawer o’r dyfeisiau rydym yn eu defnyddio heddiw. Maent ar gael ym mhobman, gan gynnwys mewn meysydd hollbwysig fel telathrebu, amddiffyn, gofal iechyd ac ar draws ein diwydiannau mawr. Mae datblygiadau technolegol ym maes dylunio systemau yn cael eu dal yn ôl ar hyn o bryd gan bryderon diogelwch, sy’n cael eu dwysáu gan gymhlethdod cynyddol y system.

[^27]:  Yr Adran dros Dechnoleg Ddigidol, Diwylliant, y Cyfryngau a Chwaraeon, <a href="https://www.gov.uk/government/publications/5g-supply-chain-diversification-strategy/5g-supply-chain-diversification-strategy">5G Supply Chain Diversification Strategy</a> (2020)

[^28]:  Gan ganolbwyntio’n benodol ar y sectorau hynny a nodir yn Neddf Diogelwch a Buddsoddi Cenedlaethol 2021: roboteg uwch, deallusrwydd artiffisial, cyfathrebu, caledwedd cyfrifiadura, dilysu cryptograffig a thechnolegau cwantwm

[^29]:  NCSC, <a href="https://www.ncsc.gov.uk/collection/connected-places-security-principles">Connected Places Cyber Security Principles</a> (2021)

[^30]:  Cyhoeddwyd yn y <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1009577/uk-innovation-strategy.pdf">Innovation Strategy</a> (2021)

[^31]:  Y Broses Cerbydau Cysylltiedig ac Awtomataidd ar gyfer Sicrhau Diogelwch a Gwarchodaeth (CAVPASS)

[^32]:  Wedi&apos;i ddisgrifio yn <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1009577/uk-innovation-strategy.pdf">UK Innovation Strategy</a> (2021)

[^33]:  Mae Uwch-adran Allforio Allforion Amddiffyn a Diogelwch y DU (UKDSE) yn hyb dysgu a datblygu ar-lein sydd wedi’i anelu at fusnesau bach a chanolig yn y sector amddiffyn a diogelwch gyda modiwlau penodol ar gyfer cwmnïau seiberddiogelwch. Mae cofrestru ar gyfer yr Uwch-adran yn rhoi mynediad at raglen o fodiwlau dysgu sy’n seiliedig ar y cwricwlwm ac, yn ogystal, gwybodaeth werthfawr am ddigwyddiadau a gweithgareddau arfaethedig Allforion Amddiffyn a Diogelwch y DU.

[^34]:  Arolygiaeth Cwnstabliaeth a Gwasanaethau Tân ac Achub Ei Mawrhydi

[^35]:  <a href="https://www.ncsc.gov.uk/information/financial-sector-cyber-collaboration-centre-fsccc">NCSC, Financial sector cyber collaboration centre</a> (FSCCC) (2021)

[^36]:  Y Weinyddiaeth Amddiffyn, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1014659/Integrated_Operating_Concept_2025.pdf">Integrated Operating Concept</a> (2020)

[^37]:  Trysorlys Ei Mawrhydi, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1029973/Budget_AB2021_Print.pdf">Autumn Budget and Spending Review 2021</a> (2021)

[^38]:  Y Swyddfa Gartref, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1013169/Crime_Plan_Welsh_version.pdf">Y Cynllun Gorchfygu Troseddu</a> (2021)