
##Annex A: Cyber as part of the government’s wider agenda

(image)

The National Cyber Strategy is intended to support and amplify a range of other priorities for the Government across security, defence, foreign policy and our economic agenda. In turn, this strategy will rely on the broader capabilities developed through our education and skills system and our national approach to digital and technology industrial policy, research and business growth. Key relevant strategies and plans include:

- <strong>The Integrated Review</strong>, including national efforts to improve resilience, tackle state threats, serious organised crime and terrorism, sustain our strategic advantage through science and technology and shape the international order

- <strong>The National Data Strategy</strong>, which sets out our vision to harness the power of responsible data use to boost productivity, create new businesses and jobs, improve public services, support a fairer society, and drive scientific discovery, positioning the UK as the forerunner of the next wave of innovation.This includes transforming the government’s use of data to drive efficiency and improve public services by addressing barriers to data sharing between departments and improving the quality of the data they hold. This will be essential in supporting our cyber agenda such as ensuring we are able to collate and use good quality data on cyber incidents

- <strong>The plan for growth</strong>, which is helping us to <strong>Build Back Better</strong> through additional support and investment for infrastructure, skills and innovation and the Innovation Strategy, which sets our ambitions for an innovation-led economy

- <strong>The Plan for Digital Regulation</strong>, which sets out our pro-innovation approach to regulating digital technologies in a way that drives prosperity and builds trust in their use

- <strong>The National AI Strategy</strong>, which aims to prepare the UK for the coming transformative decade in AI by investing in the long-term needs of the AI ecosystem, supporting the transition to an AI-enabled economy, and ensuring the UK gets the national and international governance of AI technologies right. This also includes measures to support cyber-secure innovation in AI-enabled systems while protecting the public and building trust in its use

- The forthcoming <strong>National Resilience Strategy</strong>, which will in part focus on how the UK will stay on top of technological threats and remain resilient in cyberspace

- The forthcoming <strong>Digital Strategy</strong>, which will set out a clear vision of the government’s ambitions to harness new appetite for digital transformation, accelerate growth, and continue to build a more inclusive, competitive and innovative digital economy for the future;which will build on DCMS’s Ten Tech Priorities to further set out the government’s ambitions in the digital sector

- <strong>The Net Zero Strategy</strong>, ensuring our prosperous, innovation-led economy is a low carbon one

- <strong>The Beating Crime Plan</strong>, which sets out how we will restore confidence in the criminal justice system and deliver our shared vision of a safer Britain with less crime and fewer victims<a href="CCS1021632420-002_National_Cyber_Strategy_006_Annex.html#footnote-001">38</a>

Directly supporting the National Cyber Strategy are two further publications that set out how individual parts of the strategy will be met. 

- The forthcoming <strong>Government Cyber Security Strategy</strong>, which will set out more detailed plans for improving the security of government and the public sector, in support of this national strategy

- The forthcoming <strong>Incentives & Regulations Review 2021</strong>, which will set out our findings on how effective our work to incentivise improvements in cyber security within the wider economy have been, and how we propose to implement the business and organisational elements of the resilience pillar

##Annex B: NIS Regulations – National Strategy

###Introduction

####NIS National Strategy

1. The National Cyber Strategy is designated as the UK’s national strategy for the purposes of Regulation 2 of the UK Network and Information Systems (NIS) Regulations 2018.

2. This annex provides further information including:

- the roles and responsibilities of key authorities responsible for NIS implementation in the UK; and

- a list of the key authorities involved. 

####UK NIS Regulations

3. In 2016, the European Commission agreed a Directive with the aim of increasing the security of Network and Information Systems within the European Union (EU). This was supported by the UK Government.

4. On 20 April 2018, the Government laid the new <a href="https://www.legislation.gov.uk/uksi/2018/506/made">Network and Information Systems (NIS) Regulations 2018</a> in Parliament. These Regulations came into force on 10 May 2018.

5. The NIS Regulations established a new regulatory regime within the UK that requires designated operators of essential services (OESs) and relevant digital service providers (RDSPs) to put in place technical and organisational measures to secure their network and information systems.

6. It applies to sectors which are vital for our economy and society and which rely heavily on network and information systems; energy, transport, drinking water, healthcare and digital infrastructure. 

7. Key digital service providers (search engines, cloud computing services and online marketplaces) are also covered.

8. The NIS Regulations establish:

- <strong>a national framework</strong> to support the implementation, including a national strategy;

- sector-specific <strong>competent authorities</strong> acting as regulators;

- the National Cyber Security Centre (NCSC) as the <strong>Single Point of Contact (SPOC)</strong> and <strong>Computer Security Incident Response Team</strong> (CSIRT). 

9. Progress is assessed through Post-Implementation Reviews every 2-5 years.

###Key roles and responsibilities 

####National Framework

10. The Cabinet Office is responsible for the National Cyber Strategy, which comprises the NIS National Strategy. The Cabinet Office also has overall responsibility for improving the security and resilience of critical national infrastructure.

11. The Department for Digital, Culture, Media and Sport (DCMS) is responsible for the overall implementation of the NIS Regulations, including co-ordinating the relevant authorities and NCSC. DCMS issues guidance for competent authorities to support wider NIS implementation across the UK.

####Single Point of Contact (SPOC)

12. The national contact point for engagement with international [EU] partners on NIS, coordinating requests for action or information and submitting annual incident statistics. The National Cyber Security Centre is the UK’s SPOC.

####Computer Security Incident Response Team (CSIRT)

13. The National Cyber Security Centre is the UK’s CSIRT. It is responsible for monitoring cyber security incidents at a national level; providing real-time threat analysis, defence against national cyber-attacks, technical advice, and response to major cyber incidents to help minimise harm.

14. NCSC maintains the outcome-based Cyber Assessment Framework (CAF) and provides extensive guidance on cyber security matters as National Technical Authority.

####Competent Authorities 

15. These are responsible for oversight and enforcement of the NIS Regulations in their sectors, designating and assessing the compliance of OESs and RDSPs to the requirements of the NIS Regulations. They are set out in Schedule 1 of the NIS Regulations and a list is provided in section 3.

####Operators of Essential Services (OESs) and Relevant Digital Service Providers (RDSPs)

16. OESs or RDSPs which meet the designation thresholds for that sector, or have been designated by the relevant authority under Regulation 8(3) of the NIS Regulations, must comply with the requirements of the NIS Regulations.

17. These involve:

- taking appropriate and proportionate technical and organisational measures to manage risks posed to the security of the network and information systems; 

- taking appropriate and proportionate measures to prevent and minimise the impact of incidents affecting the security of the network and information systems; 

- notifying the relevant competent authority about any incident which has a substantial impact on their services; 

- meeting the inspection requirements under the NIS Regulations; and 

- complying with information, enforcement, and penalty notices.

- RDSPs are also required to register with the ICO. 

###Other relevant authorities:

18. The UK Government works closely with the Devolved Administrations and other relevant authorities, including Lead Government Departments, on the implementation of the NIS Regulations.

19.The Centre for the Protection of the National Infrastructure (CPNI) provides advice on related physical and personnel security.

####List of key authorities for NIS implementation

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="2">National Authorities</th>
</tr>
</thead>
<tbody>
<tr>
<td>UK NIS Regulations</td>
<td>Department for Digital, Culture, Media and Sport</td>
</tr>
<tr>
<td>UK National Cyber Strategy</td>
<td>Cabinet Office</td>
</tr>
<tr>
<td>UK Single Point of Contact (SPOC)</td>
<td>National Cyber Security Centre</td>
</tr>
<tr>
<td>UK Computer Security Incident Response Team (CSIRT)</td>
<td>National Cyber Security Centre</td>
</tr>
</tbody>
</table>

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="6">Competent Authorities</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Sector</strong></th>
<th><strong>Subsector</strong></th>
<th><strong>England</strong></th>
<th><strong>Wales</strong></th>
<th><strong>Scotland</strong></th>
<th><strong>Northern Ireland</strong></th>
</tr>
<tr>
<th rowspan="3"><strong>Energy</strong></th>
<td>Electricity</td>
<td colspan="3">Joint: Department for Business, Energy, and Industrial Strategy and the Gas and Electricity Markets Authority (Ofgem)</td>
<td>Department of Finance</td>
</tr>
<tr>
<td>Oil</td>
<td colspan="3">Department for Business, Energy, and Industrial Strategy</td>
<td>Department of Finance</td>
</tr>
<tr>
<td>Gas</td>
<td colspan="3">Joint: Department for Business, Energy, and Industrial Strategy and the Gas and Electricity Markets Authority (Ofgem)[^39]</td>
<td>Department of Finance</td>
</tr>
<tr>
<th rowspan="4"><strong>Transport</strong></th>
<td>Air</td>
<td colspan="4">Joint: Department for Transport and The Civil Aviation Authority (CAA)</td>
</tr>
<tr>
<td>Rail</td>
<td colspan="3">Department for Transport</td>
<td>Department of Finance</td>
</tr>
<tr>
<td>Water</td>
<td colspan="4">Department for Transport</td>
</tr>
<tr>
<td>Road</td>
<td colspan="2">Department for Transport</td>
<td>Scottish Ministers</td>
<td>Department of Finance</td>
</tr>
<tr>
<th><strong>Healthcare</strong></th>
<td>Healthcare settings</td>
<td>Department of Health andSocial Care</td>
<td>Welsh Ministers</td>
<td>Scottish Ministers</td>
<td>Department of Finance</td>
</tr>
<tr>
<th><strong>Drinking Water</strong></th>
<td>Drinking Water</td>
<td>Department forEnvironment, Food and Rural Affairs</td>
<td>Welsh Ministers</td>
<td>Drinking Water Quality Regulator forScotland</td>
<td>Department of Finance</td>
</tr>
<tr>
<th><strong>Digital Infrastructure</strong></th>
<td>Digital Infrastructure</td>
<td colspan="4">Office of Communication (Ofcom)</td>
</tr>
</tbody>
</table>

##Annex C: Glossary

<strong>Action Fraud –</strong> the reporting centre for fraud and cyber crime where citizens and organisations should report fraud if they have been scammed, defrauded or experienced cyber crime in England, Wales and Northern Ireland. In Scotland, reports go to Police Scotland.

<strong>Active Cyber Defence (ACD) –</strong> helps organisations to find and fix vulnerabilities, manage incidents or automate disruption of cyber-attacks. Some services are designed primarily for the public sector, whereas others are made available more broadly to private sector or citizens, depending on their applicability and viability.

<strong>Artificial Intelligence –</strong> a technology in which a computing system is coded to ‘‘think for itself’, adapting and operating autonomously. AI is increasingly used in more complex tasks, such as medical diagnosis, drug discovery, and predictive maintenance.

<strong>Authentication –</strong> the process of verifying the identity, or other attributes of a user, process or device. 

<strong>Autonomous System –</strong> a collection of IP networks for which the routing is under the control of a specific entity or domain. 

<strong>Blockchain Technology –</strong> a particular way of storing data. A blockchain is an example of a distributed ledger – a type of append-only, tamper-proof storage technology.

<strong>COBR –</strong> Cabinet Office Briefing Rooms. The UK central government response to emergencies is underpinned through use of COBR; the physical location, usually in Westminster, from which the central response is activated, monitored and co-ordinated and which provides a focal point for the government’s response and an authoritative source of advice for local responders.

<strong>Competent Authorities –</strong> regulatory bodies as described in the Network and Information Systems (NIS) Regulations 2018. There are multiple competent authorities responsible for different sectors covered by NIS.

<strong>Connected Places –</strong> a community that integrates information and communication technologies and IoT devices to collect and analyse data to deliver new services to the built environment, and enhance the quality of living for citizens.

<strong>Critical National Infrastructure –</strong> Those critical elements of infrastructure (namely assets, facilities, systems, networks or processes and the essential workers that operate and facilitate them), the loss or compromise of which could result in:

a. major detrimental impact on the availability, integrity or delivery of essential services – including those services whose integrity, if compromised, could result in significant loss of life or casualties – taking into account significant economic or social impacts; and/or

b. significant impact on national security, national defence, or the functioning of the state.

<strong>Crypt-Key (CK) –</strong> the term used to describe the UK’s use of cryptography to protect the critical information and services on which the UK government, military and national security community rely, including from attack by our most capable adversaries. 

<strong>Cryptocurrency –</strong> a digital currency and payment system, e.g. Bitcoin.

<strong>Cryptography –</strong> the science or study of analysing and deciphering codes and ciphers; cryptanalysis. 

<strong>Cyber Assessment Framework (CAF) –</strong> provides a systematic and comprehensive approach to assessing the extent to which cyber risks to essential functions are being managed by the organisation responsible. 

<strong>Cyber Attack –</strong> deliberate exploitation of computer systems, digitally-dependent enterprises and networks to cause harm.

<strong>Cyber crime –</strong> cyber-dependent crime (crimes that can only be added]committed through the use of ICT devices, where the devices are both the tool for committing the crime and the target of the crime); or cyber–enabled crime (crimes that may be committed without ICT devices, like financial fraud, but are changed significantly by use of ICT in terms of scale and reach). 

<strong>Cyber ecosystem –</strong> the totality of interconnected infrastructure, persons, processes, data, information and communications technologies, along with the environment and conditions that influence those interactions. 

<strong>Cyber Incident –</strong> an occurrence that actually or potentially poses a threat to a computer, internet-connected device, or network – or data processed, stored, or transmitted on those systems – which may require a response action to mitigate the consequences. 

<strong>Cyber Resilience –</strong> The overall ability of systems, organisations and citizens to withstand cyber events and, where harm is caused, recover from them.

<strong>Cyber Risk –</strong> The potential that a given cyber threat will exploit the vulnerabilities of an information system and cause harm. 

<strong>Cyber Security –</strong> The protection of internet-connected systems (to include hardware, software and associated infrastructure), the data on them, and the services they provide, from unauthorised access, harm or misuse. This includes harm caused intentionally by the operator of the system, or accidentally, as a result of failing to follow security procedures or being manipulated into doing so. 

<strong>Cyber Security Body of Knowledge (CyBOK) –</strong> A unique resource, providing for the first time an underpinning body of knowledge encompassing the breadth and depth of cyber security, showing that cyber security encompasses a wide range of disciplines.

<strong>Cyber Threat –</strong> anything capable of compromising the security of, or causing harm to, information systems and internet connected devices (to include hardware, software and associated infrastructure), the data on them and the services they provide, primarily by cyber means. 

<strong>Data Breach –</strong> the unauthorised movement or disclosure of information on a network to a party who is not authorised to have access to, or see, the information. 

<strong>Domain –</strong> a domain name locates an organisation or other entity on the Internet and corresponds to an Internet Protocol (IP) address. 

<strong>Devolved government or devolved administration –</strong> The separate legislatures and executives in Scotland, Wales and Northern Ireland following devolution, responsible for many domestic policy issues with the power to make laws for these areas.

<strong>Digital Twin –</strong> a virtual replica or representation of assets, processes, systems, or institutions in the built, societal, or natural environments that provides insight into how complex physical assets and citizens behave, helping organisations improve decision-making and optimise processes. Changes in the real world are reflected in the twin, and changes in the twin can be replicated automatically in the real world.

<strong>Five Eyes –</strong> Five Eyes is the name of the intelligence alliance between the USA, UK, Canada, Australia and New Zealand which helps share information to keep its citizens as safe as possible from threats.

<strong>GCHQ –</strong> Government Communications Headquarters; the centre for the Government’s signals intelligence activities and Cyber National Technical Authority (NTA).

<strong>GFCE –</strong> Global Forum on Cyber Expertise.

<strong>Government Cyber Coordination Centre (GCCC) –</strong> Proposed joint venture between GSG, CDDO and NCSC bringing together their respective functions and areas of expertise to better coordinate operational cyber security efforts across government, transform how cyber security data and threat intelligence is used across government and truly enhance government’s ability to ‘defend as one’.

<strong>Horizon-scanning –</strong> a systematic examination of information to identify potential threats, risks, emerging issues and opportunities allowing for better preparedness and the incorporation of mitigation and exploitation into the policy-making process. 

<strong>ICANN –</strong> Internet Corporation for Assigned Names and Numbers. It coordinates website names and IP addresses.

<strong>Incident Management –</strong> the management and coordination of activities to investigate, and remediate, an actual or potential occurrence of an adverse cyber event that may compromise or cause harm to a system or network. 

<strong>Incident Response –</strong> the activities that address the short-term, direct effects of an incident, and may also support short-term recovery. 

<strong>Industrial Control System (ICS) –</strong> an information system used to control industrial processes, such as manufacturing, product handling, production and distribution, or to control infrastructure assets. 

<strong>Integrated Review –</strong> ‘Global Britain in a Competitive Age, the Integrated Review of Security, Defence, Development and Foreign Policy’, describes the government’s vision for the UK’s role in the world over the next decade and the action government will take to 2025.

<strong>Integrity –</strong> in information security, integrity means that information has not been changed accidentally, or deliberately, and is accurate and complete. 

<strong>Internet –</strong> a global computer network, providing a variety of information and communication facilities, consisting of interconnected networks using standardised communication protocols. 

<strong>Internet of Things –</strong> the totality of devices, vehicles, buildings and other items embedded with electronics, software and sensors that communicate and exchange data over the Internet. 

<strong>Legacy IT –</strong> Legacy IT refers to systems and their component software and hardware that are outside of vendor support, on extended support and/or on bespoke support arrangements

<strong>Managed Service Providers –</strong> third parties that provide a set of defined services to a customer and assume the responsibility of running, maintaining, and securing those services.

<strong>Microgeneration –</strong> the small-scale generation of energy by households, small businesses and communities.

<strong>NATO –</strong> North Atlantic Treaty Organisation.

<strong>NCA –</strong> National Crime Agency.

<strong>National Cyber Security Centre (NCSC) –</strong> the UK’s technical authority for cyber threats, providing a unified national response to cyber incidents to minimise harm, helping with recovery and learning lessons for the future.

<strong>Network and Information Systems (NIS) Regulations 2018 –</strong> UK regulations that provide legal measures to boost the level of security (both cyber & physical resilience) of network and information systems for the provision of essential services and digital services.

<strong>OECD –</strong> The Organisation for Economic Co-operation and Development, an intergovernmental economic organisation.

<strong>Offensive Cyber –</strong> adding, deleting or manipulating data on systems or networks to deliver a physical, virtual or cognitive effect. Offensive cyber operations often exploit technical vulnerabilities, use systems or networks in ways that their owners and operators would not intend or condone, and may rely on deception or misrepresentation. 

<strong>Operational Technologies (OT) –</strong> combine hardware and software to monitor, control and automate physical processes, particularly in industrial sectors such as energy, manufacturing, water, and transport.

<strong>Operators of Essential Services –</strong> organisations within vital sectors which rely heavily on information networks, for example utilities, healthcare, transport, and digital infrastructure sectors as identified by the criteria in the Network and Information Systems (NIS) Regulations 2018.

<strong>Plan for Digital Regulation –</strong> sets out the government’s overall approach for governing digital technologies in order to drive growth and innovation. 

<strong>Quantum Technologies –</strong> Quantum technology relies on the principles of quantum physics. The advancing understanding and control of what are known as ‘quantum effects’ such as superposition and entanglement will lead to a new wave of advances that will underpin our economy and society: sensing, data transmission and encryption, timing and computing.

<strong>Ransomware –</strong> malicious software that denies the user access to their files, computer or device until a ransom is paid.  

<strong>Secure by Design –</strong> software, hardware and systems that have been designed from the ground up to be secure.

<strong>Vulnerability –</strong> bugs in software programs that have the potential to be exploited by attackers. 

<strong>Vulnerability Reporting Service –</strong> A mechanism through which an organisation can be alerted to security flaws before they are exploited by attackers.

