
##National Cyber Strategy 2022

###Pioneering a cyber future with the whole of the UK

(image)

Cyber: Wider Content

<a href="">Recent case studies of cyber attacks26</a>

<a href="">The National Cyber Security Centre40</a>

<a href="">The National Cyber Force42</a>

<a href="">Law Enforcement’s National Cyber Crime Network44</a>

<a href="">Cyber Map52</a>

<a href="">The UK Cyber Security Council56</a>

<a href="">Interested in joining the cyber workforce or starting your own business?60</a>

<a href="">Technologies vital to Cyber Power80</a>

<a href="">Digital Security by Design84</a>

<a href="">Stopping cyber crime also means tackling other types of criminal activity103</a>

<a href="">Major law enforcement cyber crime investigations 108</a>

<a href="">Taking action through cyberspace to counter terrorism110</a>

##Foreword

The United Kingdom is an open and democratic society, whose record in collaboration and innovation underpins our success as an outward-looking global nation. We see this in our response to international health emergencies and in our promotion of Net Zero targets. But nowhere are the advantages of this approach more evident than in cyber.  

Whether it’s realising the wide-ranging benefits that cyber offers our citizens and our economy as we level up and unite the entire country; working with partners towards a cyberspace that reflects our national values or using the full extent of our cyber capability to influence global events, the UK sees cyber as a way to protect and promote our interests in a landscape being reshaped by technology. 

The new National Cyber Strategy is our plan to ensure that the UK remains confident, capable and resilient in this fast-moving digital world; and that we continue to adapt, innovate and invest in order to protect and promote our interests in cyberspace. 

Taking over where the pioneering National Cyber Security Strategy of 2016 leaves off, this next chapter leads us into a future where the UK is even more resilient to cyber attack. As lead minister, I am clear about two of its core aims: first that we should strengthen our hand in technologies that are critical to cyber; second, that we should limit our reliance on individual suppliers or technologies which are developed under regimes that do not share our values.

UK science and technology will be the engine room of this change, ensuring that cyber continues to be a national economic and strategic asset, that our technology is more trustworthy and is better able to ward off a spectrum of cyber adversaries whose capabilities were, until recently, the sole preserve of nation states.

As a government, we have committed to spend £22 billion on research and development, and to put technology at the heart of our plans for national security. We have all seen the transformative potential of digital technologies but also, as with 5G, their potential to disrupt. Our plans for artificial intelligence and data policy will help ensure that we are on the front foot for these technologies, and the steps taken under the cyber strategy will ensure we have confidence in the security and resilience of suppliers and partners. 

The creation of the National Cyber Force last year represents a significant step-up in our offensive cyber capability. But basic cyber security remains central to our efforts as we toughen up our response to those who attack the UK and our citizens. Our focus is also on making the public sector more resilient, helping councils protect their systems and citizens’ personal data from ransomware and other cyber attacks. 

As a society, cyber is for everyone. Through this Strategy, the government is doing more to protect UK citizens and companies, and its international partners – helping realise its vision of cyberspace as a reliable and resilient place for people and business to flourish.

<strong>The Rt Hon Steve Barclay MP Chancellor of the Duchy of Lancaster and Minister for the Cabinet Office</strong>

##Introduction

###The opportunities and challenges of the digital age

Exponential advances in technology combined with decreasing costs have made the world more connected than ever before, driving extraordinary opportunity, innovation and progress. The coronavirus (COVID-19) pandemic has accelerated this trend, but we are likely still in the early stages of a long-term structural shift. The global expansion of cyberspace is changing the way we live, work and communicate, and transforming the critical systems we rely on in areas such as finance, energy, food distribution, healthcare and transport. In short, cyberspace is now integral to our future security and prosperity. This offers extraordinary opportunities for technologically advanced countries like the UK to pursue their national goals in new ways. 

The scale and speed of this change – often outpacing our social norms, laws, and democratic institutions – is also unleashing unprecedented complexity, instability and risk. The past year has seen cyber attacks on hospitals and oil pipelines, schools and businesses, some brought to a standstill by ransomware, and commercial spyware used to target activists, journalists and politicians. The transnational nature of cyberspace means these challenges cannot be addressed without international collaboration, but it is also an increasingly important arena of systemic competition and the clash of competing interests, values and visions of our global future. 

###Our vision: cyber power in support of national goals

In this context, cyber power is becoming an ever more vital lever of national power and a source of strategic advantage. <strong>Cyber power is the ability to protect and promote national interests in and through cyberspace.</strong> Countries that are best able to navigate the opportunities and challenges of the digital age will be more secure, more resilient and more prosperous in future. The UK is one of the world’s most digitally advanced nations and this government has an ambitious technology agenda, at home and abroad. This means we are especially exposed to the challenges of cyberspace but also uniquely well-placed to lead the way in seizing its opportunities for our citizens and for the common benefit of humanity. 

Over the next ten years, the internet, digital technology and the infrastructure that underpins it will become ever more fundamental to our interests and to those of our allies and adversaries. As we forge a new role for the UK in a more competitive age, strengthening our cyber power will enable us to lead the way for industry and other countries, get ahead of future changes in technology, mitigate threats and gain strategic advantage over our adversaries and competitors. It will make the UK one of the most secure and attractive digital economies to live, do business and invest in.

Our vision is that the <strong>UK in 2030 will continue to be a leading responsible and democratic cyber power, able to protect and promote our interests in and through cyberspace in support of national goals:</strong> 

- a more secure and resilient nation, better prepared for evolving threats and risks and using our cyber capabilities to protect citizens against crime, fraud and state threats

- an innovative, prosperous digital economy, with opportunity more evenly spread across the country and our diverse population

- a Science and Tech Superpower, securely harnessing transformative technologies in support of a greener, healthier society

- a more influential and valued partner on the global stage, shaping the future frontiers of an open and stable international order while maintaining our freedom of action in cyberspace

Over the past decade we have established the UK as a cyber power, building cutting-edge cyber security and operations capabilities and a leading cyber security sector. This strategy builds on the significant progress made through the National Cyber Security Strategy 2016-2021 and three important conclusions set out in the government’s Integrated Review of Security, Defence, Development and Foreign Policy. First, that in the digital age, the UK’s cyber power will be an ever more important lever for delivering our national goals. Second, that sustaining our cyber power requires a more comprehensive and integrated strategy, considering our full range of cyber objectives and capabilities. And third, that this must be a whole of society approach – that what happens in the boardroom or the classroom matters as much to our national cyber power as the actions of technical experts and government officials, and working in partnership will be essential to our success.

###The five pillars of our strategy

The Integrated Review set out five ‘priority actions’ for this strategy and we will use these as the pillars of our strategic framework, guiding and organising the specific actions we will take and the outcomes we intend to achieve by 2025:

- <strong>Pillar 1: Strengthening the UK cyber ecosystem</strong>, investing in our people and skills and deepening the partnership between government, academia and industry

- <strong>Pillar 2: Building a resilient and prosperous digital UK</strong>, reducing cyber risks so businesses can maximise the economic benefits of digital technology and citizens are more secure online and confident that their data is protected

- <strong>Pillar 3: Taking the lead in the technologies vital to cyber power</strong>, building our industrial capability and developing frameworks to secure future technologies

- <strong>Pillar 4: Advancing UK global leadership and influence for a more secure, prosperous and open international order</strong>, working with government and industry partners and sharing the expertise that underpins UK cyber power

- <strong>Pillar 5: Detecting, disrupting and deterring our adversaries to enhance UK security in and through cyberspace</strong>, making more integrated, creative and routine use of the UK’s full spectrum of levers 

Part 1 of this document sets out the strategic context we are operating in, the goals of our strategy, and the strategic approach we will adopt over the coming decade. Part 2 sets out the specific actions we will take to deliver our goals to 2025, organised under these five pillars.

###Vision

The UK in 2030 will continue to be a leading responsible and democratic cyber power, able to protect and promote our interests in and through cyberspace in support of national goals.

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="4">Pillars and objectives</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>Pillar 1 </strong><br /><br /><strong>Strengthening the UK </strong><br /><strong>cyber ecosystem</strong></th>
<td>1. Strengthen the structures, partnerships and networks necessary to support a whole-of-society approach to cyber.</td>
<td>2. Enhance and expand the nation&rsquo;s cyber skills at every level, including through a world class and diverse cyber profession that inspires and equips future talent.&nbsp;</td>
<td>3. Foster the growth of a sustainable, innovative and internationally competitive cyber and information security sector, delivering quality products and services, which meet the needs of government and the wider economy.&nbsp;</td>
</tr>
<tr>
<th><strong>Pillar 2 </strong><br /><br /><strong>Building a resilient and </strong><br /><strong>prosperous&nbsp;digital UK</strong></th>
<td>1. Improve the understanding of cyber risk to drive more effective action on cyber security and resilience.&nbsp;</td>
<td>2. Prevent and resist cyber attacks more effectively by improving management of cyber risk within UK organisations, and providing greater protection to citizens.&nbsp;</td>
<td>3. Strengthen resilience at national and organisational <br />level to prepare <br />for, respond to <br />and recover from <br />cyber attacks.&nbsp;</td>
</tr>
<tr>
<th rowspan="2"><strong>Pillar 3 </strong><br /><br /><strong>Taking the lead in </strong><br /><strong>the technologies </strong><br /><strong>vital to cyber power</strong></th>
<td>1. Improve our ability to anticipate, assess and act on the science and technology developments most vital to our cyber power.&nbsp;</td>
<td>2. Foster and sustain sovereign and allied advantage in the security of technologies critical to cyberspace.&nbsp;</td>
<td rowspan="2">2a. Preserve a robust and resilient national Crypt-Key enterprise which meets the needs of HMG customers, our partners and allies, and has appropriately mitigated our most significant risks including the threat from our most capable of adversaries&nbsp;</td>
</tr>
<tr>
<td>3. Secure the next generation of connected technologies and infrastructure, mitigating the cyber security risks of dependence on global markets and ensuring UK users have access to trustworthy and diverse supply.&nbsp;</td>
<td>4. Work with the multistakeholder community to shape the development of of global digital technical standards in the priority areas that matter most for upholding our democratic values, ensuring our cyber security, and advancing UK strategic advantage through science and technology.&nbsp;</td>
</tr>
<tr>
<th><strong>Pillar 4 </strong><br /><br /><strong>Advancing UK </strong><br /><strong>global leadership </strong><br /><strong>and influence</strong></th>
<td>1. Strengthen the cyber security and resilience of international partners and increase collective action to disrupt and deter adversaries.&nbsp;</td>
<td>2. Shape global governance to promote a free, open, peaceful and secure cyberspace.&nbsp;</td>
<td>3. Leverage and export UK cyber capabilities and expertise to boost our strategic advantage and promote our broader foreign policy and prosperity interests.&nbsp;</td>
</tr>
<tr>
<th><strong>Pillar 5 </strong><br /><br /><strong>Detecting, disrupting and </strong><br /><strong>deterring adversaries</strong></th>
<td>1. Detect, investigate and share information on state, criminal and other malicious cyber actors and activities in order to protect the UK, its interests and its citizens.&nbsp;</td>
<td>2. Deter and disrupt state, criminal and other malicious cyber actors and activities against the UK, its interests, and its citizens.&nbsp;</td>
<td>3. Take action in and through cyberspace to support our national security and the prevention and detection of serious crime.&nbsp;</td>
</tr>
</tbody>
</table>

<hr>

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="2">Supporting national goals</th>
</tr>
</thead>
<tbody>
<tr>
<td>Security and resilience</td>
<td>Science and Tech Superpower</td>
</tr>
<tr>
<td>Economic prosperity</td>
<td>Shaping the international order</td>
</tr>
</tbody>
</table>

<hr>

##Part 1: Strategy

###Strategic Context

####Global Britain in a Competitive Age

The Integrated Review of Security, Defence, Development and Foreign Policy, published in March 2021, describes the government’s vision for the UK’s role in the world over the next decade and the action we will take to 2025. It recognises that for the UK to be better equipped for a more competitive world we must embrace innovation in science and technology to boost our national prosperity and strategic advantage. The National Cyber Strategy builds on this approach and its publication is one of the commitments under the Integrated Review strategic objective for ‘sustaining strategic advantage through science and technology’.<a id="_idTextAnchor004"></a>

####The cyber landscape

The policy challenges presented by cyberspace are not solely technological in nature. The cyber domain is a human-made environment and is fundamentally shaped by human behaviour. It amplifies such behaviours for better or worse, the impacts of which are usually also felt in the physical world. Cyberspace is owned and operated by private companies, governments, non-profit organisations, individual citizens and even criminals. This means that any strategic response to this context must link geostrategy and national security, criminal justice and civil regulation, economic and industrial policy and requires a deep understanding of the different cultural or social contexts and value systems interacting online.

Cyberspace also transcends national borders. Technology supply chains and critical dependencies are increasingly global, cyber criminals and state-based actors operate from around the world, powerful technology companies export products and set their standards, and the rules and norms governing cyberspace and the internet are decided in international fora. Cyberspace is also continually evolving as technology and the ways people use it change, requiring us to adopt an agile and responsive approach. 

###Layers of Cyberspace

<hr>

####What is cyberspace? 

To many of us, cyberspace is the virtual world we experience when we go online to communicate, work and conduct everyday tasks. In technical terms, cyberspace is the interdependent network of information technology that includes the internet, telecommunications networks, computer systems and internet-connected devices. For the military, and when considering our efforts to counter threats in cyberspace, it is an operational domain, along with land, sea, air and space.

How is cyberspace experienced? Cyberspace is, by definition, a ‘shared’ space and its scale and complexity means that every person’s experience of it is unique. Citizens access cyberspace when they check their bank accounts online or stream a film at home. Businesses use cyberspace to connect their staff with the resources they need, whether this is access to information or control over a manufacturing process. Governments provide public services to their citizens using online portals. Cyber professionals look ‘under the hood’ at the technology, standards and protocols that make it all ‘just work’ for users. All these groups use cyberspace in different ways and for different purposes, and we are all making an ever-greater use of it.<a id="_idTextAnchor005"></a>

<hr>

<table class="financial-data source-tableeditor">
<tbody>
<tr>
<th><strong>Online&nbsp;experience</strong></th>
<td>&bull; Email accounts <br />&bull; Gaming profiles <br />&bull; Social Media account <br />&bull; Bank account login <br />&bull; Contactless travel&nbsp;card ID <br />&bull; Fitness tracker profile</td>
</tr>
<tr>
<th><strong>Software, systems&nbsp;and data</strong></th>
<td>&bull; Enterprise IT systems<br />&bull; Databases, e.g.&nbsp;HMRCs tax records <br />&bull; Industrial control systems <br />&bull; Windows/OS <br />&bull; Apps, eg WhatsApp,&nbsp;Facebook, TikTok <br />&bull; Programming languages, Python,&nbsp;C++</td>
</tr>
<tr>
<th><strong>Physical&nbsp;devices and communication</strong></th>
<td>&bull; Routers, Hubs <br />&bull; Servers <br />&bull; WiFi, Ethernet <br />&bull; Radio Antennas <br />&bull; Smart fridges <br />&bull; Contactless travel&nbsp;card reader <br />&bull; Phones, PCs and&nbsp;other personal devices</td>
</tr>
</tbody>
</table>

<strong>Cyberspace can be described in terms of three layers: </strong>

<strong>Virtual</strong>

The part of cyberspace most people experience. It consists of representations of people and organisations through a virtual identity in a shared virtual space. Virtual representations could be an email address, user identification, a social media account or an alias. One person or one organisation can have multiple identities online. Conversely, multiple people or organisations could also create just a single, shared identity.

<strong>Logical</strong>

The part of cyberspace made up of code or data, such as operating systems, protocols, applications and other software. The logical layer cannot function without the physical layer and information flows through wired networks or the electromagnetic spectrum. The logical layer, along with the physical layer allow virtual identities to communicate and act.

<strong>Physical</strong>

The physical layer of cyberspace includes all the hardware on which data is transmitted, from the routers, wires and hubs that you have in your home, to large complex telecommunications systems operated by big tech companies. As well as physical infrastructure it includes the electromagnetic spectrum on which data is transmitted, such as WiFi and radio.

####Cyber power

At the heart of our strategy is the concept of cyber power, which we define as the ability of a state to protect and promote its interests in and through cyberspace. We identify five broad dimensions of cyber power which align to the pillars of this strategy:

- The people, knowledge, skills, structures and partnerships that are the foundation of our cyber power, underpinning all the other components and integrating them into a national approach

- The ability to protect our assets through cyber security and resilience, in order to realise the full benefits that cyberspace offers to our citizens and economy

- The technical and industrial capabilities to maintain a stake in the evolution of key cyber technologies and deploy new advances in the interests of society

- The global influence, relationships and ethical standards to shape rules and norms in cyberspace in line with our values and interests and promote international security and stability

- The ability to take action in and through cyberspace to support national security, economic wellbeing and crime prevention. This includes cyber operations to deliver real world effect, and to help achieve strategic advantage, and law enforcement operations and the application of cyber sanctions to bring malicious cyber actors criminals to justice and disrupt their activities

Cyber power is distinct from more traditional forms of power. It involves seamlessly blending hard capabilities and softer levers of influence. It is more distributed and governments must work with partners in order to attain and exercise it. And the pace of technological change means that it can be gained and lost more quickly, as previously cutting edge capabilities are rendered obsolete by new advances. 

Our strategy reflects this, describing how we will work with partners wherever we can as part of a whole-of-society effort. We will do more to address problems upstream and fix root causes, anticipate future trends and put in place long-term responses, and be more active in shaping rather than responding to the contested geopolitical environment.

####The UK as a cyber power today

The UK is already a leading cyber power.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-020">1</a> Over the past decade the government has led a sustained national effort to strengthen the UK’s cyber security, raise public awareness of cyber risks, grow the cyber security sector, and develop a wide range of capabilities through cyberspace to respond to threats from hostile actors. While we have made great progress and put ourselves in a strong position we still face significant challenges across the five pillars of this strategy.

<strong>The UK’s cyber ecosystem and technology leadership</strong>

The UK’s approach to building its cyber power has included concerted efforts to develop the country’s cyber skills base and commercial capabilities, with the UK government and the devolved governments of Northern Ireland, Scotland and Wales working in partnership and learning from each other. The UK cyber security sector is growing fast, with over 1400 businesses generating revenues of £8.9 billion last year, supporting 46,700 skilled jobs, and attracting significant overseas investment. This sector is vital to our cyber power, supporting our security, and international influence and economic growth. We have consolidated the UK’s reputation as a global leader in cyber security research, with 19 academic centres of excellence and 4 research institutes tackling our most pressing cyber security challenges. 

The cyber security sector workforce has grown by around 50% in the last four years, with demand for skills often outstripping supply. We have engaged extensively with industry, professional organisations, students, employers, existing cyber security professionals and academia to better understand the nature of the cyber security skills challenge. We have made a wide range of extracurricular initiatives available to inspire young people to pursue a career in cyber security. From 2019 to 2020, we involved close to 57,000 young people in our CyberFirst and Cyber Discovery learning programmes. We extended our courses to reach younger students and the CyberFirst Girls’ competition online attracted 11,900 girls, with the top teams competing simultaneously at 18 venues across the UK. Our CyberFirst bursary programme has attracted highly motivated, talented undergraduates. Last year there were 750 students in the scheme and all 56 graduates were in full-time cyber security roles. 

Despite these interventions the wider skills pipeline still remains a significant challenge: of the 1.32 million businesses in the wider economy, around 50% still report a basic technical cyber security skills gap.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-019">2</a> And although the UK cyber security sector has grown rapidly, most companies are startups and building large scale domestic vendors remains challenging in the face of international consolidation. As the experience with 5G has shown, the UK and our allies do not have a leading position in some key areas of the wider technology industry. Countries that are able to establish a leading role in the technologies critical to cyber power will be better positioned to influence the way they are designed and deployed, more able to protect their security and economic advantage, and quicker to exploit opportunities for breakthroughs in cyber capabilities.

<strong>The UK’s cyber resilience</strong>

Over the last decade we have delivered a wide range of interventions aimed at strengthening the UK’s cyber resilience. This has been possible thanks to the significant and sustained investment in some of our core cyber capabilities, including the National Cyber Security Centre (NCSC), law enforcement and our security and policy professionals across government, as well as our expanding domestic and international partnerships. 

Our most innovative and groundbreaking efforts have been to take action at scale, including through the development and increasing roll-out of the Active Cyber Defence (ACD) programme. Last year it took down 2.3 million malicious campaigns – including 442 phishing campaigns using NHS branding and 80 illegitimate NHS apps hosted and available to download outside of official app stores.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-018">3</a> We also took the lead globally in pushing for connectable consumer products to be ‘secure by design’, developing a UK code of practice in 2018 that inspired others to follow and informed the first globally-applicable industry standard on internet-connected consumer devices.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-017">4</a> <a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-016">5</a> 

New regulation has had a positive impact on cyber security, with 82% of organisations saying the improvements they had made were influenced by the introduction of the UK General Data Protection Regulation in 2018.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-015">6</a> And 77% of businesses now see cyber security as a high priority, an increase of 12% since 2016.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-014">7</a> The introduction of the Network & Information Systems Regulations (‘NIS regulations’) in 2018 also led to designated organisations taking measures to better ensure the security of their networks and information systems, leading to a reduction in the cyber risks posed to essential services and important digital services.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-013">8</a> A good example of collaboration across the four nations of the UK has been the improvements made across the health sector, including the implementation of the NIS regulations. 

We have provided comprehensive cyber security advice and guidance to organisations in the wider economy, and tailored support to critical sectors during the coronavirus (COVID-19). For the public, our Cyber Aware campaign has provided advice on the steps they can take to protect themselves online. When cyber attacks have got through we have used our world-leading incident response capabilities to provide direct support in the most serious cases and our investment in local law enforcement specialists means that every reported incident now receives a response. 

We have established specialist law enforcement cyber units the UK, and alongside this the cyber PROTECT network, Economic Crime Victims Care Unit and regional Cyber Resilience Centres. These initiatives mean that for citizens and small-to-medium-sized organisations there is someone nearby or easily contactable who has the right skills and local knowledge to provide support and guidance to improve your cyber resilience. 

However, we have growing evidence of gaps in our national resilience, with levels of cyber crime and breaches affecting government, businesses and individuals continuing to rise as well as cyber-enabled crime, like fraud.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-012">9</a> <a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-011">10</a> Legacy IT systems, supply chain vulnerabilities and a shortage of cyber security professionals are growing areas of concern. Almost four in ten businesses (39%) and a quarter of charities (26%) report suffering cyber security breaches or attacks in the last year, and many organisations (especially small and medium enterprises) lack the ability to protect themselves and respond to incidents.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-010">11</a> Industry tells us that many businesses do not understand the cyber risks they face, that commercial incentives to invest in cyber security are not clear, and that there is often little motivation to report breaches and attacks. 

<strong>The UK’s international leadership and influence</strong>

Internationally, UK cyber expertise is regarded highly by our partners and the UK has been instrumental in increasing international capability and resolve to confront malicious cyber activity. This has been reinforced by responsible use of our offensive cyber capabilities, consistent with both UK and international law and our publicly stated positions, in contrast with the indiscriminate activities of some of our adversaries. 

During our period as Chair-in-Office of the Commonwealth, the UK conceived and led the implementation of the Commonwealth Cyber Declaration, a shared commitment to our security, prosperity and values in cyberspace. The National Crime Agency’s (NCA) international network has strengthened our cyber law enforcement partnerships overseas, building on relationships cultivated through a long history of collaborative operational response. The UK has also grown its overseas network of cyber and tech security officers across five continents and undertaken capacity building work across 100 countries, building resilience, enhancing UK influence and promoting UK values. 

The Cyber Security Ambassador programme has developed long-term relationships and helped UK businesses secure major international contracts. UK international development interventions such as the Digital Access Programme have successfully collaborated with partner countries in Africa, Asia and Latin America by providing technical advice to enhance the cybersecurity capacity of their government, business sectors and users – including through increasing cyber-hygiene skills in underserved communities to enable the most vulnerable to protect themselves from the risks and challenges of being online

However, we face competing approaches internationally as systemic competitors like China and Russia continue to advocate for greater national sovereignty over cyberspace as the answer to security challenges. Internet freedom is decreasing globally and the vision of the internet as a shared space that supports the exchange of knowledge and goods between open societies risks coming under threat. 

<strong>Countering cyber threats to the UK and deterring our adversaries</strong>

The threats we face in and through cyberspace have grown in intensity, complexity and severity in recent years. Cyber attacks against the UK are conducted by an expanding range of state actors, criminal groups (sometimes acting at the direction of states or with their implicit approval) and activists for the purpose of espionage, commercial gain, sabotage and disinformation. Such attacks cause significant financial loss, intellectual property theft, psychological distress, disruption to services and assets and risks to our critical national infrastructure, democratic institutions and media. They can also damage investor and consumer confidence and amplify existing inequalities and harms. During the COVID-19 pandemic the shadow pandemic of gender-based violence was compounded by online attacks. Ransomware attacks continue to become more sophisticated and damaging. While the overall level of cyber threat from hostile actors during the COVID-19 pandemic has remained constant, they have exploited it as an opportunity and shifted their cyber operations to steal vaccine and medical research, and to undermine other nations already hampered by the crisis. The growing dependence on digital technologies for remote working and online transactions has also increased exposure to risks. Alongside this, digital divides have also created uneven access to online services and exposed people to online abuse and harms due to limited digital literacy and awareness of the cyber security measures we can all take to stay secure online.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-009">12</a>

Government has taken steps to counter these growing threats. Significant investment in our intelligence capabilities has increased our understanding of the threat and enabled us to conduct more effective covert counter campaigns. We have developed an integrated law enforcement response to cyber crime, led by the National Crime Agency (NCA) and dedicated cyber teams within regional organised crime units and local police forces across England, Wales, Northern Ireland and Scotland. This has enhanced our operational and investigative edge over cyber criminals and other adversaries. The government is also strengthening the security of the increasing number of digital identity solutions, by developing the UK digital identity and attributes trust framework.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-008">13</a> This will also help to tackle crimes that involve misuse of identity data. And the NCA’s Cyber Choices programme is helping people to make more informed choices, diverting them from criminality to use their cyber skills in a positive and legal way. 

We have invested significantly in our offensive cyber capabilities, first through the National Offensive Cyber Programme, and more recently through the establishment of the National Cyber Force (NCF). The NCF draws together personnel from the Government Communications Headquarters (GCHQ), the Ministry of Defence (MOD), the Secret Intelligence Service (SIS, also known as MI6) and the Defence Science and Technology Laboratory, under one unified command for the first time. It is operating in and through cyberspace to keep the country safe and to protect and promote the UK’s interests at home and abroad. 

In coordination with our allies, we have also sought to raise the cost of state-sponsored hostile activity in cyberspace by attributing attacks – as we did with the recent SolarWinds and Microsoft Exchange breaches – and imposing consequences on those responsible. The development of the autonomous UK cyber sanctions regime has added another disruptive tool that we have used to respond to incidents such as the WannaCry and NotPetya attacks. However, despite all this, our approach to cyber deterrence does not yet seem to have fundamentally altered the risk calculus for attackers. Some recent examples of significant cyber attacks are described below. 

###Recent case studies of cyber attacks

During 2021, the UK continued its work with global partners to detect and disrupt shared threats, the most consistent of these emanating from Russia and China. In addition to the direct cyber security threats posed by the Russian state, it became clear that many of the organised crime gangs launching ransomware attacks against Western targets were based in Russia. China remained a highly sophisticated actor in cyberspace with increasing ambition to project its influence beyond its borders and a proven interest in the UK’s commercial secrets. How China evolves in the next decade will probably be the single biggest driver of the UK’s future cyber security. While less sophisticated than Russia and China, Iran and North Korea continued to use digital intrusions to achieve their objectives, including through theft and sabotage.

####Cyber criminals using ransomware to attack public services

Ransomware became the most significant cyber threat facing the UK in 2021. Due to the likely impact of a successful attack on essential services or critical national infrastructure the NCSC assessed ransomware as potentially as harmful as state-sponsored espionage.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-007">14</a>

In October 2020, Hackney Council suffered a ransomware cyber attack which caused many months of disruption and cost millions of pounds to rectify. At a critical time when it was dealing with the impact of the COVID-19 pandemic, the council was locked out of important data and many services were disrupted, including council tax and benefit payments. Other local authorities have suffered similar attacks, as have a variety of organisations in the education sector. 

In May 2021, a ransomware attack against the Irish Health Service Executive (HSE) disrupted Irish healthcare IT networks and hospitals for over 10 days, causing real-world consequences to patients and their families. Some stolen patient data was also published online. The HSE, which provides health and social care services in Ireland, shut down national and regional networks the same day to contain the incident. Malicious cyber activity was also detected on the Irish Department of Health (DoH) network however due to the deployment of tools during the investigation process an attempt to execute ransomware was detected and stopped. The attack also had an impact on Northern Ireland, affecting the ability to access data held by HSE for some cross-border patient services.

Importantly, no ransom payment was made in either case. <strong>Law enforcement do not encourage, endorse, nor condone the payment of ransom demands. If you do pay the ransom:</strong>

- <strong>there is no guarantee that you will get access to your data or computer</strong>

- <strong>your computer will still be infected</strong>

- <strong>you will be paying criminal groups</strong>

- <strong>you’re more likely to be targeted in the future</strong>

The NCSC publish guidance on how to defend organisations against malware or ransomware attacks, including how to prepare for an incident and steps to take if your organisation is already infected.

<strong>States exploiting strategic vulnerabilities and supply chains </strong>

The compromise of the software company SolarWinds and the exploitation of Microsoft Exchange Servers highlighted the threat from supply chain attacks. These sophisticated attacks, which saw actors target less-secure elements - such as managed service providers or commercial software platforms - in the supply chain of economic, government and national security institutions were two of the most serious cyber intrusions ever observed by the NCSC. 

In early December 2020, a US cyber security firm, FireEye, found that an attacker had been able to add a malicious modification to a product that they and many other organisations around the world utilise. This modification allowed the attacker to send administrator-level commands to any affected installation of that product and could be used for further targeted attacks on connected systems. The initial supply chain attack was conducted through a piece of software called Orion, an IT network monitoring tool developed by a company called SolarWinds. The actor was able to implant malicious code into an update file for the software, as far back as March 2020. In April 2021 the NCSC, together with its security counterparts in the US, revealed for the first time that Russia’s Foreign Intelligence Service (the SVR) was behind this attack – one of the most serious cyber intrusions of recent times.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-006">15</a> SolarWinds confirmed 18,000 organisations across the world including US Government departments were affected. This incident was part of a wider pattern of cyber intrusions by the SVR who have previously attempted to gain access to the IT networks of NATO members and governments across Europe.

On 2 March 2021, Microsoft made public that sophisticated actors had attacked a number of <strong>Microsoft Exchange</strong> servers, which are used by organisations worldwide to manage their email, scheduling and collaboration. Microsoft assessed that the initial intrusions commenced as early as January 2021 and were Chinese state-sponsored. In response to this they released multiple security updates for affected servers. In July 2021, the UK joined like-minded partners to confirm that Chinese state-backed actors were responsible for the attacks that affected over a quarter of a million servers worldwide.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-005">16</a> The attack was highly likely to enable large-scale espionage, including acquiring personally identifiable information and intellectual property. Compromising Microsoft Exchange gave the perpetrator a foothold to pivot further into the IT networks of victims. At the time of the attack, the government quickly provided advice and recommended actions to those affected and Microsoft said that by end of March that 92% of customers had patched against the vulnerability. 

###Drivers of change

The coming decade will see the <strong>continued rapid expansion of data and digital connectivity to almost every aspect of our lives.</strong> Huge global growth in Internet access and usage, underpinned by data and the infrastructure upon which data use relies, is creating new markets and increasing convenience, choice and efficiency. But it also makes countries much more dependent on interconnected digital systems, providing more opportunities for malicious activity and significant ‘real-world’ impact. As critical and non-critical technologies continue to converge across sectors these risks are spreading to new areas of our economy, and the movement of data and services into the cloud – and often out of the UK – is further increasing our exposure.

We are increasingly seeing the interaction of established businesses in regulated sectors, such as telecoms and energy, with new and largely unregulated businesses, such as those providing microgeneration, electric vehicle charging or ‘connected places’ capabilities. Critical infrastructures will become much more distributed and diffuse and this fundamentally changes how regulation will impact the security of the critical functions and services we rely on. This diversification will also affect our wider national security, making it more difficult to gain access to information whether for law enforcement or cyber security. This change in environment will also affect products and services more widely outside of our traditional critical national infrastructure.

This <strong>increasingly complex landscape</strong> will make it even harder for states, businesses and society to understand the risks they face and how they can and should protect themselves. Increased dependency on third party suppliers of managed services, which often have privileged access to the IT systems of thousands of clients, is creating new risks that need to be addressed. Devices and networks will increasingly be connected to the internet as standard, extending cyberspace to our homes, vehicles, built environment and industrial infrastructure. Sensors, wearables, medical devices and biometrics will further blur the boundary between offline and online activity. Cyber risks will become pervasive, increasing the volume of personal and sensitive data generated and the potential impact if systems are breached. 

Against this backdrop, the <strong>threats in cyberspace will continue to evolve and diversify</strong> as high-end cyber capabilities become commoditised and proliferate to a wider range of states and criminal groups. The number of actors with the ability and intent to target the UK in cyberspace will increase and states will employ a wider range of levers to conduct disruptive activity, including the use of proxy actors. The accelerated transition to hybrid working and restrictions on international travel resulting from the pandemic have led to greater reliance on digital services and incentivised organised crime groups towards cyber crimes. We are already beginning to see signs of this trend with the latest crime survey estimating that cyber crimes have increased significantly between 2019 and 2021.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-004">17</a> This challenge will not be unique to the UK, creating mutual vulnerability for all those who rely on cyberspace.

<strong>Cyberspace will become more contested</strong> as state and non-state actors seek strategic advantage in and through cyberspace. Cyber operations will become increasingly important to power projection below the threshold of armed conflict and in pre-conflict situations. Future conflicts will also see an increase in the use of cyber capabilities. For the UK to act effectively we will require higher levels of cyber resilience in our defence capabilities. Cyber operations will need to be integrated with other force elements to defeat threats and enable wider defence activity. Space will increasingly become a domain of activity, as set out in the National Space Strategy, opening up new areas of risk but also creating opportunities for the UK to exploit its cyber capabilities to achieve advantage in new ways.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-003">18</a>

Debates over the rules governing cyberspace will increasingly become a site of <strong>systemic competition between great powers</strong>, with a clash of values between countries that want to preserve a system based on open societies and systemic competitors like China and Russia who are promoting greater state control as the only way to secure cyberspace. This will put pressure on the free and open internet, as nation states, big technology firms and other actors promote competing approaches to technical standards and internet governance. 

This will be exacerbated by <strong>competition for control of a rapidly evolving technological landscape</strong>. As digital technology is integrated into our everyday lives, businesses and infrastructure, some technologies are becoming genuinely critical to the functioning of society. Power will increasingly be held by countries that have a strategic advantage in science and technology and access to the data that drives innovation, enabling them to exert influence over others and to shape global standards in ways that best fit their own economic and political interests.

<strong>Emerging technologies</strong> such as digital twins, quantum computing, and large-scale autonomous systems – and the information they generate – will create new opportunities and risks and open up new cyber capabilities for attackers and defenders, just as cryptocurrencies are being exploited by ransomware gangs. Leadership in technology is becoming more distributed, and the UK will not be able to develop sovereign capability in all the technologies that matter. States and companies make use of technical standards to promote their own interests and we risk key technologies being shaped by those who do not share our values.

For over a decade the UK has pursued an ambitious national cyber security strategy and sustained a significant level of investment, establishing the country as a global leader in cyber. As evident from the analysis above, significant challenges and opportunities remain. The following sections outline our national response.

###Our National Response

In this strategic environment, the UK has a choice to make. We could aim simply to keep pace with the threats and challenges we face in an increasingly complex cyberspace, consolidating the progress of the last five years and addressing the most urgent issues where we can. There are two risks to this approach. The first is that we do not fully realise the potential of the UK’s strength in cyber to support national priorities, and miss out on opportunities. The second, more severe risk is that we reach a technological tipping point, and find that the foundations of our future economy and society are being shaped by our competitors and adversaries, and that we will have to work harder to assure our own security.

Our judgment is that, as cyberspace becomes ever more fundamental to our interests and those of our allies and adversaries, <strong>it is a strategic imperative to foster our competitive advantage in navigating this landscape</strong>. This will enable us not only to assure our security today but also to shape and benefit from the world of tomorrow.

####Our vision, goals and principles

Our vision is that the UK in 2030 will continue to be a <strong>leading responsible and democratic cyber power, able to protect and promote our interests in and through cyberspace in support of national goals.</strong>

- To realise this vision we will pursue five strategic goals. Each aims to bolster our national strength in one of the five dimensions of cyber power, and collectively they aim to enhance our ability to uphold a cyberspace that reflects our values and interests. These five goals – or pillars – form a strategic framework to guide our activity, and Part 2 sets out the actions we will take to 2025 under each one.

- <strong>Pillar 1: Strengthening the UK cyber ecosystem</strong>, investing in our people and skills and deepening the partnership between government, academia and industry

- <strong>Pillar 2: Building a resilient and prosperous digital UK</strong>, reducing cyber risks so businesses can maximise the economic benefits of digital technology and citizens are secure online and confident that their data is protected

- <strong>Pillar 3: Taking the lead in the technologies vital to cyber power</strong>, building our industrial capability and developing frameworks to secure future technologies

- <strong>Pillar 4: Advancing UK global leadership and influence for a more secure, prosperous and open international order</strong>, working with government and industry partners and sharing the expertise that underpins UK cyber power

- <strong>Pillar 5: Detecting, disrupting and deterring our adversaries to enhance UK security in and through cyberspace</strong>, making more integrated, creative and routine use of the UK’s full spectrum of levers 

These goals are intended to be mutually reinforcing. For example, achieving higher levels of cyber security and resilience domestically will be a necessary foundation for a more active stance internationally. In turn, our global supply chains and the threats we face from overseas mean we will not be able to assure our own security without more actively shaping the behaviour of international actors. And our ability to influence global debates on cyberspace, the internet and technology will rely on maintaining our technical edge and building an innovation ecosystem that generates genuine advantage in the technologies that matter most.

Central to our vision is the <strong>promotion of a free, open, peaceful and secure cyberspace</strong>. Our strategic focus on cyber power is not about stoking conflict or setting the UK up to win a zero-sum game. As the Integrated Review identifies, a world in which open societies and economies can flourish is the best guarantor of our future prosperity, sovereignty and security. The UK will work with like-minded nations to promote our shared values of openness and democracy, pursuing a responsible, democratic approach to cyber power. This means that in working towards these five strategic goals we will apply the following principles:

- We will prioritise the ability of citizens and businesses to operate in cyberspace safely and securely so they can maximise the economic and societal benefits of digital technology and exercise their legal and democratic rights

- We will work to uphold an open and interoperable internet as the best model to support global prosperity and wellbeing, resisting the pressure of authoritarian states towards fragmentation and their idea of internet sovereignty

- We will make lawful, proportionate and responsible use of our cyber capabilities, supported by clear oversight and engagement with the public and our allies, and we will hold others to account for reckless or indiscriminate behaviour in cyberspace

- We will take action against the criminal use of cyberspace by all means available, calling out those who use criminal proxies or harbour criminal groups in their territories and working to prevent the proliferation of high-end cyber capabilities to criminals

- We will champion an inclusive, multi-stakeholder approach to debates about the future of cyberspace and digital technology, upholding human rights in cyberspace and countering moves towards digital authoritarianism and state control

####Key shifts in our approach

- In many areas our strategy will build on our current approach, seeking to enhance, expand or adapt our efforts where necessary. The main distinctions from the National Cyber Security Strategy 2016-2021 are set out below and reflect our broader ambition to cement the UK’s position as a leading cyber power. 

<strong>A commitment to keeping the UK at the cutting edge on cyber</strong>. The government will be investing £2.6 billion in cyber and legacy IT over the next three years. This is in addition to significant investment in the National Cyber Force announced in Spending Review 2020 (SR20). It includes a £114 million increase in the National Cyber Security Programme; and is alongside increases in investment also announced in research and development (R&D), intelligence, defence, innovation, infrastructure and skills, all of which will contribute in part to UK cyber power. Investment in cyber announced in SR20 and Spending Review 2021 (SR21) far exceeds the £1.9 billion over five years committed to the previous strategy.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-002">19</a> 

<strong>A more comprehensive National Cyber Strategy</strong>. Cyber security remains at the heart of this strategy, but it now draws together the full range of the UK’s capabilities inside and outside government. It gives greater weight to the critical technologies and infrastructure that underpin cyberspace, supports UK cyber companies both to grow domestically and compete internationally, steps up international action to shape and influence the future of cyberspace, and integrates offensive cyber as a lever of power. It calls for a truly joined up, national strategic approach. The strategy distributes responsibilities for leadership and coordination across Secretaries of State, and much more closely involves the devolved administrations. This builds on our success at coordinating effort across government, which is a key UK strength.

<strong>A whole-of-society effort</strong>. Our aim is for a national strategic approach that is shaped by and helps guide decision-making in organisations across the country; and provides the basis for stronger collaboration with our partners in the UK and around the world. There is more work to do to make this a reality. Short term actions will include: (i) establishing a new National Cyber Advisory Board, inviting senior leaders from the private and third sectors to challenge, support and inform our approach; (ii) reorienting our cyber sector innovation programmes away from large, often London-based initiatives to a regionally delivered model, built in partnership with local industry, innovators, law enforcement and academia; and (iii) taking steps to increase the diversity of the cyber workforce – recognising that being able to harness and nurture the skills and talents of the whole population is critical for our national security. The strategy itself has been informed by engagement with the devolved governments of Northern Ireland, Scotland and Wales, industry, law enforcement, regulators, academia, civil society and international partners. Our intention is to keep these dialogues open over the period of its implementation.

<strong>A more proactive approach to fostering and protecting our competitive advantage in the technologies critical to cyberspace</strong>. The Integrated Review and subsequent strategies have already begun to take this approach forward in areas such as artificial intelligence, quantum technologies and data. This strategy makes further commitments around secure microprocessor design, the security of operational technologies and cryptography. It announces the establishment of a national laboratory for operational technology security, as a new centre of excellence focused on building the highest level of cyber resilience in partnership with industry and academia. And it announces the expansion of the National Cyber Security Centre’s (NCSC) research capabilities, including the new applied research hub in Manchester, with a focus on emerging technology in areas such as connected places and transport. The strategy also builds on our successful work to promote approaches that build security into new technologies, making them “secure by design”. This will mean investing and making more use of regulatory and legislative levers where necessary to promote more diverse, secure and resilient technology supply chains, as we have done in telecoms.

<strong>Significantly strengthening our core effort to promote cyber security, with government leading the way</strong>. We will invest more than ever before in a rapid and radical overhaul of government cyber security, setting clear standards for departments and addressing legacy IT infrastructure. Government’s critical functions will be significantly hardened to cyber attack by 2025 and we will ensure that all government organisations – across the whole public sector – are resilient to known vulnerabilities and attack methods by 2030. We will do more to protect and engage citizens while removing as much of the burden from them as possible. We will harden the digital environment, protecting citizens from cyber crime and fraud and placing more responsibility on manufacturers, retailers, service providers and the public sector to raise cyber security standards. We will drive up the level of private sector engagement and investment in cyber resilience by aligning regulations and incentives across the economy and providing more support. We will also focus more on supply chain risks, testing a range of interventions to help organisations manage the cyber security risks posed by their suppliers, and ensure that best practice filters down through the supply chain.

<strong>More integrated and sustained campaigns to disrupt and deter our adversaries and protect and promote the UK’s interests in cyberspace</strong>. These campaigns will draw on a fuller range of diplomatic, policy and operational levers across government. They will be significantly underpinned by the establishment and expansion of the National Cyber Force (NCF), which will be based in Samlesbury in Lancashire. We will make more routine use of the NCF’s capabilities to disrupt threats from both state and non-state actors and to support the UK’s wider national security interests. Our campaigns will also benefit from major new investment in high-end capabilities for law enforcement at national, regional and local levels. This will help us to tackle the substantial threat from ransomware and increasingly innovative cyber criminals. We will also continue to make use of the UK’s autonomous cyber sanctions regime and attributions process to impose costs on our adversaries and call out malign and reckless and attacks. 

<strong>Putting cyber power at the heart of the UK’s foreign policy agenda and recognising that every part of the strategy requires international engagement</strong>. We will reinforce our core alliances and engage a broader range of countries to counter the spread of digital authoritarianism. Over the next few years, we will increase investment in international programmes to support partner countries, helping build their resilience and enhancing their abilities to counter cyber threats. And we will better leverage the full range of our domestic strengths, including operational and strategic communications expertise, thought leadership, trading relationships and industrial partnerships to support our international goals.

####Roles and responsibilities across the UK

Central to our strategy will be a whole-of-society approach to cyber. We need to build an enduring and balanced partnership across the public, private and third sectors, with each playing an important role in our national effort. 

<strong>Citizens</strong>

This strategy aims to remove as much of the burden of cyber security from citizens as possible but we will all continue to have an important role to play. Whilst the government will do as much as possible to stop cyber attacks before they cause harm to people, some threat actors will find a way to circumvent these protections. We can all take action to improve the security of the assets we value in both the physical and virtual worlds.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-001">20</a> That means fulfilling our personal responsibility to take all reasonable steps to safeguard not only our hardware – our smartphones and other devices – but also the data, software and systems that afford us freedom, flexibility and convenience in our private and professional lives. To support this, the government provides technically accurate, timely and actionable advice. Civil society organisations and community groups also play a major role supporting people to understand and protect themselves from cyber risks. Many charities, for example, provide targeted support, advice and awareness-raising to vulnerable groups. 

<strong>Businesses and organisations </strong>

Businesses and organisations have a responsibility to ensure they are effectively managing their cyber risks, to become cyber resilient and to support their customers and the people who use their services. Businesses and organisations are increasingly dependent on digital technologies and online services to operate, innovate and grow. This improves services but also creates new risks and challenges, such as the ever increasing volume of personal data and digital assets which they are responsible for. This brings a responsibility to protect those data and assets, while maintaining services. Failure to do so can have significant reputational and economic implications for organisations and cause harm to their customers. Operators of essential services and providers of key digital services (such as cloud services) have particular responsibilities to address the cyber risks they face and meet the obligations set out in the Network & Information Systems Regulations (‘NIS regulations’). Advice and guidance from the NCSC helps to provide support to all businesses and organisations to help them protect their information, assets and systems. The Information Commissioner’s Office (ICO) also provides advice for organisations on their cyber security obligations under the UK General Data Protection Regulation.

<strong>The cyber security sector and major technology companies</strong>

The UK’s growing cyber security sector has a critical role in responding to the emerging cyber threats and challenges that face our country. The rapid proliferation of connectable products and the accelerated digital transformation of businesses and organisations are providing opportunities for the sector to grow and innovate, providing new services and products. This strategy describes how the government will continue to support the growth of the UK cyber security sector and benefit from their capabilities and expertise by maintaining and strengthening our partnerships. We also want to strengthen the broader partnerships between academia, the wider technical community and the private sector, to ensure that we capitalise fully on the UK’s technical expertise and know-how.

The major technology companies that provide digital services have a crucial role to play in ensuring a secure environment for UK businesses and organisations to operate in. This is particularly true for the managed service providers and platform businesses that integrate a number of activities. They need to ensure the services they offer are ‘secure by default’ and are not overly dependent on their customers taking protective actions. Major technology companies also have a particular responsibility to prioritise their own cyber resilience. The increasing dependency of businesses, government and wider society on cloud and online services is creating new and unique vulnerabilities and interdependencies.

<strong>Government</strong>

The <strong>UK government</strong> is uniquely positioned to bring together the intelligence necessary to understand the most sophisticated threats, make and enforce the law, set national standards, and counter threats from hostile actors including conducting offensive cyber operations. Through this strategy we will invest in strengthening our national cyber capabilities. Government departments and public sector bodies are also responsible for protecting their own networks and systems. As the holder of significant data and a provider of services, the government takes stringent measures to provide safeguards for its information assets. Lastly, the government also has an important responsibility to advise and inform citizens, businesses and organisations what they need to do to protect themselves online. Where necessary this includes setting the standards we expect key companies and organisations to meet in order to protect all of us.

Most areas of cyber policy and the majority of measures outlined in this strategy relate to reserved matters such as national security, foreign affairs and defence, telecommunications, product standards and safety, and consumer protection. But the development and implementation of this strategy still depends on input, action and investment <strong>by the devolved governments of Northern Ireland, Scotland and Wales</strong>. This is especially true where this relates to devolved policy areas which sit primarily within the ‘ecosystem’ and ‘resilience’ pillars of this strategy, such as education, policing and the cyber resilience of certain critical sectors including their own public sectors. Coordination and cooperation across the four nations of the UK is essential to ensure the greatest impact across the whole country. This requires regular and early engagement by the Cabinet Office and other UK government departments with their Welsh, Scottish and Northern Irish counterparts to share information on priorities and plans. This also helps to avoid duplication and get the best value from public funding. The devolved governments will continue to develop their own cyber strategies and plans, aligning them with this UK government strategy. 

###The National Cyber Security Centre

<strong>“Helping to make the UK the safest place to live and work online”</strong>

The National Cyber Security Centre (NCSC) was formally launched in 2017, as part of GCHQ, to be the UK’s national authority on the cyber security environment: sharing knowledge, addressing systemic vulnerabilities and providing leadership on key national cyber security issues.<a href="CCS1021632420-002_National_Cyber_Strategy_000_Prelims-Part_1.html#footnote-000">21</a> The NCSC’s establishment simplified the government’s operational structures, transformed the UK’s ability to respond to national-level cyber incidents, and initiated the roll-out of innovative digital services that have helped to make organisations and individuals automatically safer online. 

We are making sure that the NCSC is fit for the challenges of the next decade by clarifying the enduring capabilities and attributes that underpin its work, funding them on a sustainable basis, and focussing their use where operating experience to date tells us they will have the maximum possible impact at a national scale.

The enduring capabilities and attributes that underpin the NCSC’s work are:

- World-class technical expertise in the cyber security disciplines and specialisms the UK needs;

- Unparalleled insight into current and potential cyber threats – intent and capability – to UK interests;

- Access to the full range of UK national security capabilities and authorities for cyber security goals;

- Direct reach into cyber security communities in conjunction with partners in academia, industry, and internationally;

- Cryptographic capabilities and services, crucial to the safety and security of UK interests globally.

The NCSC’s principal responsibilities under the new strategy will be to:

- <strong>Take direct action to reduce cyber harms to the UK</strong> by providing protection at scale through digital services (e.g. Active Cyber Defence), driving changes in technology, managing the response to nationally-significant cyber incidents, and – with the National Cyber Force (NCF) – directly countering the cyber operations of our adversaries.

- <strong>Support all parts of UK society to protect themselves</strong> by providing tailored expertise and unique knowledge that citizens, businesses and organisations across the UK can use to protect themselves and help make the UK a safer place for everyone online.

- <strong>Providing technical input to HMG policy and regulation on the issues of most importance for cyber security</strong> by providing policy leads across Whitehall with authoritative technical input and threat assessment derived from the NCSC’s core capabilities, supporting development and implementation of policies and regulations to keep the citizens, organisations and interests digitally secure.

- <strong>Providing UK sovereign capabilities</strong> through the NCSC’s National Crypt-Key Centre, which protects the critical information and services on which the UK military and national security community rely, including from attack by our most capable adversaries.

- <strong>Supporting growth in cyber skills and investment</strong> by providing the technical underpinning for every level of cyber education and engaging and supporting industry, catalysing investment into the cyber sector.

The NCSC will also contribute to the evaluation of progress against the objectives of this national cyber strategy through NCSC Assessments, the UK’s editorially-independent cyber assessments function.

###The National Cyber Force

Established in 2020, the National Cyber Force (NCF) is responsible for operating in and through cyberspace to counter, disrupt, degrade and contest those who would do harm to the UK or its allies, to keep the country safe and to protect and promote the UK’s interests at home and abroad. The NCF is made up of a roughly equal share of personnel from defence and intelligence and brings together their expertise, resources and authorities under a single command structure. It will be based in Samlesbury, Lancashire.

The NCF delivers a broad range of outcomes in the interests of national security, such as support to defence, the UK’s economic wellbeing and the prevention of serious NCF activities range, from the tactical through to the strategic, against both state actors and non-state actors. Its work falls into three main categories:

- Countering threats from terrorists, criminals and states using the internet to operate across borders in order to do harm to the UK and other democratic societies

- Countering threats which disrupt the confidentiality, integrity and availability of data and services in cyberspace (i.e. supporting cybersecurity)

- Contributing to UK Defence operations and helping deliver the UK’s foreign policy agenda (for example intervening in a humanitarian crisis to protect civilians)

NCF operations can be used to influence individuals and groups, disrupt online and communications systems and degrade the operations of physical systems. This type of activity is often referred to as offensive cyber (OC).

NCF operations are conducted in line with a well-established legal framework, which includes the Intelligence Services Act 1994 and the Investigatory Powers Act 2016. The UK has previously made it clear that it develops and deploys capabilities in accordance with international law, including the law of armed conflict where applicable. Its activities are subject to ministerial approval, judicial oversight and Parliamentary review, making the UK’s governance regime for cyber operations one of the strongest in the world. 

The UK will not routinely talk about individual cyber operations, but the kinds of operational activity the NCF could conduct include:

- Stopping terrorist groups from carrying out their plans by disabling their command and control communications and limiting the dissemination of extremist media

- Reducing the risk of harm to UK armed forces by degrading adversary weapons systems

- Defending democracy and free, fair and open elections by countering organised state disinformation campaigns intended to undermine them

- Preventing criminal groups from profiting from their activities by disrupting their use of online platforms and services

- Helping to enforce international sanctions by disrupting efforts to evade them

- Shielding the UK and others from cyber attacks by disrupting the infrastructure used by adversaries to carry them out

- Protecting civilians in a humanitarian crisis by preserving their ability to access critical information

As the national centre of excellence for effects operations in and through cyberspace the NCF will transform the UK’s ability to develop, integrate and utilise these capabilities alongside others and optimise them to deliver effect.

###Law Enforcement’s National Cyber Crime Network

Established over the course of the National Cyber Security Strategy 2016-2021, law enforcement’s national cyber crime network has developed a fully integrated response to cyber crime, ready to deliver an intelligence-led response to all forms of cyber attacks against individuals, organisations or whole sectors. This is a nationwide system operating at national, regional and local levels. It provides victim care, helps businesses and people to be protected and to recover swiftly, and pursues criminal justice outcomes against perpetrators.

The <strong>National Crime Agency’s (NCA) National Cyber Crime Unit (NCCU)</strong> provides national leadership and coordination of the response, supported by a network of dedicated <strong>Regional Cyber Crime Units (RCCUs)</strong> in each of England and Wales’s nine police regions, in partnership with their counterparts in Police Scotland and Police Service of Northern Ireland, as well as the Metropolitan Police Service’s Cyber Crime Unit. 

These are further complemented by dedicated <strong>Local Cyber Crime Units (LCCUs)</strong>, embedded in each of the 43 police forces and synchronised through a regional coordinator. These Regional and Local CCUs can investigate and pursue offenders, help business and victims protect themselves from attack and work with partners to prevent vulnerable individuals from being drawn into committing cyber crime.

Centralised crime reporting, triage and analysis is provided through <strong>Action Fraud</strong>, hosted by the <strong>City of London Police</strong>. The most serious and/or complex cases are subsequently referred to the NCA and regional network to pursue, while other cases are disseminated to local forces. The City of London Police also coordinate victim support, including through the <strong>Economic Crime Victim Care Unit</strong>.

Systems are being joined up with transformed forensic, intelligence and data-sharing capabilities to build a single platform so that national and regional units can access all the specialist high-end capabilities and tools being developed. This includes the ability to collaborate effectively with partners in the security and intelligence community, in particular to respond to blended criminal and state threats. Continuing the ethos of ‘build it once, build it nationally for the benefit of the whole cyber crime network’, these capabilities can also be accessed by the local cyber crime units through the regional coordinators. This whole system approach is already delivering a significantly enhanced response to the cyber crime threat.

The law enforcement Cyber Crime Network will continue to drive our criminal justice response to malicious activities in cyberspace regardless of the threat actor at the international, national, regional and local level. This will be complimented by a range of other disruptive methods including but not limited to:

- Developing specialist high end investigative and disruptive cyber capabilities

- Utilising the NCA’s extensive international network to support partner country interventions with intelligence and evidence

- Preventing criminal groups from profiting from their activities by disrupting their use of criminal marketplaces and enabling services

- Protecting the UK and other countries from cyber crimes by degrading and disrupting the infrastructure used to carry them out 

- Contributing to sanction activity and public attribution against high echelon offenders

- Seizing cryptocurrency and other assets as the proceeds of cyber crime

