
[^1]: Ranked second in the International Telecommunication Union’s Global Cyber Security Index, third in the Harvard Belfer Center’s Cyber Power Index and in the second tier of the International Institute of Strategic Studies’ Cyber Power capability assessment.

[^2]: DCMS, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Cyber security skills in the UK labour market 2021</a> (2021)

[^3]: <a href="https://www.ncsc.gov.uk/collection/ncsc-annual-review-2021">NCSC, NCSC Annual Review 2021 (2021)</a> 

[^4]: <a href="https://www.gov.uk/government/publications/code-of-practice-for-consumer-iot-security">DCMS, Code of Practice for Consumer IoT Security (2018)</a> 

[^5]: <a href="https://www.gov.uk/government/publications/etsi-industry-standard-based-on-the-code-of-practice">DCMS, ETSI industry standard based on the Code of Practice (2019)</a> 

[^6]: <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/906691/Impact_of_GDPR_on_cyber_security_outcomes.pdf">DCMS/RSM, The impact of GDPR on cyber security outcomes (2020); The General Data Protection Regulation (GDPR) that was introduced into UK law in 2018 has now been replaced by the UK GDPR)</a>  

[^7]: DCMS, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/972399/Cyber_Security_Breaches_Survey_2021_Statistical_Release.pdf">Cyber Security Breaches Survey 2021</a> (2021) 

[^8]: <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/960574/CCS207_CCS0320329850-001_Network_and_Information_Systems_Regulations_Post-Implementation_Review_Web_V2.pdf">DCMS, Post-Implementation Review of the Network and Information Systems Regulations 2018 (2020)</a>

[^9]: Defined as Computer Misuse Act offences

[^10]: <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingjune2021">ONS, Crime in England and Wales: year ending June 2021 (2021)</a>

[^11]: DCMS, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/972399/Cyber_Security_Breaches_Survey_2021_Statistical_Release.pdf">Cyber Security Breaches Survey 2021</a> (2021)

[^12]: <a href="https://www.ncsc.gov.uk/cyberaware/home">NCSC, CyberAware</a>

[^13]:  DCMS, <a href="https://www.gov.uk/government/publications/uk-digital-identity-attributes-trust-framework-updated-version">UK digital identity and attributes trust framework</a> (2021)

[^14]: <a href="https://www.ncsc.gov.uk/guidance/mitigating-malware-and-ransomware-attacks">NCSC, Mitigating malware and ransomware attacks (2021)</a> 

[^15]: <a href="https://www.gov.uk/government/news/russia-uk-and-us-expose-global-campaigns-of-malign-activity-by-russian-intelligence-services">FCDO, Russia: UK and US expose global campaign of malign activity by Russian intelligence services (2021)</a> 

[^16]: <a href="https://www.gov.uk/government/news/uk-and-allies-hold-chinese-state-responsible-for-a-pervasive-pattern-of-hacking">FCDO, UK and allies hold Chinese state responsible for a pervasive pattern of hacking (2021)</a>  

[^17]: <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice/bulletins/crimeinenglandandwales/yearendingjune2021">ONS, Crime in England and Wales: year ending June 2021 (2021</a>) 

[^18]: <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1020617/national-space-strategy.pdf">HMG, National Space Strategy (2021)</a> 

[^19]:  HM Treasury, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1029973/Budget_AB2021_Print.pdf">Autumn Budget and Spending Review 2021</a> (2021) 

[^20]: <a href="https://www.ncsc.gov.uk/cyberaware/home">Cyber Aware is the government’s advice on how to stay secure online</a> 

[^21]: <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/567242/national_cyber_security_strategy_2016.pdf">HMG, National Cyber Security Strategy 2016 to 2021 (2016)</a>: paragraph 1.9

[^22]: DCMS, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/962413/UK_Cyber_Security_Sectoral_Analysis__2021_.pdf">Cyber Security Sectoral Analysis 2021</a> (2021)

[^23]: NCSC, <a href="https://www.ncsc.gov.uk/collection/technology-assurance/future-technology-assurance">White paper: The future of NCSC Technology Assurance</a> (2021)

[^24]: DCMS, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Understanding the cyber security recruitment pool</a> (2021)

[^25]: HMG, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/973802/Ipsos_MORI_Cyber_Skills_in_the_UK_2021_v1.pdf">Cyber security skillls in the UK labour market</a> (2021)

[^26]: Microprocessors are the brains of many of the devices we use today. They are ubiquitous, including in critical areas such as telecoms, defence, healthcare and across our major industries. Technological advances in systems design are currently held back by security and safety concerns, which are magnified by increasing system complexity.

[^27]: DCMS, <a href="https://www.gov.uk/government/publications/5g-supply-chain-diversification-strategy/5g-supply-chain-diversification-strategy">5G Supply Chain Diversification Strategy</a> (2020)

[^28]: With a particular focus on those sectors identified in the National Security and Investment Act 2021: advanced robotics, artificial intelligence, communications, computing hardware, cryptographic authentication, and quantum technologies

[^29]: NCSC, <a href="https://www.ncsc.gov.uk/collection/connected-places-security-principles">Connected Places Cyber Security Principles</a> (2021)

[^30]: Announced in the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1009577/uk-innovation-strategy.pdf">Innovation Strategy</a> (2021)

[^31]: The Connected and Automated Vehicles Process for Assuring Safety and Security (CAVPASS)

[^32]: Described in the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1009577/uk-innovation-strategy.pdf">UK Innovation Strategy</a> (2021)

[^33]: The UK Defence & Security Exports (UKDSE) Export Faculty is an online learning and development hub aimed at SMEs in the defence and security sector with specific modules for cyber security companies. Registering for the Faculty provides access to a programme of curriculum based learning modules and in addition, valuable information around UK Defence and Security Exports planned events and activities.

[^34]: Her Majesty’s Inspectorate of Constabulary and Fire & Rescue Services

[^35]: <a href="https://www.ncsc.gov.uk/information/financial-sector-cyber-collaboration-centre-fsccc">NCSC, Financial sector cyber collaboration centre</a> (FSCCC) (2021)

[^36]: Ministry of Defence, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1014659/Integrated_Operating_Concept_2025.pdf">Integrated Operating Concept</a> (2020)

[^37]: HM Treasury, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1029973/Budget_AB2021_Print.pdf">Autumn Budget and Spending Review 2021</a> (2021)

[^38]: Home Office, <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1015382/Crime-plan-v10.pdf">Beating Crime Plan</a> (2021)

[^39]: For certain exceptions the Department for Business, Energy, and Industrial Strategy is the sole Competent Authority. For further detail see Schedule 1 and 2 of the Network and Information Systems Regulations 2018.