
##Part 2: Implementation

(image)

###Pillar 1: UK Cyber Ecosystem 

###Strengthening the UK’s cyber ecosystem

For this strategy to succeed we need to ensure that the UK has the right people, knowledge and partnerships. We must have a diverse and technically skilled workforce, a vibrant research community, an internationally competitive cyber sector and a thriving regional innovation ecosystem that enables us to take the lead in critical technologies, all built on stronger partnerships between government, industry and academia. 

The growth of the cyber ecosystem needs to be self-sustaining, not dependent on government interventions. Over the course of this strategy we will transition from funding a range of largely bespoke and centrally-managed skills and innovation programmes, to a more sustainable, systemic and regional approach. We will build on the government’s wider reforms to the skills and education systems to support and inspire more people to gain the skills they need to pursue a cyber career. And we will prioritise a range of concrete actions to increase the diversity of the cyber workforce. This is not only about ensuring that these jobs and careers are made available to everyone but also mission critical for our national security, ensuring we harness the talent and skills of the whole population. We will also ensure that cyber sector growth benefits the whole of the UK, not just London and the South East which is home to an estimated 45% of sector employment and accounts for 85% of external investment.<a href="CCS1021632420-002_National_Cyber_Strategy_001_Pillar_1.html#footnote-003">22</a>

Overall we will take on a more strategic role where we facilitate the coming together of industry leaders, academics, innovators, law enforcement, the national security community and others who want to collaborate on making the UK more resilient against cyber threats. We will align all the levers of government to support the cyber ecosystem, from how cyber is taught in schools to how economic regulations drive up standards, to ensure that the UK grows the vital capabilities necessary to secure ourselves against future threats.

####Objective 1: Strengthen the structures, partnerships and networks necessary to support a whole-of-society approach to cyber

Cyber power requires a whole-of-society approach. Our competitive advantage will come from our ability to nurture and harness talent across the UK and get the right people working together in the right ways across the whole public sector, industry and academia, pulling together the whole cyber community. We will need to form a genuine integrated delivery partnership with industry and ensure a broad geographic approach across the nations and regions of the UK, working closely with the devolved governments of Northern Ireland, Scotland and Wales and seizing the levelling up opportunity that cyber power presents. <strong>We will achieve the following outcomes by 2025:</strong>

<strong>A more inclusive and strategic national cyber dialogue</strong> with industry, academia and citizens by establishing a new senior National Cyber Advisory Board and building on the already strong networks of cyber growth and resilience partnerships and the academic centres of excellence for cyber security research and education

<strong>More integrated and effective regional cyber networks across the UK</strong>, enabling stronger partnerships between government, businesses and academia to support sectoral growth and business resilience. We will work with regional cyber clusters and the recently established UK Cyber Cluster Collaboration (UKC3), the growing number of regional cyber innovation centres and Cyber Resilience Centres, strengthening links between local businesses, academic centres of excellence and law enforcement.

These steps will build on the range of existing relationships between the National Cyber Security Centre (NCSC) and its stakeholders, between government departments, arm’s-length bodies and the sectors of the economy they represent, including CNI and regulators, and the government’s wider dialogue with industry and the digital and technology sectors.

<strong>Ciara Mitchell, Head of Cyber at ScotlandIS </strong>

Ciara is also the manager of Scotland’s Cyber Cluster and a board member of UKC3.

“Scotland’s Cyber Cluster has played a key role in supporting the cyber security community in Scotland. There is a growing understanding of the expertise in Scotland on cluster management and the opportunity to build on a thriving cyber sector. As the value of clusters has become more recognised, I have been delighted to take on a key role in the new UK Cyber Cluster Collaboration as Ecosystem Development Lead. Through UKC3 there will be a greater focus on collaboration, innovation and skills development which provides a platform to grow the UK cyber security sector.”

####Cyber Organisations (Locations representative)

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="8">UK Cyber Clusters</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>1</strong></th>
<td>Bristol and Bath Cyber</td>
<th><strong>2</strong></th>
<td>Cyber North</td>
<th><strong>3</strong></th>
<td>Cyber Wales</td>
<th><strong>4</strong></th>
<td>CyNam (Cyber Cheltenham)</td>
</tr>
<tr>
<th><strong>5</strong></th>
<td>East of England Cyber Security Cluster</td>
<th><strong>6</strong></th>
<td>Midlands Cyber</td>
<th><strong>7</strong></th>
<td>ScotlandIS Cyber</td>
<th><strong>8</strong></th>
<td>South West Cyber Security Cluster<span class="Apple-converted-space">&nbsp;</span></td>
</tr>
<tr>
<th><strong>9</strong></th>
<td>Yorkshire Cyber Security Cluster</td>
<th><strong>10</strong></th>
<td>NI Cyber (Northern Ireland)</td>
<th><strong>11</strong></th>
<td>North West Cyber Security Cluster</td>
<th><strong>12</strong></th>
<td>West of England Cyber Cluster</td>
</tr>
</tbody>
</table>

<table class="financial-data source-tableeditor">
<thead>
<tr>
<th colspan="6">Resilience Centre</th>
</tr>
</thead>
<tbody>
<tr>
<th><strong>1</strong></th>
<td>The Business Resilience Centre for the North East<span class="Apple-converted-space">&nbsp;</span></td>
<th><strong>2</strong></th>
<td>The North West Cyber Resilience Centre</td>
<th><strong>3</strong></th>
<td>The Cyber Resilience Centre for the East Midlands</td>
</tr>
<tr>
<th><strong>4</strong></th>
<td>The Cyber Resilience Centre for the West Midlands</td>
<th><strong>5</strong></th>
<td>The Cyber Resilience Centre for the South East</td>
<th><strong>6</strong></th>
<td>The South West Cyber Resilience Centre<span class="Apple-converted-space">&nbsp;</span></td>
</tr>
<tr>
<th><strong>7</strong></th>
<td>The Cyber Resilience Centre for Wales</td>
<th><strong>8</strong></th>
<td>The Eastern Cyber Resilience Centre</td>
<th><strong>9</strong></th>
<td>The Cyber Resilience Centre for London</td>
</tr>
</tbody>
</table>

(image) - Legend

(image) - maps part 1

(image) - maps part 2

####Objective 2: Enhance and expand the nation’s cyber skills at every level, including through a world class and diverse cyber security profession that inspires and equips future talent

Central to the UK’s ambitions will be developing a sustained and diverse supply of highly-skilled people into the cyber workforce, capable of securing the core elements of the digital economy, as well as innovating and developing new approaches. This will support our aim to lead by example through recognising and retaining expertise across the public sector and increasing our capability in law enforcement, defence and security, including the National Cyber Force (NCF). As with other parts of this strategy we will work with the devolved governments of Scotland, Wales and Northern Ireland to ensure that a consistent approach is taken across the country on, UK government initiatives on devolved matters, such as education and skills. <strong>We will achieve the following outcomes by 2025:</strong>

<strong>A significant increase in the number of people who have the skills they need to enter the cyber workforce</strong>, building on the work happening across all four nations of the UK to ensure education and skills policy meets the demands of people and employers. We will do this through a number of measures including the expansion post-16 training programmes in line with the needs of the cyber workforce, funding a range of skills bootcamps in cyber security, the national rollout of the Institutes of Technology programme, and continuing the CyberFirst bursaries scheme for undergraduates. This builds on the government’s work to align the majority of post-16 education and training with strengthened employer-led standards by 2030. These will be developed in conjunction with the UK Cyber Security Council for the wider cyber community and underpin apprenticeships, T Levels and new higher technical qualifications. This will ensure that employers have a central role in designing and developing qualifications and training.

<strong>A higher quality and more established, recognised and structured cyber security profession</strong>. Underpinned by Royal Charter the UK Cyber Security Council will establish professional standards and pathways into and through a cyber career, built on the world-leading Cyber Security Body of Knowledge (CyBOK). And we will explore all government levers, including legislation, to embed these standards across the profession, ensuring that excellence and expertise can be recognised clearly and consistently across the cyber workforce.

<strong>A more diverse cyber workforce</strong>, with underrepresented groups and those from disadvantaged communities across the UK given more effective support to enter into and flourish in a career in cyber. Our range of measures will include support for more women to enter the cyber workforce and specific interventions to support underrepresented groups to progress to senior levels. And we will build on the successes of extracurricular activities delivered through our flagship CyberFirst programme, including the CyberFirst Girls Competition. We will also increase access to education and career opportunities for at-risk young people through the National Crime Agency’s Cyber Choices programme, diverting them away from illegal cyber activity towards more positive opportunities to make use of their talent and enthusiasm. 

<strong>A steady and diverse flow of highly-skilled people coming through our education system</strong>. We will inspire and support more young people to follow a technology pathway through education, including an increase in the uptake and diversity of candidates taking Computer Science GCSE and equivalent qualifications in Scotland, and going onto further education such as T Levels in England and apprenticeships and higher education opportunities. And we will also upskill more teachers in England through the National Centre for Computing Education (NCCE), ensuring they have access to the resources and development opportunities that will help them spark interest in more students.

<strong>Government is better able to identify, recruit, train and retain the cyber professionals it needs</strong>. As major employers of cyber professionals, government and the public sector will need to lead by example, supporting and building on the measures outlined above. We will take a more coherent and effective approach across the public sector while also tailoring specific measures to upskill civil servants and senior leaders, and build our capability in defence and security including the NCF, the NCSC and law enforcement. This will include investment in early talent by expanding the Cyber Fast Stream and offering more cyber security apprenticeships, supporting specialist skills programmes within the NCA including graduate and intern placements, bespoke neurodiversity programmes and summer diversity programmes. It will build on the successes of the Defence Cyber School by expanding it into the Defence Cyber Academy with a broader offer of defensive and offensive cyber training, whilst collaborating with academic, industry and international partners.

###The UK Cyber Security Council

The UK Cyber Security Council launched in March 2021 and is a world first for the cyber security profession. Its mission is to be the voice of the profession, bringing clarity and structure to the growing cyber workforce and the range of qualifications, certifications and degrees that exist across the field. This is a vital step, recognising that the cyber profession incorporates a wide range of technical and non-technical expertise and specialisms across the economy, similar in breadth to more established professions such as medicine and law. 

The Council has four aims: 

- Thought leadership and professional standards: leading the work to develop and agree the standards that define cyber security

- Careers and learning: supporting employers and individuals as they make career decisions, with advice on cyber security skills, professional development and recognition

- Professional ethics: providing guiding principles within which practicing professionals and organisations themselves can demonstrate ethical practice in cyber security;

- Diversity and Inclusivity: promoting cyber security as a career opportunity for people of all ages and backgrounds, making efforts to remove barriers to entry and progression within the field

The Council will look to grow and establish its credibility and sustainability as the professional authority throughout the lifecycle of this strategy. It will bring together a range of existing professional and certification bodies, identifying and empowering expert organisations who can provide clarity over progression and competency requirements to new entrants, existing practitioners and employers alike. 

The Queen approved the award of a Royal Charter to the UK Cyber Security Council in November 2021. This provides, for the first time, a bespoke chartered recognition specifically for cyber security, covering the range of specialisms that exist in the field.

We recognise there is more work to be done to embed professional standards and pathways across the cyber ecosystem, including across government, defence and law enforcement. The Council will play a major role in this, supporting young people and career changers to navigate their career in cyber.

<strong>Simon Hepburn, CEO, UK Cyber Security Council </strong>

My work involves promoting the UK Cyber Security Council as “the voice for the cyber security profession.” The Council is the self-regulatory body for the UK’s cyber security profession, and we aim to unite the industry to develop, promote and steward nationally recognised standards for cyber to make the UK the safest place to live and work online. The Council was officially launched in March 2021 following a successful formation project, and we are now open for membership applications. The National Cyber Security Strategy is a crucial element to ensure that individuals and organisations can work in a manner which furthers the profession, with the Council a key coordinating player.

####Objective 3: Foster the growth of a sustainable, innovative and internationally competitive cyber and information security sector, delivering quality products and services, which meet the needs of government and the wider economy

To enhance our national cyber power and drive digital growth and exports, the UK needs a vibrant cyber sector made up of high quality, trustworthy companies. UK firms provide world-leading technologies, training and advice to both industry and governments in the UK and globally. But to develop cutting-edge technologies some companies need support and connections to investment to reach the stage where they can offer a viable product. 

Companies also need to feel confident they are innovating in line with government approved parameters that other organisations are also following. And there is more we can do to help buyers navigate the complex landscape, with a huge range of products and services of varying quality. This will in turn stimulate demand in the ecosystem and support further growth. <strong>We will achieve the following outcomes by 2025:</strong>

<strong>A cyber sector that has achieved greater than average global growth year on year</strong>, including through trade and cyber exports. We will help cyber businesses to access new markets at home and overseas by supporting world-leading flagship cyber events in the UK and inviting our most innovative cyber businesses to participate in trade missions and international cyber fairs. And we will use public sector procurement more effectively and establish a comprehensive directory of NCSC accredited providers to encourage the demand for high quality cyber security products and services. 

<strong>An even more innovative cyber sector</strong> that has seen a significant increase in early stage investment and more cyber businesses that have been able to launch, grow and scale. Our new Cyber Runway programme gives businesses a single focal point for support, learning lessons from our previous programmes such as the Tech Nation Cyber Programme, Cyber101 and Hut Zero. We will transform the Cheltenham Innovation Centre, which includes the cyber accelerator ‘NCSC for Startups’, into a true international centre of innovation: the National Cyber Innovation Centre. We will draw on the expertise of organisations that exist to promote and enable co-creation, such as the National Security Technology and Innovation Exchange. And we will encourage higher-risk investment in early stage cyber start-ups, including through the National Security Strategic Investment Fund, in partnership with the British Business Bank

<strong>A UK cyber economy that has been levelled up significantly</strong> with increased growth outside of the South East, contributing to recovery from the coronavirus (COVID-19) pandemic and supporting wider regional economic activity. We will establish the permanent headquarters of the NCF in Samlesbury, in the North West of England driving growth in the technology, digital and defence sectors outside of London and helping create new partnerships in the region. We will increase our support for innovators and entrepreneurs outside of London and the South East to develop their products and services, grow their businesses and recruit skilled staff. This includes the Golden Valley campus led by Cheltenham Borough Council dedicated to supporting the growth of cyber-related technology businesses. And we will increase the exporting capabilities of cyber companies across more regions of the UK through engagement with the regional cyber clusters and set piece events to showcase more of our cyber industry talent to international buyers.

<strong>A greater number of companies able to offer cyber security technologies, products and services that meet independently verified quality standards</strong>, increasing user confidence. We will deliver this in line with The Future of NCSC Technology Assurance white paper published by the NCSC in September 2021, using the NCSC brand and expertise to build a trusted marketplace that will help UK consumers buy services with confidence, improve their security and raise the national cyber security bar.<a href="CCS1021632420-002_National_Cyber_Strategy_001_Pillar_1.html#footnote-002">23</a>

<strong>Berta Pappenheim, CEO and founder, Cyberfish Company</strong>

CyberFish took part in a government cyber accelerator programme. Our mission is to help businesses and government teams prepare to better handle business disruptions, like cyber incidents. We do this by running incident simulation exercises with them, observing their team dynamics under stress, and coaching them on how to make improvements. Many advisors are good at either the technical side of incident response, or the behavioural side of leadership and decision-making. We do both, together, with expert knowledge from both sides. Our exercises have helped almost 500 industry leaders working in mission-critical teams across the globe to shift perspectives, improve their teamwork, leading to improved crisis response and decision-making.

###Interested in joining the cyber workforce or starting your own business?

Our previous strategy placed a major emphasis on growing the cyber skills base and cyber security services sector in the UK. As outlined in the strategic context we have made significant progress in <strong>growing the sector and exports:</strong>

<strong>The UK exported</strong>

Helping cyber businesses find international markets. <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693989/CCS151_CCS0118810124-1_Cyber_Security_Export_Strategy_Brochure_Web_Accessible.pdf">The UK exported</a> £4.2billion of cyber services in 2020.

<strong>Cyber Exchange</strong>

<a href="https://cyberexchange.uk.net/">Cyber Exchange</a>, our online cyber portal, bringing together cyber businesses across all regions of the UK.

<strong>Cyber Growth Partnership</strong>

The <a href="https://www.techuk.org/who-we-are/our-partners.html">Cyber Growth Partnership</a> has been bringing government and industry together to break barriers to growth.

We have <strong>supported innovators to grow and scale their businesses</strong>, ensuring the UK cyber ecosystem has flourished over the last five years:

<strong>NCSC for Startups</strong>

<a href="https://www.ncsc.gov.uk/section/ncsc-for-startups/overview">NCSC for Startups</a> is pointing innovators towards the most important strategic challenges while its startups have already taken part in over 160 new corporate trials.

<strong>LORCA</strong>

<a href="www.plexal.com/lorca">LORCA</a> has helped 72 cyber innovators raise over £200 million in investment and earn over £37 million in revenue.

<strong>Cyber Runway</strong>

<a href="https://www.plexal.com/cyber-runway/">Cyber Runway</a> supports innovators to launch, grow and scale their business – building on the success of Hutzero and Cyber101.


We have been working to narrow the annual shortfall of 10,000 professionals <strong>entering the cyber workforce:</strong><a href="CCS1021632420-002_National_Cyber_Strategy_001_Pillar_1.html#footnote-001">24</a>

<strong>The CyberFirst bursary scheme</strong>

<a href="https://www.ncsc.gov.uk/cyberfirst/bursary-and-degree-apprenticeship">The CyberFirst bursary scheme</a> supports undergraduate students and is delivering hundreds of individuals, with work experience, into the cyber workforce every year.

<strong>Four cyber apprenticeship standards</strong>

<a href="https://www.instituteforapprenticeships.org/apprenticeship-standards/cyber-security-technician-v1-0">There are now four cyber apprenticeship standards</a> that have been designed by industry and three cyber offerings for initial learning outcomes offered through the DfE ‘Courses for Jobs’ initiative.

<strong>Cyber bootcamps</strong>

There have been nine <a href="https://www.gov.uk/guidance/national-skills-fund#skills-bootcamps">cyber bootcamps</a> supported through the recent National Skills Fund, taking people into exciting cyber careers and more of these are planned for every year of the next spending period.

We have been <strong>professionalising the cyber workforce</strong>, making it more straightforward for organisations to understand what skills they need, and making it easier for individuals to navigate what they need to know:

<strong>The UK Cyber Security Council</strong>

<a href="https://www.ukcybersecuritycouncil.org.uk/">The UK Cyber Security Council</a> is a world-first professional authority for cyber security. It has begun to set clear and consistent professional standards, building on all the work that existing professional bodies have done to date. The Council will look to clearly identify effective qualifications from the myriad currently available.

<strong>Cyber Security Body of Knowledge (CyBOK)</strong>

The <a href="www.cybok.org">Cyber Security Body of Knowledge (CyBOK)</a> informs and underpins education and professional training for the cyber security sector.

We have been working to <strong>ensure that everyone can join the cyber workforce</strong>, tackling inequality in the sector where only 16% are female, and only 3% of senior roles are held by women and ethnic minorities.<a href="CCS1021632420-002_National_Cyber_Strategy_001_Pillar_1.html#footnote-000">25</a>

<strong>CyberFirst</strong>

The <a href="https://www.ncsc.gov.uk/cyberfirst/overview">CyberFirst</a> courses and Discovery programme have engaged nearly 300,000 young people aged 11-17 in the last five years.

<strong>The UK Cyber Cluster Collaboration</strong>

<a href="https://ukc3.co.uk/">The UK Cyber Cluster Collaboration</a> is building partnerships between industry, schools and colleges to ensure opportunities and expertise are available across the regions.

<strong>Cyber Choices</strong>

The NCA’s <a href="https://nationalcrimeagency.gov.uk/what-we-do/crime-threats/cyber-crime/cyberchoices">Cyber Choices</a> programme is helping young people to make informed choices and use their cyber skills in a legal way, raising awareness and providing better alternatives such as apprenticeships and work placements
