
##Pillar 4: Global Leadership

(image)

###Advancing UK global leadership and influence for a secure and prosperous international order

A free, open, peaceful and secure cyberspace remains critical to our collective security and prosperity, and international engagement will continue to be vital for delivering all UK cyber strategy objectives. However, to respond to an era of systemic competition, the UK will now take a more activist international leadership role to promote our interests and values in cyberspace. UK activity in cyberspace and our cyber expertise will also be placed at the heart of delivering the government’s broader foreign policy agenda: we will use them proactively to help achieve an open, secure and prosperous international order.

We will reinforce our core alliances, whilst working with a wider range of partners, including industry, global technical standards bodies, civil society and academia as a problem-solving, burden-sharing nation. We will invest in deeper relationships with partners in Africa and the Indo-Pacific and seize opportunities for new, more agile alliances. We will also continue to enhance our diplomatic toolkit, connecting our overseas influence to our domestic strengths, leveraging our operational and strategic communications expertise, skills programmes and economic partnerships as a global force for good. Our approach is in the interests of global security and prosperity, not just our own. 

####Objective 1: Strengthen the cyber security and resilience of international partners and increase collective action to disrupt and deter adversaries

Collective action and mutual resilience are critical to countering threats upstream, whilst also reducing the incentives for cyber threat actors to carry out attacks against the UK and its partners. <strong>We will achieve the following by 2025: </strong>

<strong>The UK’s international partners have stronger capabilities, political resolve, governance, and systems for investigating and disrupting cyber threats, as well as for building resilience</strong>. This will have resulted in a reduced threat from abroad to UK citizens. We will prioritise our cyber capacity building assistance in Eastern Europe, Africa and the Indo-Pacific, and continue to work with key allies in the Middle East and the Americas. We will develop a more integrated, whole-of-government technical offer, with greater investment in law enforcement and defence expertise, drawing more on UK industry and academia. Our focus will be on protecting critical international supply chains and infrastructure, advancing the secure use of digital technologies and working with industry partners to do so at scale. 

We will also do more to build the capacity of civil society organisations, enabling a values-driven debate around technology and society and building local mechanisms of accountability. And we will continue to work with effective multilateral organisations and partnerships including the United Nations, Five Eyes, NATO, G7, European Union, Commonwealth, OECD, Global Forum on Cyber Expertise (GFCE), ASEAN Forum, African Union and the World Bank.

To improve our protection of UK interests and citizens overseas we will also develop and deliver an international cyber hygiene campaign for UK overseas missions that will be tailored and delivered locally. The aim will be to raise the cost of malicious activity, such as hacking, data and IP theft and ransomware. The campaign will be delivered through our diplomats, country-based staff, the local British business community and implementers of UK development programmes. 

<strong>A broader international alliance that is willing and able to impose more meaningful consequences on the UK’s adversaries</strong>. We will improve international resolve and capabilities through greater diplomatic engagement, operational collaboration, information sharing and joint exercising. By working through policy, operational and law enforcement channels we will increase the impact of measures, such as targeted cyber sanctions, as well as identify new tools for raising the costs for cyber threat actors. We will build more mutual understanding across key allied and partner countries’ cyber forces and better integrate cyber operations into allied operations across all domains: land, sea, air, space and cyberspace. 

And we will continue to support the development of the NATO alliance’s cyber security capabilities for strengthened collective action, including supporting the processes to integrate sovereign cyber effects provided voluntarily by the UK and some other allies, into NATO operations and missions.

####Objective 2: Shape global governance to promote a free, open, peaceful and secure cyberspace

States who do not share the UK’s values exploit the challenges presented by a free and open internet to push forward their authoritarian visions for cyberspace, under the guise of security. The UK will take a more proactive approach, working with our allies and partners to ensure international rules and frameworks develop in line with our democratic values. We aim to support national and global economic growth, enhance collective security, encourage responsible use of offensive cyber tools and enable real consequences for malicious and irresponsible activities. We will achieve the following outcomes by 2025:

<strong>Global governance of cyberspace and the internet is protecting UK interests and values, with the UK and our partners having greater influence</strong> over the development and implementation of international governance and standards frameworks. We will take a more progressive and proactive approach to shaping the frameworks that govern cyberspace to promote global economic growth and security. We will design and deliver practical steps that unblock the international debate on the application of rules, norms and principles in cyberspace and move it towards a consensus on effective constraints on destructive and destabilising activity. We will do this through key regional and specialist organisations including the OSCE, ASEAN and the GFCE and engage constructively with the UN process to develop a new international cyber crime treaty which sits alongside the Budapest Convention, ensuring that it strengthens international cooperation and maintains human rights protections. 

We will also continue to promote the Budapest Convention on cyber crime, working with international partners to make a compelling case for it to remain the premier international agreement for cooperation. And we will continue to promote and enhance multistakeholder processes for the governance of the internet, including ICANN and at the Internet Governance Forum (IGF). These efforts will be complemented by our work to shape global digital technical standards (described in the Technology chapter) and our work to expand UK cyber security exports (set out below) which will also help to embed UK standards into the cyber ecosystems of other nations. 

<strong>Most ‘middle ground’ countries support and promote the UK’s vision for cyberspace and the future of the internet, more successfully countering the influence of authoritarian states over the multi-stakeholder system</strong>. We will demonstrate that it is possible to address challenges in cyberspace without adopting authoritarian approaches while also enabling innovation, development and growth. We will support countries grappling with digitalisation to build the full range of legal and strategic communications expertise they need to engage with the international debate and to implement agreed frameworks. We will continue to expose irresponsible use of cyber capabilities, building trust internationally. And we will continue to demonstrate an open and transparent approach to our use of offensive cyber capabilities wherever we can, reinforcing the UK’s reputation as a force for good.

####Objective 3: Leverage and export UK cyber capabilities and expertise to boost our strategic advantage and promote our broader foreign policy and prosperity interests.

In response to systemic competition and rapid technological change, UK cyber activity and capabilities will be considered alongside other sources of national power to bolster our strategic advantage and promote our foreign policy and prosperity goals. Our aim is to achieve an international order in which open societies and economies can flourish and human rights are defended, whilst driving prosperity at home. <strong>We will achieve the following outcomes by 2025:</strong>

Our activity in and in relation to cyberspace <strong>has enhanced global stability and protected the rules-based international system, open societies and democratic systems where they are being undermined</strong>. We will deliver an international values-based campaign to champion human rights, diversity, and gender equality in the design, development and use of cyberspace. This will include but not be limited to tackling internet shutdowns, bias in Artificial Intelligence algorithms and increasing online safety. We will compete more effectively to protect democratic values, systems and processes and strengthen the rules-based international system (including the United Nations, World Health Organisation and the global trading system) by investing further in our network of cyber officers that stretch across six continents. We will enhance our use of strategic communications to promote UK research collaboration and academic exchange programmes and help to ensure UK ideas translate into practical applications.

<strong>The UK is one of the top 3 global exporters of cyber solutions and cyber expertise</strong>, with our cyber industry regarded as the ‘go-to’ provider of cyber security solutions for foreign government and major commercial clients. We will showcase the best of UK cyber security through more active international government-to-government engagement, under the auspices of the UK Cyber Security Ambassador Programme and our international network. We will support companies across the UK at every stage of the innovation to export pathway to become competent exporters and attract inward investment and provide more support to SMEs, including through a new Export Faculty.<a href="CCS1021632420-002_National_Cyber_Strategy_004_Pillar_4.html#footnote-001">32</a> <a href="CCS1021632420-002_National_Cyber_Strategy_004_Pillar_4.html#footnote-000">33</a> Alongside our work through the Cyber Growth Partnership and other efforts outlined in the UK Cyber Ecosystem chapter we will also develop a new Cyber Capability Campaign Office to provide more structured and coordinated support to major export campaigns.

<strong>Charles Juma, UK Digital Access Programme in Nairobi</strong>

My name is Charles Wesonga Juma. I lead, shape and deliver cyber security, digital development, inclusion, and entrepreneurship as part of the global and cross-government UK Digital Access Programme in Kenya. I also support complementary projects under the Conflict, Stability and Security Fund (CSSF) Cyber Portfolio. The importance of online safety, security, data protection and responsible use of cyberspace cannot be overemphasised. As we have learnt from the COVID-19 pandemic, online safety and hygiene can be as important as public health and hygiene. I am passionate about ensuring that everyone is protected from online threats and harms as part of the UK government’s overall cyber power.

<strong>Sara Merchant, Cyber Officer at the British Embassy, Tbilisi</strong>

I’m Sara and I’m posted to the British Embassy Tbilisi as our Cyber Officer, working closely with the Georgian Government and NCSC UK. My day-to-day work varies from political engagement, to supporting implementation of the new cyber strategy, to leveraging UK specialists to increase Georgia’s technical capability. I feel privileged to be at the forefront of projecting UK expertise and supporting Georgia to build up resilience against cyber threats. As a country who has, unfortunately, a great deal of experience in being on the sharp end of hostile state activity there is a lot we can learn here in Georgia. Our work makes us both stronger, more resilient, and better informed.